{{! @glint-nocheck: not typesafe yet }}
<SidebarContainer>
  <:sidebar>
    <div class="au-o-box">
      <AuHeading @level="2" @skin="3" class="au-u-margin-bottom">
        {{t "utility.filters"}}
      </AuHeading>
      <form class="au-c-form">
        <AuFormRow>
          <AuLabel for="label-filter">
            {{t "traffic-measure-concept.crud.label-filter"}}
          </AuLabel>
          <AuInput
            id="label-filter"
            value={{this.label}}
            placeholder={{t
              "traffic-measure-concept.crud.label-filter-placeholder"
            }}
            @icon="search"
            @iconAlignment="right"
            {{on "input" (perform this.updateSearchFilterTask "label")}}
          />
        </AuFormRow>
        <AuFormRow>
          <AuLabel for="text-filter">
            {{t "traffic-measure-concept.crud.text-filter"}}
          </AuLabel>
          <AuInput
            id="text-filter"
            value={{this.templateFilter}}
            placeholder={{t
              "traffic-measure-concept.crud.text-filter-placeholder"
            }}
            @icon="search"
            @iconAlignment="right"
            {{on "input" (perform this.updateSearchFilterTask "templateFilter")}}
          />
        </AuFormRow>
         <div>
          <AuLabel for="validation-filter">
            {{t "traffic-measure-concept.crud.validation-filter"}}
          </AuLabel>
          <PowerSelect
            @allowClear={{true}}
            @options={{this.validationStatusOptions}}
            @selected={{this.selectedValidationStatus}}
            @placeholder={{t
              "traffic-measure-concept.crud.validation-filter-placeholder"
            }}
            @loadingMessage={{t "utility.loading"}}
            @onChange={{this.updateValidationFilter}}
            @triggerId="validation-filter"
            as |validation|
          >
            {{validation.label}}
          </PowerSelect>
        </div>
        <div>
          <AuLabel for="variable-signage-filter">
            {{t "traffic-measure-concept.attr.variable-signage"}}
          </AuLabel>
          <PowerSelect
            @allowClear={{true}}
            @options={{this.variableSignageOptions}}
            @selected={{this.selectedVariableSignage}}
            @placeholder={{t
              "traffic-measure-concept.crud.variable-signage-filter-placeholder"
            }}
            @loadingMessage={{t "utility.loading"}}
            @onChange={{this.updateSignageFilter}}
            @triggerId="variable-signage-filter"
            as |signage|
          >
            {{signage.label}}
          </PowerSelect>
        </div>
        <ValidityFilters
          @onChange={{this.updateValidityFilter}}
          @value={{this.validityOption}}
          @startDate={{this.validityStartDate}}
          @endDate={{this.validityEndDate}}
        />
        <div>
          <AuLabel for="zonality-filter">
            {{t "utility.zonality"}}
          </AuLabel>
          <PowerSelectMultiple
            @allowClear={{true}}
            @options={{this.zonalityOptions}}
            @selected={{this.zonality}}
            @placeholder={{t
              "utility.zonality-filter-placeholder"
            }}
            @loadingMessage={{t "utility.loading"}}
            @onChange={{this.updateZonalityFilter}}
            @triggerId="zonality-filter"
            as |zonality|
          >
            {{zonality.label}}
          </PowerSelectMultiple>
        </div>
        <ResetFilters
          @canReset={{this.hasActiveFilter}}
          @onReset={{this.resetFilters}}
        />
      </form>
    </div>
  </:sidebar>
  <:content>
    <SearchTables::TrafficMeasure
      @content={{this.trafficMeasures.value}}
      @isLoading={{this.trafficMeasures.isLoading}}
      @pageSize={{this.size}}
      @page={{this.page}}
      @sort={{this.sort}}
      @onPageChange={{this.onPageChange}}
      @onSortChange={{this.onSortChange}}
    >
      <:menu>
        <AuToolbar class="au-o-box" as |Group|>
          <Group>
            <AuHeading @skin="2">
              {{t "traffic-measure-concept.name"}}
            </AuHeading>
          </Group>
          <Group class="au-c-toolbar__group--center">
            <AuLink @route="traffic-measure-concepts.new" @skin="button">
              {{t "traffic-measure-concept.crud.new"}}
            </AuLink>
          </Group>
        </AuToolbar>
      </:menu>
    </SearchTables::TrafficMeasure>
  </:content>
</SidebarContainer>
