<AuDataTable
  @content={{this.model}}
  @fields="signs templates"
  @noDataMessage={{t "trafficMeasureConcept.crud.noData"}}
  @size={{this.size}}
  @page={{this.page}}
  @sort={{this.sort}} as |s|
>
<s.menu as |menu|>
    <menu.general>
      <AuToolbar class="au-o-box">
        <AuToolbarGroup>
          <AuHeading @skin="2">
            {{t "trafficMeasureConcept.name"}}
          </AuHeading>
        </AuToolbarGroup>
        <AuToolbarGroup class="au-c-toolbar__group--center">
          {{! Copied from the AuDataTable::TextSearch component since that doesn't support calling actions on input}}
          <div class="au-c-data-table__search traffic-light-code-search">
            <input
              value={{this.code}}
              placeholder={{t "trafficMeasureConcept.attr.code"}}
              class="au-c-input au-c-input--block"
              {{on "input" (perform this.updateSearchFilterTask "code")}}
            />
            <span class="au-c-data-table__search-icon">
              <AuIcon @icon="search" @size="large" />
            </span>
          </div>
          <LinkTo class="au-c-button" @route="traffic-measure-concepts.new">
            {{t "trafficMeasureConcept.crud.new"}}
          </LinkTo>
        </AuToolbarGroup>
      </AuToolbar>
    </menu.general>
  </s.menu>
  <s.content as |c|>
    <c.header>
      <AuDataTableThSortable
        @field="label"
        @currentSorting={{this.sort}}
        @label="Name"
      />
      <th>
        {{t "trafficMeasureConcept.attr.sign"}}
      </th>
      <th>
        {{t "trafficMeasureConcept.attr.template"}}
      </th>
      <th>

      </th>
    </c.header>
    <c.body as |trafficMeasureConcept|>
      <td>
        {{trafficMeasureConcept.label}}
      </td>
      <td>
        {{#each trafficMeasureConcept.orderedRelations as |relation|}}
          <img src={{relation.concept.image}} alt="" role="presentation" height="50">
        {{/each}}
      </td>
      <td>
        {{trafficMeasureConcept.templates.firstObject.value}}
      </td>
      <td>
        <LinkTo
          class="au-c-link"
          @route="traffic-measure-concepts.edit"
          @model={{trafficMeasureConcept.id}}
        >
          {{t "trafficMeasureConcept.crud.edit"}}
        </LinkTo>
      </td>
    </c.body>
  </s.content>
</AuDataTable>