{{page-title (t "trafficMeasureConcept.crud.new")}}

<BreadcrumbsItem as |linkClass|>
  <LinkTo @route="traffic-measure-concepts.new" class={{linkClass}}>
    {{t "trafficMeasureConcept.crud.new"}}
  </LinkTo>
</BreadcrumbsItem>

<AuToolbar @border="bottom" @size="large">
  <AuToolbarGroup>
    <AuHeading @skin="2">
      {{t "trafficMeasureConcept.crud.new"}}
    </AuHeading>
  </AuToolbarGroup>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <TrafficMeasure @trafficMeasureConcept={{@model}} @new={{true}}/>
</div>
