{{page-title (t "traffic-measure-concept.crud.new")}}

<BreadcrumbsItem as |linkClass|>
  <LinkTo @route="traffic-measure-concepts.new" class={{linkClass}}>
    {{t "traffic-measure-concept.crud.new"}}
  </LinkTo>
</BreadcrumbsItem>

<div class="au-c-body-container au-c-body-container--scroll">
  <TrafficMeasure @trafficMeasureConcept={{@model}}>
    <:title>
      <AuHeading @skin="2">
        {{t "traffic-measure-concept.crud.new"}}
      </AuHeading>
    </:title>
  </TrafficMeasure>
</div>