{{! @glint-nocheck: not typesafe yet }}
<div class="au-o-grid au-o-grid--tiny">
  <div class="au-o-grid__item au-u-1-2@medium">
    <PowerSelect
      @loadingMessage={{t "utility.loading"}}
      @noMatchesMessage={{t "traffic-measure-concept.crud.no-matches"}}
      @placeholder={{t "utility.search-placeholder"}}
      @searchEnabled={{true}}
      @searchMessage={{t "utility.search-placeholder"}}
      @allowClear={{@allowClear}}
      @disabled={{@disabled}}
      @search={{perform this.search}}
      @selected={{this.selected}}
      @onChange={{this.select}}
      as |sign|
    >
      <div class="au-c-thumbnail-holder">
        <img
          class="au-c-thumbnail au-c-thumbnail--small au-u-margin-right-tiny"
          src={{sign.image.file.downloadLink}}
          alt=""
          {{! actually required by linting  ¯\_(ツ)_/¯ => seems correct to me for accessibility, an empty alt is better for accessibility than no alt attribute :-)  }}
        />
        {{sign.label}}
      </div>
    </PowerSelect>
  </div>
  <div class="au-o-grid__item au-u-1-2@medium">
    <AuButton
      @width="block"
      {{on "click" (fn this.addSign this.selected)}}
      class="au-u-margin-bottom-small"
    >
      {{t "traffic-measure-concept.attr.add-sign"}}
    </AuButton>
  </div>
</div>