<div class="au-c-form au-u-margin-bottom-small">
  <PowerSelect
    @loadingMessage={{t "trafficMeasureConcept.crud.loading"}}
    @noMatchesMessage={{t "trafficMeasureConcept.crud.noMatches"}}
    @placeholder={{t "trafficMeasureConcept.crud.typeToSearch"}}
    @searchEnabled={{true}}
    @allowClear={{@allowClear}}
    @disabled={{@disabled}}
    @search={{perform this.search}}
    @selected={{this.selected}}
    @onChange={{this.select}}
    as |sign|>
    <img
      class="au-c-thumbnail"
      src={{sign.image}}
      alt="" {{!-- actually required by linting  ¯\_(ツ)_/¯  --}}
      role="presentation"
    />
    {{sign.label}}
  </PowerSelect>
</div>
<AuButton @width="block" {{on "click" (fn this.addSign this.selected)}} class="au-u-margin-bottom-small">
  {{t "trafficMeasureConcept.attr.addSign"}}
</AuButton>

<AuHelpText @error={{true}}>{{@error}}</AuHelpText>
