<div class="au-o-grid">
  <div class="au-o-grid__item au-u-1-2">
    <AuHeading @level="3" @skin="3">
      Signs:
    </AuHeading>
    <div class="au-o-grid">
      <div class="au-o-grid__item au-u-1-2">
        <AuInput {{on "change" this.updateSearchString}} id="input-signs" @width="block"/>
      </div>
      <div class="au-o-grid__item au-u-1-2">  
        <AuButton {{on "click" (perform this.addSign)}}>Add Sign</AuButton>
      </div>
    </div>
    <AuHelpText @error={{true}}>{{this.error}}</AuHelpText>

    {{#each this.signs as |sign|}}
      <img src={{sign.image}} height="50">
    {{/each}}
    <br><br>
    {{#if this.signs}}
      <AuLabel for="textarea-regular">Template</AuLabel>
      <AuTextarea id="textarea-regular" @width="block" {{on "change" this.updateTemplate}}  style="resize: none; height: 300px;"></AuTextarea>
      <AuButton {{on "click" this.parseTemplate}}>Update</AuButton>
    {{/if}}
    {{#if this.variables.length}}
    <table>
      <thead>

      </thead>
        <tr>
          <th>Variable</th>
          <th>Type</th>
        </tr>
      <tbody>
      {{#each this.variables as |var|}}
        <tr>
          <td>{{var.varName}}</td>
          <td>
            <PowerSelect
              @allowClear={{false}}
              @disabled={{disabled}}
              @searchEnabled={{false}}
              @loadingMessage="Aan het laden..."
              @noMatchesMessage="Geen resultaten"
              @searchMessage="Typ om te zoeken"
              @options={{this.inputTypes}}
              @selected={{var.type}}
              @onChange={{fn (mut var.type)}} as |type|>
                {{type}}
            </PowerSelect>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
    <AuButton {{on "click" this.generatePreview}}>Update</AuButton>
    {{/if}}
  </div>



  <div class="au-o-grid__item au-u-1-2">
    <AuHeading @level="3" @skin="3">
      Preview:
    </AuHeading>
    {{#each this.signs as |sign|}}
      <img src={{sign.image}} height="50">
    {{/each}}
    <br><br>
    {{{this.preview}}}
  </div>
</div>