<div class="au-o-grid">
  <div class="au-o-grid__item au-u-1-2" style="padding:50px">
    <AuHeading @level="2" @skin="2">
      {{this.label}}
    </AuHeading>
    <br><br>
    <AuHeading @level="3" @skin="3">
      Signs:
    </AuHeading>
    <div class="au-o-grid">
      <div class="au-o-grid__item au-u-1-2">
        <AuInput @icon="search" {{on "change" this.updateSearchString}} id="input-signs" @width="block"/>
      </div>
      <div class="au-o-grid__item au-u-1-2">  
        <AuButton @skin="secondary"  @width="block" {{on "click" (perform this.addSign)}}>Add Sign</AuButton>
      </div>
    </div>
    <AuHelpText @error={{true}}>{{this.error}}</AuHelpText>
    <div class="signs-container">
      {{#each this.signs as |sign|}}
        <div class="sign-container">
          <img src={{sign.image}} height="50">
          <button {{on "click" (fn this.removeSign sign)}} class="delete-sign-button">X</button>
        </div>
      {{/each}}
    </div>
    <br><br>
    {{#if this.signs}}
      <AuHeading @level="3" @skin="3">
        Template:
      </AuHeading>
      <AuTextarea id="textarea" @width="block" {{on "change" this.updateTemplate}} @value={{this.template}} style="resize: none; height: 200px;"></AuTextarea>
      <AuButton @skin="secondary"  @width="block" {{on "click" this.parseTemplate}}>Update Preview / Variables / RDFA Model</AuButton>
    {{/if}}
    {{#if this.variables.length}}
    <br><br>
    <AuHeading @level="3" @skin="3">
      Variables:
    </AuHeading>
      <div class="au-c-data-table__wrapper">
        <table class="au-c-data-table__table">
          <thead class="au-c-data-table__header">
            <tr>
              <th>Variable</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
          {{#each this.variables as |variable|}}
            <tr>
              <td>{{variable.label}}</td>
              <td style="width: 50%;">
                <PowerSelect
                  @allowClear={{false}}
                  @searchEnabled={{false}}
                  @options={{this.inputTypes}}
                  @selected={{variable.type}}
                  @onChange={{action (mut variable.type)}} as |type|
                >
                  {{type}}
                </PowerSelect>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    <AuButton  
      @width="block" 
      {{on "click" (perform this.save)}}
      @loading={{if this.save.isRunning true false}}
      @disabled={{if this.save.isRunning true false}}
    >
      Save
    </AuButton>
    <AuButton  @alert={{true}} @width="block" {{on "click" (perform this.delete)}}>Delete</AuButton>
    {{/if}}
  </div>



  <div class="au-o-grid__item au-u-1-2" style="padding:50px; background-color:#eeeeee">
    <AuHeading @level="3" @skin="3">
      Preview:
    </AuHeading>
    {{#each this.signs as |sign|}}
      <img src={{sign.image}} height="50">
    {{/each}}
    <br><br>
    {{{this.preview}}}
    <br><br>
    <AuHeading @level="3" @skin="3">
      RDFA Model:
    </AuHeading>
    <pre>
      {{this.model}}
    </pre>
  </div>
</div>