<div class="au-o-grid au-o-grid--flush au-o-grid--split">
  {{!-- template-lint-disable no-inline-styles --}}
  <div class="au-o-grid__item au-u-1-2@medium">
    <div class="au-o-box au-c-body-container au-c-body-container--scroll au-c-body-container--table">
      <AuHeading @level="3" @skin="3" class="au-u-margin-bottom">
        {{this.label}}
      </AuHeading>
      <AuHeading @level="4" @skin="4" class="au-u-margin-bottom-small">
        {{t "trafficMeasureConcept.attr.trafficSign"}}
      </AuHeading>
      <TrafficMeasure::AddSign @updateSearchString={{this.updateSearchString}} @addSign={{perform this.addSign}} @error={{this.signError}} />
      <TrafficMeasure::SignList @removeSign={{this.removeSign}} @signs={{this.signs}} />

      {{#if this.signs}}
      <div class="au-u-margin-bottom">
        <AuHeading @level="4" @skin="4"  class="au-u-margin-bottom-small">
          {{t "trafficMeasureConcept.attr.template"}}
        </AuHeading>
        {{!-- template-lint-disable no-inline-styles --}}
        <AuTextarea id="textarea" @width="block" {{on "change" this.updateTemplate}} @value={{this.template.value}} style="resize: none; height: 200px;" class="au-u-margin-bottom-small"></AuTextarea>
        <AuButton @skin="secondary"  @width="block" {{on "click" this.parseTemplate}}>
          {{t "trafficMeasureConcept.attr.updatePreviewEtc"}}
        </AuButton>
      </div>
      {{/if}}
      {{#if this.mappings.length}}
      <AuHeading @level="4" @skin="4"  class="au-u-margin-bottom-small">
        {{t "trafficMeasureConcept.attr.variables"}}
      </AuHeading>
      <div class="au-c-card">
        <div class="au-data-table">
          <div class="au-c-data-table__wrapper">
            <table class="au-c-data-table__table">
              <thead class="au-c-data-table__header">
                <tr>
                  <th>{{t "trafficMeasureConcept.attr.variable"}}</th>
                  <th>{{t "trafficMeasureConcept.attr.type"}}</th>
                </tr>
              </thead>
              <tbody>
              {{#each this.mappings as |mapping|}}
                <tr>
                  <td>{{mapping.variable}}</td>
                  {{!-- template-lint-disable no-inline-styles --}}
                  <td style="width: 50%;">
                    <PowerSelect
                      @allowClear={{false}}
                      @searchEnabled={{false}}
                      @options={{this.inputTypes}}
                      @selected={{mapping.type}}
                      @onChange={{fn (mut mapping.type)}} as |type|
                    >
                      {{type}}
                    </PowerSelect>
                  </td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {{/if}}
    </div>
  </div>

  {{!-- template-lint-disable no-inline-styles --}}
  <div class="au-o-grid__item au-u-1-2@medium">
    <div class="au-o-box au-c-body-container au-c-body-container--scroll au-c-theme-gray-100">
      <AuHeading @level="3" @skin="3" class="au-u-margin-bottom">
        {{t "trafficMeasureConcept.attr.preview"}}
      </AuHeading>
      <div class="au-u-margin-bottom">
      {{#each this.signs as |sign|}}
        <img src={{sign.image}} alt="" role="presentation" class="au-c-thumbnail">
      {{/each}}
      </div>
      {{!-- template-lint-disable no-triple-curlies --}}
      <AuHeading @level="4" @skin="4" class="au-u-margin-bottom-small">
        {{t "trafficMeasureConcept.attr.template"}}
      </AuHeading>
      <div class="au-o-box au-o-box--small au-c-theme-gray-200 au-u-margin-bottom">
        {{{this.preview}}}
      </div>
      <AuHeading @level="4" @skin="4" class="au-u-margin-bottom-small">
        {{t "trafficMeasureConcept.attr.rdfaModel"}}
      </AuHeading>
      <pre class="au-c-pre au-u-word-break-all au-c-theme-gray-200">
        {{this.model}}
      </pre>
    </div>
  </div>
</div>
<AuToolbar @border="top" @size="large">
  <AuToolbarGroup>
    <AuButtonGroup>
      <AuButton
        {{on "click" (perform this.save)}}
        @loading={{if this.save.isRunning true false}}
        @disabled={{if this.save.isRunning true false}}
      >
        {{t "trafficMeasureConcept.crud.save"}}
      </AuButton>
      <AuButton  @alert={{true}} @skin="secondary" {{on "click" (perform this.delete)}}>
        {{t "trafficMeasureConcept.crud.delete"}}
      </AuButton>
    </AuButtonGroup>
  </AuToolbarGroup>
  <AuToolbarGroup>
    <AuButtonGroup>
      <AuLink
        @skin="button-secondary"
        @route="traffic-measure-concepts.index"
      >
        {{t "utility.cancel"}}
      </AuLink>
    </AuButtonGroup>
  </AuToolbarGroup>
</AuToolbar>
