{{! @glint-nocheck: not typesafe yet }}
{{#if this.signsError}}
  <AuAlert @icon="alert-triangle" @skin="warning">
    {{t "utility.incomplete-measure-error"}}
  </AuAlert>
{{/if}}
<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group class="au-u-flex--vertical-center">
    {{yield to="title"}}
    <ValidationStatus @valid={{@trafficMeasureConcept.valid}} />
  </Group>
  <Group>
    <AuButtonGroup>
      <AuButton
        {{on "click" (perform this.save)}}
        @loading={{if this.save.isRunning true false}}
        @loadingMessage={{t "utility.save"}}
        @disabled={{or @trafficMeasureConcept.error this.save.isRunning}}
      >
        {{t "utility.save"}}
      </AuButton>

      {{#if @trafficMeasureConcept.isNew}}
        <AuLink @skin="button-secondary" @route="traffic-measure-concepts">
          {{t "utility.cancel"}}
        </AuLink>
      {{else}}
        <AuLink
          @skin="button-secondary"
          @route="traffic-measure-concepts.details"
          @model={{@trafficMeasureConcept.id}}
        >
          {{t "utility.cancel"}}
        </AuLink>
      {{/if}}
    </AuButtonGroup>
  </Group>
</AuToolbar>

<div
  class="au-o-grid au-o-grid--flush au-o-grid--split"
  {{did-insert this.didInsert}}
  {{! TODO: refactor did-insert }}
  {{!template-lint-disable no-at-ember-render-modifiers}}
>
  {{! template-lint-disable no-inline-styles }}
  <div class="au-o-grid__item au-u-1-2@medium">
    <div
      class="au-o-box au-c-body-container au-c-body-container--scroll au-c-body-container--table"
    >
      <AuToolbar class="au-u-margin-bottom" as |Group|>
        <Group>
          <AuHeading @level="3" @skin="3">
            {{!-- {{this.label}} --}}
            {{t "utility.properties"}}
          </AuHeading>
        </Group>
        {{#unless @trafficMeasureConcept.isNew}}
          <Group>
            <ContentCheck @concept={{@trafficMeasureConcept}} />
          </Group>
        {{/unless}}
      </AuToolbar>
      <div class="au-o-grid">
        <div class="au-o-grid__item au-u-1-2">
          <AuHeading @level="4" @skin="4" class="au-u-margin-bottom-small">
            {{t "utility.zonality"}}
          </AuHeading>
          {{#let (load @trafficMeasureConcept.zonality) as |zonality|}}
            {{#if zonality.isResolved}}
              <ZonalitySelector
                @zonality={{zonality.value}}
                @onChange={{this.updateZonality}}
                @model={{@trafficMeasureConcept}}
              />
            {{/if}}
          {{/let}}
        </div>
        <div class="au-o-grid__item au-u-1-2">
          <AuHeading @level="4" @skin="4" class="au-u-margin-bottom-small">
            {{t "traffic-measure-concept.attr.variable-signage"}}
          </AuHeading>
          <VariableSignageSelector @concept={{@trafficMeasureConcept}} />
        </div>
      </div>
      {{#let @trafficMeasureConcept.error.startDate @trafficMeasureConcept.warning.startDate as |error warning|}}
          <AuFormRow>
            <AuLabel
              @error={{error}}
              @warning={{warning}}
              for="startDate"
            >
              {{t "utility.start-date"}}&nbsp;
            </AuLabel>
            <AuDatePicker
              @error={{error}}
              @warning={{warning}}
              id="startDate"
              @value={{@trafficMeasureConcept.startDate}}
              @onChange={{fn this.setTrafficMeasureDate 'startDate'}}
            />
            <ErrorMessage @error={{error}} @warning={{warning}} />
          </AuFormRow>
        {{/let}}
        {{#let @trafficMeasureConcept.error.endDate @trafficMeasureConcept.warning.endDate as |error warning|}}
          <AuFormRow>
            <AuLabel
              @error={{error}}
              @warning={{warning}}
              for="endDate"
            >
              {{t "utility.end-date"}}&nbsp;
            </AuLabel>
            <AuDatePicker
              @error={{error}}
              @warning={{warning}}
              id="endDate"
              @min={{@trafficMeasureConcept.startDate}}
              @value={{@trafficMeasureConcept.endDate}}
              @onChange={{fn this.setTrafficMeasureDate 'endDate'}}
            />
            <ErrorMessage @error={{error}} @warning={{warning}} />
          </AuFormRow>
        {{/let}}
      <AuHeading
        @level="4"
        @skin="4"
        class="au-u-margin-bottom-small au-u-margin-top-small"
      >
        {{t "traffic-measure-concept.attr.traffic-sign"}}
      </AuHeading>
      <div class="au-o-grid au-o-grid--tiny">
        <div class="au-o-grid__item au-u-1-4@medium">
          <TrafficMeasure::SelectType
            @selectedType={{this.selectedType}}
            @updateTypeFilter={{this.updateTypeFilter}}
          />
        </div>
        <div class="au-o-grid__item au-u-1-4@medium">
          <PowerSelect
            @allowClear={{true}}
            @options={{this.validationStatusOptions}}
            @selected={{this.selectedValidationStatus}}
            @placeholder={{t "traffic-measure-concept.crud.validation-filter-placeholder"}}
            @onChange={{this.updateValidationFilter}}
            as |validationType|
          >
            {{validationType.label}}
          </PowerSelect>
        </div>
        <div class="au-o-grid__item au-u-2-4@medium">
          <TrafficMeasure::AddSign
            @selectedType={{this.selectedType}}
            @selectedValidation={{this.signValidation}}
            @addSign={{this.addSign}}
            @disabled={{this.isSelectedTypeEmpty}}
          />
        </div>
        <div class="au-o-grid__item">
          <TrafficMeasure::SignList
            @removeSign={{this.removeSign}}
            @addInstructionToTemplate={{this.addInstructionToTemplate}}
            @signs={{this.signs}}
          />
        </div>
      </div>
      {{#let this.template.error.value as |error| }}
      <div class="au-u-margin-bottom-small">
        <AuHeading @level="4" @skin="4">
          {{t "traffic-measure-concept.attr.template"}}
        </AuHeading>
        <AuHelpText
          @skin="secondary"
          class="au-u-margin-bottom-small au-u-flex-center"
        >
          <AuBadge
            @icon="info-circle"
            @size="small"
            class="au-u-margin-right-tiny"
          />
          {{t "traffic-measure-concept.help"}}
        </AuHelpText>
        {{! template-lint-disable no-inline-styles }}
        <AuTextarea
          id="textarea"
          @width="block"
          {{on "input" this.updateTemplate}}
          {{on "input" this.parseTemplate}}
          value={{this.template.value}}
          style="resize: none; height: 200px;"
          class="au-u-margin-bottom-small"
          @error={{error}}
        />
        <ErrorMessage @error={{error}}/>
      </div>
      {{/let}}
      {{#if this.variables.length}}
        <AuHeading @level="4" @skin="4" class="au-u-margin-bottom-small">
          {{t "traffic-measure-concept.attr.variables"}}
        </AuHeading>
        <div class="au-c-card">
          <div class="au-data-table">
            <div class="au-c-data-table__wrapper">
              <table
                class="au-c-data-table__table au-c-data-table__table--small"
              >
                <thead class="au-c-data-table__header">
                  <tr>
                    <th>{{t "traffic-measure-concept.attr.variable"}}</th>
                    <th>{{t "utility.required"}}</th>
                    <th>{{t "traffic-measure-concept.attr.type"}}</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each this.variables as |variable|}}
                    <tr>
                      <td>{{variable.label}}</td>
                      {{! template-lint-disable no-inline-styles }}
                      <td style="width: 33%;">
                        <AuCheckbox
                          @value={{variable.required}}
                          @checked={{variable.required}}
                          @onChange={{fn this.updateVariableRequired variable}}
                        >
                          {{t "utility.required"}}
                        </AuCheckbox>
                      </td>
                      <td style="width: 33%;">
                        <PowerSelect
                          @allowClear={{false}}
                          @searchEnabled={{false}}
                          @options={{this.inputTypes}}
                          @selected={{find-by-value
                            this.inputTypes
                            variable.type
                          }}
                          @onChange={{fn this.updateVariableType variable}}
                          as |type|
                        >
                          {{type.label}}
                        </PowerSelect>
                        {{#if (eq variable.type "codelist")}}
                          <PowerSelect
                            @triggerClass="au-u-margin-top-tiny"
                            @allowClear={{false}}
                            @searchEnabled={{false}}
                            @options={{this.codeLists}}
                            @selected={{variable.codeList}}
                            @onChange={{fn this.updateCodelist variable}}
                            as |codeList|
                          >
                            {{codeList.label}}
                          </PowerSelect>
                          <ul
                            class="au-c-list-help au-c-help-text au-c-help-text--secondary"
                          >
                            {{#each variable.codeList.concepts as |option|}}
                              <li
                                class="au-c-list-help__item"
                              >{{option.label}}</li>
                            {{/each}}
                          </ul>
                        {{/if}}
                        {{#if (eq variable.type "instruction")}}
                          <PowerSelect
                            @triggerClass="au-u-margin-top-tiny"
                            @allowClear={{false}}
                            @searchEnabled={{false}}
                            @options={{this.instructions}}
                            @selected={{variable.template}}
                            @onChange={{fn this.updateInstruction variable}}
                            as |instruction|
                          >
                            <div class="au-c-thumbnail-holder">
                              <img
                                class="au-c-thumbnail au-c-thumbnail--small au-u-margin-right-tiny"
                                src={{instruction.parentConcept.image.file.downloadLink}}
                                alt=""
                              />
                              <span title={{instruction.value}}>{{truncate
                                  instruction.value
                                }}</span>
                            </div>
                          </PowerSelect>
                        {{/if}}
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  </div>

  <div
    class="au-o-grid__item au-u-1-2@medium u-border-solid u-border-l u-border-divider"
  >
    <div class="au-o-box au-c-body-container au-c-body-container--scroll">
      <TrafficMeasure::Preview @signs={{this.signs}}>
        <:template>
          {{this.previewHtml}}
        </:template>
      </TrafficMeasure::Preview>
    </div>
  </div>
</div>