<div class="au-c-table-wrapper au-u-margin-bottom">
  {{!-- template-lint-disable table-groups --}}
  <table class="au-c-table">
    <thead class="au-c-table__header">
      <tr>
        <th>{{t "utility.order"}}</th>
        <th>{{t "utility.sign"}}</th>
        <th></th>
      </tr>
    </thead>
    <SortableObjects
      @tagName={{"tbody"}}
      @sortEndAction={{@onSort}}
      @sortableObjectList={{@signs}}
      @enableSort={{true}}
      @useSwap={{true}}
      @inPlace={{true}}
      class="au-c-table__body">
      {{#each @signs as |sign|}}
        <TrafficMeasure::InstructionEntry
          @sign={{sign}}
          @removeSign={{@removeSign}}
          @addInstructionToTemplate={{@addInstructionToTemplate}}
        />
      {{else}}
        <tr>
          <td colspan="3">
            <AuHelpText @size="normal" @skin="tertiary">
              {{t "utility.noInstruction"}}
            </AuHelpText>
          </td>
        </tr>
      {{/each}}
    </SortableObjects>
  </table>
</div>
