{{page-title (t "roadSignConcept.crud.edit")}}

<BreadcrumbsItem as |linkClass|>
  <LinkTo
    @route="road-sign-concepts.edit"
    @model={{this.roadSignConcept.id}}
    class={{linkClass}}
  >
    {{this.roadSignConcept.roadSignConceptCode}}
  </LinkTo>
</BreadcrumbsItem>

<NavigationBar />

<AuToolbar @border="bottom" @size="large">
  <AuToolbarGroup>
    <AuHeading @skin="2">
      {{t "roadSignConcept.crud.edit"}}
    </AuHeading>
  </AuToolbarGroup>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <div class="au-o-grid">
      <div class="au-o-grid__item au-u-2-3@medium au-u-2-5@large">
        <form
          class="au-c-form"
          id="edit-road-sign-concept-form"
          {{on "submit" this.editRoadSignConcept}}
        >
          {{#let (is-empty this.roadSignConcept.image) as |isInvalid|}}
            <p>
              <AuLabel @error={{isInvalid}} for="image-url">
                {{t "roadSignConcept.attr.imageUrl"}}&nbsp;
                <AuPill>
                  {{t "utility.required"}}
                </AuPill>
              </AuLabel>
              <AuInput
                @error={{isInvalid}}
                id="image-url"
                required="required"
                type="text"
                value={{this.roadSignConcept.image}}
                {{on "input" (fn this.setRoadSignConceptValue "image")}}
              />
              <span>{{t "utility.or"}}</span>
              <FileUploader @accept={{"image/png,image/**"}} @onFileSet={{this.setImageUpload}}></FileUploader>
              {{#if isInvalid}}
                <AuHelpText>
                  {{t "utility.fieldRequired"}}
                </AuHelpText>
              {{/if}}
            </p>
          {{/let}}
          {{#let
            (is-empty this.roadSignConcept.roadSignConceptCode) as |isInvalid|
          }}
            <p>
              <AuLabel @error={{isInvalid}} for="road-sign-concept-code">
                {{t "roadSignConcept.attr.code"}}&nbsp;
                <AuPill>
                  {{t "utility.required"}}
                </AuPill>
              </AuLabel>
              <AuInput
                @error={{isInvalid}}
                id="road-sign-concept-code"
                required="required"
                value={{this.roadSignConcept.roadSignConceptCode}}
                {{on
                  "input"
                  (fn this.setRoadSignConceptValue "roadSignConceptCode")
                }}
              />
              {{#if isInvalid}}
                <AuHelpText>
                  {{t "utility.fieldRequired"}}
                </AuHelpText>
              {{/if}}
            </p>
          {{/let}}
          {{#let (is-empty this.roadSignConcept.meaning) as |isInvalid|}}
            <p>
              <AuLabel @error={{isInvalid}} for="meaning">
                {{t "roadSignConcept.attr.meaning"}}&nbsp;
                <AuPill>
                  {{t "utility.required"}}
                </AuPill>
              </AuLabel>
              <AuTextarea
                @error={{isInvalid}}
                @width="block"
                class="u-min-h-20"
                id="meaning"
                required="required"
                value={{this.roadSignConcept.meaning}}
                {{on "input" (fn this.setRoadSignConceptValue "meaning")}}
              />
              {{#if isInvalid}}
                <AuHelpText>
                  {{t "utility.fieldRequired"}}
                </AuHelpText>
              {{/if}}
            </p>
          {{/let}}
          {{#let (is-empty this.roadSignConcept.categories) as |isInvalid|}}
            <p>
              <AuLabel @error={{isInvalid}} for="categories">
                {{t "roadSignConcept.attr.categories"}}&nbsp;
                <AuPill>
                  {{t "utility.required"}}
                </AuPill>
              </AuLabel>
              <div class={{if isInvalid "ember-power-select--error"}}>
                <PowerSelectMultiple
                  @allowClear={{true}}
                  @searchEnabled={{true}}
                  @noMatchesMessage={{t "roadSignConcept.crud.noData"}}
                  @searchField="label"
                  @options={{@model.categories}}
                  @selected={{this.roadSignConcept.categories}}
                  @onChange={{this.setRoadSignConceptCategory}}
                  @triggerId="categories" as |category|
                >
                  {{category.label}}
                </PowerSelectMultiple>
              </div>
              {{#if isInvalid}}
                <AuHelpText>
                  {{t "utility.fieldRequired"}}
                </AuHelpText>
              {{/if}}
            </p>
          {{/let}}
        </form>
      </div>
    </div>
  </div>
</div>

<AuToolbar @border="top" @size="large">
  <AuToolbarGroup>
    <AuButtonGroup>
      <AuButton
        @disabled={{or this.isSaving this.notValid}}
        @loading={{this.isSaving}}
        form="edit-road-sign-concept-form"
        type="submit"
      >
        {{t "utility.save"}}
      </AuButton>
      <LinkTo
        @route="road-sign-concepts.road-sign-concept"
        @model={{this.roadSignConcept.id}}
        class="au-c-button au-c-button--secondary"
      >
        {{t "utility.cancel"}}
      </LinkTo>
    </AuButtonGroup>
  </AuToolbarGroup>
</AuToolbar>