<NavigationBar />

<AuDataTable
  @content={{this.model}}
  @fields="Image Meaning Code"
  @noDataMessage={{t "roadsignconcept.nodata" }}
  @size={{this.size}}
  @page={{this.page}}
  @sort={{this.sort}}
  as |s|
>
  <s.menu as |menu|>
    <menu.general>
      <AuToolbar class="au-o-box">
        <AuToolbarGroup>
          <AuHeading @skin="2">
            {{t "landingPage.roadSigns.title"}}
          </AuHeading>
        </AuToolbarGroup>
        <AuToolbarGroup class="au-c-toolbar__group--center">
          <AuDataTableTextSearch @filter={{this.filter}} @placeholder={{t "roadsignconcept.search" }} />
          <LinkTo class="au-c-button" @route="road-sign-concepts.new">
            {{t "roadsignconcept.new"}}
          </LinkTo>
        </AuToolbarGroup>
      </AuToolbar>
    </menu.general>
  </s.menu>
  <s.content as |c|>
    <c.header>
      <AuDataTableThSortable
        @field="roadSignConceptCode"
        @currentSorting={{this.sort}}
        @label={{t "roadsignconcept.code" }}
        @class="data-table__header-title"
      />
      <th class="data-table__header-title"> {{t "roadsignconcept.imageurl"}}</th>
      <th class="data-table__header-title"> {{t "roadsignconcept.meaning"}}</th>
    </c.header>
    <c.body as |roadSignConcept|>
      <td>
        <AuLink @linkRoute="road-sign-concepts.road-sign-concept" @model={{roadSignConcept}}>
          {{roadSignConcept.roadSignConceptCode}}
        </AuLink>
      </td>
      <td>
        <img src={{roadSignConcept.image}} alt="" role="presentation">
      </td>
      <td>{{roadSignConcept.meaning}}</td>
    </c.body>
  </s.content>
</AuDataTable>