{{page-title "Index"}}

<AuDataTable @content={{this.model}} @fields="Image Meaning Code" @noDataMessage={{t "roadsignconcept.nodata" }}
        @size={{this.size}} @page={{this.page}}
  @sort={{this.sort}} as |s|>
  <s.menu as |menu|>
    <menu.general>
      <AuToolbar class="au-o-box">
        <AuToolbarGroup>
          <AuHeading @skin="2">
            {{t "roadsignconcept.app"}}
          </AuHeading>
        </AuToolbarGroup>
        <AuToolbarGroup class="au-c-toolbar__group--center">
          <AuDataTableTextSearch @filter={{this.filter}} @placeholder={{t "roadsignconcept.search" }} />
          <LinkTo class="au-c-button" @route="road-sign-concepts.new">
            {{t "roadsignconcept.new"}}
          </LinkTo>
        </AuToolbarGroup>
      </AuToolbar>
    </menu.general>
  </s.menu>
  <s.content as |c|>
    <c.header>
      <AuDataTableThSortable @field="roadSignConceptCode" @currentSorting={{this.sort}} @label={{t "roadsignconcept.code" }}
        @class="data-table__header-title" />
      <th class="data-table__header-title"> {{t "roadsignconcept.imageurl"}}</th>
      <th class="data-table__header-title"> {{t "roadsignconcept.meaning"}}</th>
      <th class="data-table__header-title">

      </th>
    </c.header>
    <c.body as |row|>
      <td>{{row.roadSignConceptCode}}</td>
      <td><img src={{row.image}} alt="" role="presentation"></td>
      <td>{{row.meaning}}</td>
      <td><LinkTo @route="road-sign-concepts.road-sign-concept" @model={{row}}>
        <AuIcon @icon="info-circle" @alignment="left" @size="large" @ariaHidden={{true}} />
      </LinkTo></td>
    </c.body>
  </s.content>
</AuDataTable>