<RoadsignSearchTable
  @content={{this.model.roadSignConcepts}}
  @pageSize={{this.size}}
  @page={{this.page}}
  @sort={{this.sort}}
  @onPageChange={{this.onPageChange}}
  @onSortChange={{this.onSortChange}}
>
  <:menu>
    <AuToolbar class="au-o-box" as |Group|>
      <Group>
        <AuHeading @skin="2">
          {{t "road-sign-concept.name"}}
        </AuHeading>
      </Group>
      <Group class="au-c-toolbar__group--center">
        {{!-- Copied from the AuDataTable::TextSearch component since that doesn't support calling actions on input--}}
        <div class="au-c-data-table__search road-sign-code-search">
          <AuInput
            @value={{this.code}}
            placeholder={{t "road-sign-concept.crud.code-filter"}}
            @icon="search"
            @iconAlignment="right"
            {{on "input" (perform this.updateSearchFilterTask "code")}}
          />
        </div>
        <div class="au-c-data-table__search road-sign-meaning-search">
          <AuInput
            @value={{this.meaning}}
            placeholder={{t "road-sign-concept.crud.meaning-filter"}}
            @icon="search"
            @iconAlignment="right"
            {{on "input" (perform this.updateSearchFilterTask "meaning")}}
          />
        </div>
        <label>
          <span class="au-u-hidden-visually">{{t "road-sign-concept.crud.category-filter"}}</span>
          <PowerSelect
            @allowClear={{true}}
            @options={{this.model.categories}}
            @selected={{this.selectedCategory}}
            @placeholder={{t "road-sign-concept.crud.category-filter"}}
            @loadingMessage={{t 'utility.loading'}}
            @onChange={{this.updateCategoryFilter}}
            @triggerClass="category-select"
            as |category|
          >
            {{category.label}}
          </PowerSelect>
        </label>
        <LinkTo class="au-c-button" @route="road-sign-concepts.new">
          {{t "road-sign-concept.crud.new"}}
        </LinkTo>
      </Group>
    </AuToolbar>
  </:menu>
  <:rowAction as |roadSignConcept|>
    <LinkTo
      class="au-c-link"
      @route="road-sign-concepts.road-sign-concept"
      @model={{roadSignConcept.id}}
    >
      {{t "utility.view"}}
    </LinkTo>
  </:rowAction>
</RoadsignSearchTable>