<NavigationBar />

<AuDataTable
  @content={{this.model}}
  @fields="Image Meaning Code"
  @noDataMessage={{t "roadSignConcept.crud.noData" }}
  @size={{this.size}}
  @page={{this.page}}
  @sort={{this.sort}}
  as |s|
>
<s.menu as |menu|>
    <menu.general>
      <AuToolbar class="au-o-box">
        <AuToolbarGroup>
          <AuHeading @skin="2">
            {{t "roadSignConcept.name"}}
          </AuHeading>
        </AuToolbarGroup>
        <AuToolbarGroup class="au-c-toolbar__group--center">
          <AuDataTableTextSearch @filter={{this.filter}} @placeholder={{t "roadSignConcept.crud.search" }} />
          <LinkTo class="au-c-button" @route="road-sign-concepts.new">
            {{t "roadSignConcept.crud.new"}}
          </LinkTo>
        </AuToolbarGroup>
      </AuToolbar>
    </menu.general>
  </s.menu>
  <s.content as |c|>
    <c.header>
      <AuDataTableThSortable @field="roadSignConceptCode" @currentSorting={{this.sort}}
        @label={{t "roadSignConcept.attr.code" }} @class="data-table__header-title" />
      <th class="data-table__header-title"> {{t "roadSignConcept.attr.imageHeader"}}</th>
      <th class="data-table__header-title"> {{t "roadSignConcept.attr.meaning"}}</th>
      <th class="data-table__header-title"></th>
    </c.header>
    <c.body as |roadSignConcept|>
      <td>
        {{roadSignConcept.roadSignConceptCode}}
      </td>
      <td>
        <img src={{roadSignConcept.image}} alt="" role="presentation">
      </td>
      <td>{{roadSignConcept.meaning}}</td>
      <td>
        <LinkTo class="au-c-link" @route="road-sign-concepts.road-sign-concept" @model={{roadSignConcept}}>
          {{t "utility.view"}}
        </LinkTo>
      </td>
    </c.body>
  </s.content>
</AuDataTable>