{{page-title (t "roadSignConcept.details")}}

<BreadcrumbsItem as |linkClass|>
  <LinkTo @route="road-sign-concepts.road-sign-concept" @model={{@model.id}} class={{linkClass}}>
    {{@model.roadSignConceptCode}}
  </LinkTo>
</BreadcrumbsItem>

<AuToolbar @size="large">
  <AuToolbarGroup>
    <AuHeading @skin="2">
      {{t "roadSignConcept.details"}}
    </AuHeading>
  </AuToolbarGroup>
</AuToolbar>
<AuToolbar @size="large">
  <AuToolbarGroup>
    <ul class="au-o-grid">
      <li class="au-o-grid__item au-u-1-2 au-u-1-3@medium">
        {{!-- <AuLabel>
          {{t "roadSignConcept.attr.imageHeader"}}
        </AuLabel> --}}
        <img alt="" role="presentation" src={{@model.image}} />
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>
          {{t "roadSignConcept.attr.code"}}
        </AuLabel>
        <p>
          {{@model.roadSignConceptCode}}
        </p>
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>
          {{t "roadSignConcept.attr.categories"}}
        </AuLabel>
        {{#each @model.categories as |category|}}
        <p>
          {{category.label}}
        </p>
        {{/each}}
      </li>
    </ul>
  </AuToolbarGroup>
</AuToolbar>
<AuToolbar @border="bottom" @size="large">
  <AuToolbarGroup>
    <ul class="au-o-grid">
      <li class="au-o-grid__item au-u-1-2 au-u-1-1@large">
        <AuLabel>
          {{t "roadSignConcept.attr.meaning"}}
        </AuLabel>
        <p>
          {{@model.meaning}}
        </p>
      </li>
    </ul>
  </AuToolbarGroup>
</AuToolbar>

<AuDataTable @content={{this.model.subSigns}} @fields="Image Meaning Code"
  @noDataMessage={{t "roadSignConcept.crud.noData" }} @size={{this.size}} @page={{this.page}} @sort={{this.sort}} as
  |s|>
  <s.menu as |menu|>
    <menu.general>
      <AuToolbar class="au-o-box">
        <AuToolbarGroup>
          <AuHeading @skin="2">
            {{t "roadSignConcept.subSign.name" }}
          </AuHeading>
        </AuToolbarGroup>
        <AuToolbarGroup class="au-c-toolbar__group--center">
          <LinkTo class="au-c-button" @route="road-sign-concepts.new">
            {{t "roadSignConcept.subSign.edit" }}
          </LinkTo>
        </AuToolbarGroup>
      </AuToolbar>
    </menu.general>
  </s.menu>
  <s.content as |c|>
    <c.header>
      <th class="data-table__header-title">
        {{t "roadSignConcept.attr.code" }}
      </th>
      <th class="data-table__header-title">
        {{t "roadSignConcept.attr.imageHeader"}}
      </th>
      <th class="data-table__header-title">
        {{t "roadSignConcept.attr.meaning"}}
      </th>
    </c.header>
    <c.body as |subSign|>
      <td>
        {{subSign.roadSignConceptCode}}
      </td>
      <td>
        <img src={{subSign.image}} alt="" role="presentation" />
      </td>
      <td>
        {{subSign.meaning}}
      </td>
    </c.body>
  </s.content>
</AuDataTable>


<AuDataTable @content={{this.model.relatedRoadSignConcepts}} @fields="Image Meaning Code"
  @noDataMessage={{t "roadSignConcept.crud.noData" }} @size={{this.size}} @page={{this.page}} @sort={{this.sort}} as
  |s|>
  <s.menu as |menu|>
    <menu.general>
      <AuToolbar class="au-o-box">
        <AuToolbarGroup>
          <AuHeading @skin="2">
            {{t "roadSignConcept.relatedSign.name" }}
          </AuHeading>
        </AuToolbarGroup>
        <AuToolbarGroup class="au-c-toolbar__group--center">
          <LinkTo class="au-c-button" @route="road-sign-concepts.new">
            {{t "roadSignConcept.relatedSign.edit" }}
          </LinkTo>
        </AuToolbarGroup>
      </AuToolbar>
    </menu.general>
  </s.menu>
  <s.content as |c|>
    <c.header>
      <th class="data-table__header-title">
        {{t "roadSignConcept.attr.code" }}
      </th>
      <th class="data-table__header-title">
        {{t "roadSignConcept.attr.imageHeader"}}
      </th>
      <th class="data-table__header-title">
        {{t "roadSignConcept.attr.meaning"}}
      </th>
    </c.header>
    <c.body as |relatedRoadSignConcept|>
      <td>
        {{relatedRoadSignConcept.roadSignConceptCode}}
      </td>
      <td>
        <img src={{relatedRoadSignConcept.image}} alt="" role="presentation" />
      </td>
      <td>
        {{relatedRoadSignConcept.meaning}}
      </td>
    </c.body>
  </s.content>
</AuDataTable>


<AuToolbar @border="top" @size="large">
  <AuToolbarGroup>
    <LinkTo class="au-c-button" @route="road-sign-concepts.edit" @model={{@model.id}}>
      {{t "roadSignConcept.crud.edit"}}
    </LinkTo>

    <AuButton @alert={{true}} {{on "click" (fn (mut this.isOpen) true)}}>
      {{t "roadSignConcept.crud.delete"}}
    </AuButton>
    <AuModal @modalTitle={{t "utility.confirmation.title" }} @modalOpen={{this.isOpen}} @closeModal={{fn (mut
      this.isOpen) false}} as |Modal|>
      <Modal.Body>
        <p>
          {{t "utility.confirmation.body"}}
        </p>
      </Modal.Body>
      <Modal.Footer>
        <AuButton @alert={{true}} {{on "click" (fn this.removeRoadSignConcept @model)}}>
          {{t "roadSignConcept.crud.delete"}}
        </AuButton>
      </Modal.Footer>
    </AuModal>
  </AuToolbarGroup>
</AuToolbar>