{{! @glint-nocheck: not typesafe yet }}
{{page-title @model.roadSignConcept.label}}

<BreadcrumbsItem as |linkClass|>
  <LinkTo
    @route="road-sign-concepts.road-sign-concept"
    @model={{@model.roadSignConcept.id}}
    class={{linkClass}}
  >
    {{t "road-sign-concept.details" label=@model.roadSignConcept.label}}
  </LinkTo>
</BreadcrumbsItem>

<SidebarContainer>
  <:sidebar>
    <h2 class="au-u-hidden-visually">{{t "road-sign-concept.properties"}}</h2>
    <div class="au-o-box">
      <div
        class="au-u-margin-top-large au-u-margin-bottom-large au-u-text-center"
      >
        <img
          class="au-c-thumbnail au-c-thumbnail--full"
          alt=""
          src={{@model.roadSignConcept.image.file.downloadLink}}
        />
      </div>

      <dl class="au-o-flow">
        <div>
          <dt class="au-u-h5 au-u-medium">
            {{t "utility.validation-status"}}
          </dt>
          <dd class="au-u-muted">
            <ValidationStatus @valid={{@model.roadSignConcept.valid}} />
            <div class="au-u-margin-top-small">
              <ContentCheck @concept={{@model.roadSignConcept}} />
            </div>
          </dd>
        </div>
        <div>
          <dt class="au-u-h5 au-u-medium">
            {{t "utility.ar-plichtig"}}
          </dt>
          <dd class="au-u-muted">
            <ArPlichtigStatus @status={{@model.roadSignConcept.arPlichtig}} />
          </dd>
        </div>
        <div>
          <dt class="au-u-h5 au-u-medium">
            {{t "road-sign-concept.attr.label"}}
          </dt>
          <dd class="au-u-muted">
            {{@model.roadSignConcept.label}}
          </dd>
        </div>
        <div>
          <dt class="au-u-h5 au-u-medium">
            {{t "road-sign-concept.attr.classifications"}}
          </dt>
          <dd class="au-u-muted">
            {{#if @model.roadSignConcept.classifications}}
              <ul>
                {{#each
                  @model.roadSignConcept.classifications
                  as |classification|
                }}
                  <li>
                    {{classification.label}}
                  </li>
                {{/each}}
              </ul>
            {{/if}}
          </dd>
        </div>
        <div>
          <dt class="au-u-h5 au-u-medium">
            {{t "road-sign-concept.attr.meaning"}}
          </dt>
          <dd class="au-u-muted">
            {{@model.roadSignConcept.meaning}}
          </dd>
        </div>
        <div>
          <dt class="au-u-h5 au-u-medium">
            {{t "utility.start-date"}}
          </dt>
          <dd class="au-u-muted">
            {{human-friendly-date @model.roadSignConcept.startDate locale=this.intl.primaryLocale}}
          </dd>
        </div>
        <div>
          <dt class="au-u-h5 au-u-medium">
            {{t "utility.end-date"}}
          </dt>
          <dd class="au-u-muted">
            {{human-friendly-date @model.roadSignConcept.endDate locale=this.intl.primaryLocale}}
          </dd>
        </div>
      </dl>
    </div>

  </:sidebar>
  <:content>
    {{outlet}}
  </:content>
</SidebarContainer>