{{page-title (t "road-sign-concept.details")}}

<BreadcrumbsItem as |linkClass|>
  <LinkTo
    @route="road-sign-concepts.road-sign-concept"
    @model={{@model.roadSignConcept.id}}
    class={{linkClass}}
  >
    {{@model.roadSignConcept.label}}
  </LinkTo>
</BreadcrumbsItem>
<div
  class="au-o-grid au-o-grid--flush au-o-grid--fixed"
  {{did-insert this.didInsert}}
>
  <div
    class="au-o-grid__item
      {{if
        this.showSidebar
        'au-u-3-5@medium au-u-visible-from@medium'
        'au-u-1-1@medium'
      }}"
  >
    <div class="au-c-body-container au-c-body-container--scroll">
      <AuToolbar @size="large" as |Group|>
        <Group>
          <AuHeading @skin="2">
            {{t "road-sign-concept.details"}}
          </AuHeading>
        </Group>
      </AuToolbar>
      <AuToolbar @size="medium" as |Group|>
        <Group class="au-c-toolbar__group--row">
          <ul class="au-o-grid">
            <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
              <img
                class="au-c-thumbnail au-c-thumbnail--full"
                alt=""
                src={{@model.roadSignConcept.image.file.downloadLink}}
              />
            </li>
            <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
              <AuLabel>
                {{t "road-sign-concept.attr.label"}}
              </AuLabel>
              <p>
                {{@model.roadSignConcept.label}}
              </p>
            </li>
            <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
              <AuLabel>
                {{t "road-sign-concept.attr.classifications"}}
              </AuLabel>
              {{#each
                @model.roadSignConcept.classifications
                as |classification|
              }}
                <p>
                  {{classification.label}}
                </p>
              {{/each}}
            </li>
            <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
              <AuLabel>
                {{t "road-sign-concept.attr.meaning"}}
              </AuLabel>
              <p>
                {{@model.roadSignConcept.meaning}}
              </p>
            </li>

            <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
              <AuLabel>
                {{t "road-sign-concept.attr.shape"}}
              </AuLabel>
              {{#each @model.roadSignConcept.shapes as |shape|}}
                <p>{{shape.classification.label}}: </p>
                {{#each shape.dimensions as |dimension|}}
                  <span>
                    {{dimension.value}}{{dimension.unit.symbol}}
                    ({{dimension.kind.label}})
                  </span>
                {{/each}}

              {{/each}}
            </li>
            {{#unless this.showSidebar}}
              <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
                <ContentCheck @concept={{@model.roadSignConcept}} />
              </li>
            {{/unless}}
          </ul>
        </Group>
      </AuToolbar>
      <AuToolbar @border="bottom" @size="large" as |Group|>
        <Group>
          <AuLink
            @skin="button"
            @route="road-sign-concepts.edit"
            @model={{@model.roadSignConcept.id}}
          >
            {{t "road-sign-concept.crud.edit"}}
          </AuLink>
          <AuButton
            @skin="secondary"
            @alert={{true}}
            {{on "click" (fn (mut this.isOpen) true)}}
          >
            {{t "road-sign-concept.crud.delete"}}
          </AuButton>

          <AuModal
            @modalTitle={{t "utility.confirmation.title"}}
            @modalOpen={{this.isOpen}}
            @closeModal={{fn (mut this.isOpen) false}}
            as |Modal|
          >
            <Modal.Body>
              <p>
                {{t "utility.confirmation.body"}}
              </p>
            </Modal.Body>
            <Modal.Footer>
              <AuButton
                @alert={{true}}
                {{on
                  "click"
                  (perform this.removeRoadSignConcept @model.roadSignConcept)
                }}
              >
                {{t "road-sign-concept.crud.delete"}}
              </AuButton>
              <AuButton
                @skin="secondary"
                {{on "click" (fn (mut this.isOpen) false)}}
              >
                {{t "utility.cancel"}}
              </AuButton>
            </Modal.Footer>
          </AuModal>
        </Group>
      </AuToolbar>
      <div
        class="au-c-body-container au-c-body-container--scroll au-c-body-container--tables"
      >
        <InstructionsTable
          @templates={{@model.roadSignConcept.hasInstructions}}
          @removeTemplate={{perform this.removeTemplate}}
          @editInstruction={{this.editInstruction}}
          @addInstruction={{this.addInstruction}}
          @isAddingInstructions={{this.isAddingInstructions}}
        />
        {{#if this.isSubSign}}
          <AuDataTable
            @content={{sort-by-road-sign-code
              (await @model.roadSignConcept.mainSigns)
            }}
            @fields="Image Meaning Code Categories"
            @noDataMessage={{t "road-sign-concept.crud.no-data"}}
            as |s|
          >
            <s.menu as |menu|>
              <menu.general>
                <AuToolbar class="au-o-box" as |Group|>
                  <Group>
                    <AuHeading @level="2" @skin="3">
                      {{t "road-sign-concept.attr.main-sign"}}
                    </AuHeading>
                  </Group>
                  <Group>
                    <AuButton {{on "click" this.toggleAddMainSigns}}>
                      {{t "main-sign.crud.add"}}
                    </AuButton>
                  </Group>
                </AuToolbar>
              </menu.general>
            </s.menu>
            <s.content as |c|>
              <c.header>
                <th class="data-table__header-title">
                  {{t "road-sign-concept.attr.label"}}
                </th>
                <th class="data-table__header-title">
                  {{t "road-sign-concept.attr.image-header"}}
                </th>
                <th class="data-table__header-title">
                  {{t "road-sign-concept.attr.meaning"}}
                </th>
                <th class="data-table__header-title">
                  {{t "road-sign-concept.attr.classifications"}}
                </th>
                <th>
                  <span class="au-u-hidden-visually">
                    {{t "main-sign.crud.delete"}}
                  </span>
                </th>
              </c.header>
              <c.body as |mainSignConcept|>
                <td>
                  {{mainSignConcept.label}}
                </td>
                <td>
                  <img
                    class="au-c-thumbnail"
                    src={{mainSignConcept.image.file.downloadLink}}
                    alt=""
                  />
                </td>
                <td>
                  <p class="max-w-prose">
                    {{mainSignConcept.meaning}}
                  </p>
                </td>
                <td>
                  {{#each mainSignConcept.classifications as |classification|}}
                    {{classification.label}}
                  {{/each}}
                </td>
                <td class="w-px au-u-padding-right-small">
                  <AuButton
                    @icon="bin"
                    @alert={{true}}
                    @skin="secondary"
                    @hideText={{true}}
                    {{on "click" (perform this.removeMainSign mainSignConcept)}}
                  >
                    {{t "main-sign.crud.delete"}}
                  </AuButton>
                </td>
              </c.body>
            </s.content>
          </AuDataTable>
        {{else}}
          <AuDataTable
            @content={{sort-by-road-sign-code
              (await @model.roadSignConcept.subSigns)
            }}
            @fields="Image Meaning Code"
            @noDataMessage={{t "road-sign-concept.crud.no-data"}}
            as |s|
          >
            <s.menu as |menu|>
              <menu.general>
                <AuToolbar class="au-o-box" as |Group|>
                  <Group>
                    <AuHeading @level="2" @skin="3">
                      {{t "road-sign-concept.attr.sub-sign"}}
                    </AuHeading>
                  </Group>
                  <Group>
                    <AuButton {{on "click" this.toggleAddSubSigns}}>
                      {{t "sub-sign.crud.add"}}
                    </AuButton>
                  </Group>
                </AuToolbar>
              </menu.general>
            </s.menu>
            <s.content as |c|>
              <c.header>
                <th class="data-table__header-title">
                  {{t "road-sign-concept.attr.label"}}
                </th>
                <th class="data-table__header-title">
                  {{t "road-sign-concept.attr.image-header"}}
                </th>
                <th class="data-table__header-title">
                  {{t "road-sign-concept.attr.meaning"}}
                </th>
                <th>
                  <span class="au-u-hidden-visually">
                    {{t "sub-sign.crud.delete"}}
                  </span>
                </th>
              </c.header>
              <c.body as |subSign|>
                <td>
                  {{subSign.label}}
                </td>
                <td>
                  <img
                    class="au-c-thumbnail"
                    src={{subSign.image.file.downloadLink}}
                    alt=""
                  />
                </td>
                <td>
                  <p class="max-w-prose">
                    {{subSign.meaning}}
                  </p>
                </td>
                <td class="w-px au-u-padding-right-small">
                  <AuButton
                    @icon="bin"
                    @alert={{true}}
                    @skin="secondary"
                    @hideText={{true}}
                    {{on "click" (perform this.removeSubSign subSign)}}
                  >
                    {{t "sub-sign.crud.delete"}}
                  </AuButton>
                </td>
              </c.body>
            </s.content>
          </AuDataTable>
        {{/if}}
        <RelatedRoadsignsTable
          @content={{sort-by-road-sign-code
            (await @model.roadSignConcept.relatedRoadSignConcepts)
          }}
          @onClickAdd={{this.toggleAddRelatedRoadSigns}}
          @onClickRemove={{perform this.removeRelatedRoadSign}}
        />
        <RelatedRoadmarkingsTable
          @content={{sort-by-road-marking-code
            (await @model.roadSignConcept.relatedRoadMarkingConcepts)
          }}
          @onClickAdd={{this.toggleAddRelatedRoadMarkings}}
          @onClickRemove={{perform this.removeRelatedRoadMarking}}
        />
        <RelatedTrafficLightsTable
          @content={{sort-by-traffic-light-code
            (await @model.roadSignConcept.relatedTrafficLightConcepts)
          }}
          @onClickAdd={{this.toggleAddRelatedTrafficLights}}
          @onClickRemove={{perform this.removeRelatedTrafficLight}}
        />

      </div>
    </div>
  </div>
  {{#if this.isAddingSubSigns}}
    <div class="au-o-grid__item au-u-2-5@medium">
      <div class="au-c-body-container au-c-action-sidebar">
        <div class="au-o-box au-c-action-sidebar__header" tabindex="0">
          <AuToolbar class="au-u-margin-bottom-small" as |Group|>
            <Group>
              <AuHeading @level="2" @skin="3">
                {{t "sub-sign.crud.add"}}
              </AuHeading>
            </Group>
            <button
              type="button"
              class="au-c-close au-c-close--large"
              {{on "click" this.toggleAddSubSigns}}
            >
              <AuIcon @icon="cross" @size="large" />
              <span class="au-u-hidden-visually">
                {{t "utility.close"}}
              </span>
            </button>
          </AuToolbar>
          <div class="au-c-data-table__search">
            <AuInput
              value={{this.subSignCodeFilter}}
              placeholder={{t "sub-sign.filter.label"}}
              @icon="search"
              @iconAlignment="right"
              {{on "input" this.setSubSignCodeFilter}}
              {{auto-focus}}
            />
          </div>
        </div>
        <div class="au-c-body-container au-c-body-container--scroll">
          {{#each (sort-by-road-sign-code this.subSigns) as |subSign|}}
            <SidebarRoadSign
              @imageUrl={{subSign.image.file.downloadLink}}
              @code={{subSign.label}}
              @meaning={{subSign.meaning}}
              @onAdd={{perform this.addSubSign subSign}}
              @addText={{t "sub-sign.crud.add-one"}}
              class="au-c-action-sidebar__item"
            />
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}

  {{#if this.isAddingMainSigns}}
    <div class="au-o-grid__item au-u-2-5@medium">
      <div
        class="au-c-body-container au-c-action-sidebar"
        {{auto-focus ".au-c-action-sidebar__header"}}
      >
        <div class="au-o-box au-c-action-sidebar__header" tabindex="0">
          <AuToolbar class="au-u-margin-bottom-small" as |Group|>
            <Group>
              <AuHeading @level="2" @skin="3">
                {{t "main-sign.crud.add"}}
              </AuHeading>
            </Group>
            <button
              type="button"
              class="au-c-close au-c-close--large"
              {{on "click" this.toggleAddMainSigns}}
            >
              <AuIcon @icon="cross" @size="large" />
              <span class="au-u-hidden-visually">
                {{t "utility.close"}}
              </span>
            </button>
          </AuToolbar>
          <AuContent @skin="small">
            <AuLabel>
              {{t "main-sign.attr.classification"}}
            </AuLabel>
            <PowerSelect
              @allowClear={{true}}
              @placeholder={{t "utility.search-placeholder"}}
              @searchEnabled={{true}}
              @searchMessage={{t "utility.search-placeholder"}}
              @noMatchesMessage={{t "road-sign-concept.crud.no-data"}}
              @loadingMessage={{t "utility.loading"}}
              @searchField="label"
              @options={{@model.classifications}}
              @selected={{this.classification}}
              @onChange={{perform this.handleCategorySelection}}
              as |classification|
            >
              {{classification.label}}
            </PowerSelect>
          </AuContent>
        </div>
        <div class="au-c-body-container au-c-body-container--scroll">
          {{#if this.classification}}
            {{#each
              (sort-by-road-sign-code this.classificationRoadSigns)
              as |mainSignByCategory|
            }}
              <SidebarRoadSign
                @imageUrl={{mainSignByCategory.image.file.downloadLink}}
                @code={{mainSignByCategory.label}}
                @meaning={{mainSignByCategory.meaning}}
                @onAdd={{perform this.addMainSign mainSignByCategory}}
                @addText={{t "main-sign.crud.add-one"}}
                class="au-c-action-sidebar__item"
              />
            {{/each}}
          {{/if}}
        </div>
      </div>
    </div>
  {{/if}}
  {{#if this.isAddingRelatedRoadSigns}}
    <div class="au-o-grid__item au-u-2-5@medium">
      <div
        class="au-c-body-container au-c-action-sidebar"
        {{auto-focus ".au-c-action-sidebar__header"}}
      >
        <div class="au-o-box au-c-action-sidebar__header" tabindex="0">
          <AuToolbar class="au-u-margin-bottom-small" as |Group|>
            <Group>
              <AuHeading @level="2" @skin="3">
                {{t "related-road-sign.crud.add"}}
              </AuHeading>
            </Group>
            <button
              type="button"
              class="au-c-close au-c-close--large"
              {{on "click" this.toggleAddRelatedRoadSigns}}
            >
              <AuIcon @icon="cross" @size="large" />
              <span class="au-u-hidden-visually">
                {{t "utility.close"}}
              </span>
            </button>
          </AuToolbar>
          <AuContent @skin="small">
            <AuLabel>
              {{t "related-road-sign.attr.classification"}}
            </AuLabel>
            <PowerSelect
              @allowClear={{true}}
              @placeholder={{t "utility.search-placeholder"}}
              @searchEnabled={{true}}
              @searchMessage={{t "utility.search-placeholder"}}
              @noMatchesMessage={{t "road-sign-concept.crud.no-data"}}
              @loadingMessage={{t "utility.loading"}}
              @searchField="label"
              @options={{@model.classifications}}
              @selected={{this.classification}}
              @onChange={{perform this.handleCategorySelection}}
              as |classification|
            >
              {{classification.label}}
            </PowerSelect>
          </AuContent>
        </div>
        <div class="au-c-body-container au-c-body-container--scroll">
          {{#if this.classification}}
            {{#each
              (sort-by-road-sign-code this.classificationRoadSigns)
              as |relatedRoadSignByCategory|
            }}
              <SidebarRoadSign
                @imageUrl={{relatedRoadSignByCategory.image.file.downloadLink}}
                @code={{relatedRoadSignByCategory.label}}
                @meaning={{relatedRoadSignByCategory.meaning}}
                @onAdd={{perform
                  this.addRelatedRoadSign
                  relatedRoadSignByCategory
                }}
                @addText={{t "related-road-sign.crud.add-one"}}
                class="au-c-action-sidebar__item"
              />
            {{/each}}
          {{/if}}
        </div>
      </div>
    </div>
  {{/if}}
  {{#if this.isAddingRelatedRoadMarkings}}
    <div class="au-o-grid__item au-u-2-5@medium">
      <div
        class="au-c-body-container au-c-action-sidebar"
        {{auto-focus ".au-c-action-sidebar__header"}}
      >
        <div class="au-o-box au-c-action-sidebar__header" tabindex="0">
          <AuToolbar class="au-u-margin-bottom-small" as |Group|>
            <Group>
              <AuHeading @level="2" @skin="3">
                {{t "related-road-marking.crud.add"}}
              </AuHeading>
            </Group>
            <button
              type="button"
              class="au-c-close au-c-close--large"
              {{on "click" this.toggleAddRelatedRoadMarkings}}
            >
              <AuIcon @icon="cross" @size="large" />
              <span class="au-u-hidden-visually">
                {{t "utility.close"}}
              </span>
            </button>
          </AuToolbar>
          <div class="au-c-data-table__search">
            <AuInput
              value={{this.relatedRoadMarkingCodeFilter}}
              placeholder={{t "related-road-marking.filter.label"}}
              @icon="search"
              @iconAlignment="right"
              {{on "input" this.setRelatedRoadMarkingCodeFilter}}
              {{auto-focus}}
            />
          </div>
        </div>
        <div class="au-c-body-container au-c-body-container--scroll">
          {{#each
            (sort-by-road-marking-code this.roadMarkings)
            as |relatedRoadMarking|
          }}
            <SidebarRoadSign
              @imageUrl={{relatedRoadMarking.image.file.downloadLink}}
              @code={{relatedRoadMarking.label}}
              @meaning={{relatedRoadMarking.meaning}}
              @onAdd={{perform this.addRelatedRoadMarking relatedRoadMarking}}
              @addText={{t "related-road-marking.crud.add-one"}}
              class="au-c-action-sidebar__item"
            />
          {{/each}}
          {{#if this.classification}}
            {{#each
              (sort-by-road-marking-code this.classificationRoadMarkings)
              as |relatedRoadMarkingByCategory|
            }}
              <SidebarRoadMarking
                @imageUrl={{relatedRoadMarkingByCategory.image.file.downloadLink}}
                @code={{relatedRoadMarkingByCategory.label}}
                @meaning={{relatedRoadMarkingByCategory.meaning}}
                @onAdd={{perform
                  this.addRelatedRoadMarking
                  relatedRoadMarkingByCategory
                }}
                @addText={{t "related-road-marking.crud.add-one"}}
                class="au-c-action-sidebar__item"
              />
            {{/each}}
          {{/if}}
        </div>
      </div>
    </div>
  {{/if}}

  {{#if this.isAddingRelatedTrafficLights}}
    <div class="au-o-grid__item au-u-2-5@medium">
      <div
        class="au-c-body-container au-c-action-sidebar"
        {{auto-focus ".au-c-action-sidebar__header"}}
      >
        <div class="au-o-box au-c-action-sidebar__header" tabindex="0">
          <AuToolbar class="au-u-margin-bottom-small" as |Group|>
            <Group>
              <AuHeading @level="2" @skin="3">
                {{t "related-traffic-light.crud.add"}}
              </AuHeading>
            </Group>
            <button
              type="button"
              class="au-c-close au-c-close--large"
              {{on "click" this.toggleAddRelatedTrafficLights}}
            >
              <AuIcon @icon="cross" @size="large" />
              <span class="au-u-hidden-visually">
                {{t "utility.close"}}
              </span>
            </button>
          </AuToolbar>
          <div class="au-c-data-table__search">
            <AuInput
              value={{this.relatedTrafficLightCodeFilter}}
              placeholder={{t "related-traffic-light.filter.label"}}
              @icon="search"
              @iconAlignment="right"
              {{on "input" this.setRelatedTrafficLightCodeFilter}}
              {{auto-focus}}
            />
          </div>
        </div>
        <div class="au-c-body-container au-c-body-container--scroll">
          {{#each
            (sort-by-traffic-light-code this.trafficLights)
            as |relatedTrafficLight|
          }}
            <SidebarRoadSign
              @imageUrl={{relatedTrafficLight.image.file.downloadLink}}
              @code={{relatedTrafficLight.label}}
              @meaning={{relatedTrafficLight.meaning}}
              @onAdd={{perform this.addRelatedTrafficLight relatedTrafficLight}}
              @addText={{t "related-traffic-light.crud.add-one"}}
              class="au-c-action-sidebar__item"
            />
          {{/each}}
          {{#if this.classification}}
            {{#each
              (sort-by-traffic-light-code this.classificationTrafficLights)
              as |relatedTrafficLightByCategory|
            }}
              <SidebarTrafficLight
                @imageUrl={{relatedTrafficLightByCategory.image.file.downloadLink}}
                @code={{relatedTrafficLightByCategory.label}}
                @meaning={{relatedTrafficLightByCategory.meaning}}
                @onAdd={{perform
                  this.addRelatedTrafficLight
                  relatedTrafficLightByCategory
                }}
                @addText={{t "related-traffic-light.crud.add-one"}}
                class="au-c-action-sidebar__item"
              />
            {{/each}}
          {{/if}}
        </div>
      </div>
    </div>
  {{/if}}
  {{outlet}}
</div>