<div class="au-o-grid__item au-u-2-5@medium">
  <div
    class="au-c-body-container au-c-action-sidebar"
    {{auto-focus ".au-c-action-sidebar__header"}}
  >
    <div class="au-o-box au-c-action-sidebar__header" tabindex="0">
      <AuToolbar class="au-u-margin-bottom-small">
        <AuToolbarGroup>
          <AuHeading @level="2" @skin="3">
            {{t "utility.addInstruction"}}
          </AuHeading>
        </AuToolbarGroup>
        <button
          type="button"
          class="au-c-close au-c-close--large"
          {{on 'click' this.reset}}
        >
          <AuIcon @icon="cross" @size="large" />
          <span class="au-u-hidden-visually">
            {{t "utility.close"}}
          </span>
        </button>
      </AuToolbar>

    </div>
    <div class="au-c-body-container au-c-body-container--scroll">
      <div class="au-o-box au-c-form">
        <p>
          <AuLabel for="textarea-description">{{t "utility.description"}}</AuLabel>
          <AuTextarea {{on "input" this.updateTemplate}} id="textarea-description" @width="block" @value={{this.template.value}} />
        </p>
        <AuButtonGroup>
          <AuButton 
            {{on 'click' (perform this.save)}} 
            @disabled={{this.save.isRunning}}
            @loading={{this.save.isRunning}}
          >
            {{t "utility.save" }} 
          </AuButton>
          <AuButton @skin="secondary" {{on 'click' this.reset}}>
            {{t "utility.cancel"}}
          </AuButton>
        </AuButtonGroup>

        <table class="au-c-data-table__table">
          <thead class="au-c-data-table__header">
            <tr>
              <th>{{t "trafficMeasureConcept.attr.variable"}}</th>
              <th>{{t "trafficMeasureConcept.attr.type"}}</th>
            </tr>
          </thead>
          <tbody>
          {{#each this.mappings as |mapping|}}
            <tr>
              <td>{{mapping.variable}}</td>
              {{!-- template-lint-disable no-inline-styles --}}
              <td style="width: 50%;">
                <PowerSelect
                  @allowClear={{false}}
                  @searchEnabled={{false}}
                  @options={{this.inputTypes}}
                  @selected={{mapping.type}}
                  @onChange={{fn this.updateMappingType mapping}} as |type|
                >
                  {{type}}
                </PowerSelect>
                {{#if (eq mapping.type "codelist")}}
                  <PowerSelect
                    @allowClear={{false}}
                    @searchEnabled={{false}}
                    @options={{this.codeLists}}
                    @selected={{mapping.codeList}}
                    @onChange={{fn this.updateCodeList mapping}} as |codeList|
                  >
                    {{codeList.label}}
                  </PowerSelect>
                  <ul>
                  {{#each mapping.codeList.codeListOptions as |option|}}
                    <li> - {{option.label}}</li> 
                  {{/each}}
                  </ul>
                {{/if}}
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
