<BreadcrumbsItem as |linkClass|>
  {{#if @codelist.isNew}}
    <LinkTo @route="codelists-management.new" class={{linkClass}}>
      {{t "codelist.crud.new"}}
    </LinkTo>
  {{else}}
    <LinkTo
      @route="codelists-management.edit"
      @model={{@codelist.id}}
      class={{linkClass}}
    >
      {{@codelist.label}}
    </LinkTo>
  {{/if}}
</BreadcrumbsItem>

<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">
      {{#if @codelist.isNew}}
        {{t "codelist.crud.new"}}
      {{else}}
        {{t "codelist.crud.edit"}}
      {{/if}}
    </AuHeading>
  </Group>
</AuToolbar>

<div
  class="au-c-body-container au-c-body-container--scroll"
  {{did-insert this.didInsert}}
>
  <div class="au-o-box au-o-box--small">
    {{#let @codelist.error.label as |isInvalid|}}
      <div class="au-o-box">
        <AuLabel
          @error={{isInvalid}}
          for="label"
          @required={{true}}
          @requiredLabel={{t "utility.required"}}
        >
          {{t "codelist.attr.label"}}&nbsp;
        </AuLabel>
        <AuInput
          @error={{isInvalid}}
          @width="block"
          id="label"
          required="required"
          value={{@codelist.label}}
          {{on "input" (fn this.setCodelistValue "label")}}
        />
        {{#if isInvalid}}
          <AuHelpText @error={{true}}>
            {{t "utility.field-required"}}
          </AuHelpText>
        {{/if}}
      </div>
    {{/let}}
    <div class="au-o-box">
      <AuLabel for="label">
        {{t "codelist.attr.type"}}&nbsp;
      </AuLabel>
      <PowerSelect
        @allowClear={{false}}
        @searchEnabled={{false}}
        @options={{this.codelistTypes}}
        @selected={{this.selectedType}}
        @onChange={{this.updateCodelistType}}
        as |type|
      >
        {{t (concat "codelist.attr.types." type.label)}}
      </PowerSelect>
    </div>
  </div>
  <div class="au-o-box au-o-box--small">
    <AuDataTable
      @content={{this.iconOptions}}
      @noDataMessage={{t "codelist.crud.no-icon"}}
      as |s|
    >
      <s.content as |c|>
        <c.header>
          <th class="data-table__header-title">
            {{t "codelist.attr.icons"}}
          </th>
          <th>
            <span class="au-u-hidden-visually">
              {{t "codelist.crud.delete-icon"}}
            </span>
          </th>
        </c.header>
        <c.body as |icon|>
          <td>
            <div class="au-u-flex">
              <img
                src={{icon.image.file.downloadLink}}
                alt=""
                height="50"
                class="au-u-margin-right"
              />
              <span class="au-u-flex-self-center">{{icon.label}}</span>
            </div>
          </td>
          <td class="w-px au-u-padding-right-small">
            <AuButton
              @icon="bin"
              @alert={{true}}
              @skin="secondary"
              @hideText={{true}}
              {{on "click" (fn this.removeIcon icon)}}
            >
              {{t "utility.delete"}}
            </AuButton>
          </td>
        </c.body>
        <tfoot>
          <tr>
            <td class="max-w-prose">
              <IconSelect
                @onChange={{this.updateIconSelector}}
                @selected={{this.selectedIcon}}
              />
            </td>
            <td class="w-px au-u-padding-right-small">
              <AuButton
                @disabled={{not this.selectedIcon}}
                {{on "click" this.addNewIcon}}
              >
                {{t "codelist.crud.add-icon"}}
              </AuButton>
            </td>
          </tr>
        </tfoot>
      </s.content>
    </AuDataTable>
  </div>
  <div class="au-o-box au-o-box--small">
    <AuDataTable
      @content={{this.valueOptions}}
      @noDataMessage={{t "codelist.crud.no-value"}}
      as |s|
    >
      <s.content as |c|>
        <c.header>
          <th class="data-table__header-title">
            {{t "codelist.attr.values"}}
          </th>
          <th>
            <span class="au-u-hidden-visually">
              {{t "codelist.crud.delete-value"}}
            </span>
          </th>
        </c.header>
        <c.body as |option|>
          <td>
            <p class="max-w-prose">
              {{option.label}}
            </p>
          </td>
          <td class="w-px au-u-padding-right-small">
            <AuButton
              @icon="bin"
              @alert={{true}}
              @skin="secondary"
              @hideText={{true}}
              {{on "click" (fn this.removeOption option)}}
            >
              {{t "utility.delete"}}
            </AuButton>
          </td>
        </c.body>
        <tfoot>
          <tr>
            <td>
              <p>
                <AuInput
                  id="values"
                  required="required"
                  value={{this.newValue}}
                  @width="block"
                  {{on "input" this.updateNewValue}}
                />
              </p>
            </td>
            <td class="w-px au-u-padding-right-small">
              <AuButton
                @disabled={{not this.newValue.length}}
                {{on "click" this.addNewValue}}
              >
                {{t "codelist.crud.add-value"}}
              </AuButton>
            </td>
          </tr>
        </tfoot>
      </s.content>
    </AuDataTable>
  </div>
</div>

<AuToolbar @border="top" @size="large" as |Group|>
  <Group>
    <AuButtonGroup>
      <AuButton
        @disabled={{or @codelist.error this.isSaving}}
        {{on "click" (perform this.editCodelistTask @codelist)}}
      >
        {{t "utility.save"}}
      </AuButton>
      <AuButton @skin="secondary" {{on "click" this.cancelEditingTask}}>
        {{t "utility.cancel"}}
      </AuButton>
    </AuButtonGroup>
  </Group>
</AuToolbar>