{{! @glint-nocheck: not typesafe yet }}
<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">
      {{#if @codelist.isNew}}
        {{t "codelist.crud.new"}}
      {{else}}
        {{t "codelist.crud.edit"}}
      {{/if}}
    </AuHeading>
  </Group>

  <Group>
    <AuButtonGroup>
      <AuButton
        @disabled={{or @codelist.error this.isSaving}}
        {{on "click" (perform this.editCodelistTask @codelist)}}
      >
        {{t "utility.save"}}
      </AuButton>
      <AuButton @skin="secondary" {{on "click" this.cancelEditingTask}}>
        {{t "utility.cancel"}}
      </AuButton>
    </AuButtonGroup>
  </Group>
</AuToolbar>

<div
  class="au-c-body-container au-c-body-container--scroll"
  {{did-insert this.didInsert}}
  {{! TODO: refactor did-insert}}
  {{!template-lint-disable no-at-ember-render-modifiers}}
>
  <div class="au-u-max-width-small">
    <div class="au-o-box">
      <form class="au-c-form" novalidate>
        {{#let @codelist.error.label as |error|}}
          <div>
            <AuLabel
              @error={{error}}
              for="label"
              @required={{true}}
              @requiredLabel={{t "utility.required"}}
            >
              {{t "codelist.attr.label"}}&nbsp;
            </AuLabel>
            <AuInput
              @error={{error}}
              @width="block"
              id="label"
              required="required"
              value={{@codelist.label}}
              {{on "input" (fn this.setCodelistValue "label")}}
            />
            <ErrorMessage @error={{error}} />
          </div>
        {{/let}}

        <div>
          <AuLabel for="label">
            {{t "codelist.attr.type"}}&nbsp;
          </AuLabel>
          <PowerSelect
            @allowClear={{false}}
            @searchEnabled={{false}}
            @options={{this.codelistTypes}}
            @selected={{this.selectedType}}
            @onChange={{this.updateCodelistType}}
            as |type|
          >
            {{t (concat "codelist.attr.types." type.label)}}
          </PowerSelect>
        </div>

        <AuTable>
          <:header>
            <tr>
              <th>
                {{t "codelist.attr.icons"}}
              </th>
              <th class="w-px">
                <span class="au-u-hidden-visually">
                  {{t "utility.delete"}}
                </span>
              </th>
            </tr>
          </:header>
          <:body>
            {{#each this.iconOptions as |icon|}}
              <tr>
                <td>
                  <div class="au-u-flex">
                    <img
                      src={{icon.image.file.downloadLink}}
                      alt=""
                      height="50"
                      class="au-u-margin-right"
                    />
                    <span class="au-u-flex-self-center">{{icon.label}}</span>
                  </div>
                </td>
                <td class="w-px au-u-padding-right-small">
                  <AuButton
                    @icon="bin"
                    @alert={{true}}
                    @skin="secondary"
                    @hideText={{true}}
                    {{on "click" (fn this.removeIcon icon)}}
                  >
                    {{t "utility.delete"}}
                  </AuButton>
                </td>
              </tr>
            {{else}}
              <tr>
                <td colspan="2">

                  {{t "codelist.crud.no-icon"}}
                </td>
              </tr>
            {{/each}}
          </:body>
          <:footer>
            <tr>
              <td class="max-w-prose">
                <IconSelect
                  @onChange={{this.updateIconSelector}}
                  @selected={{this.selectedIcon}}
                />
              </td>
              <td class="au-u-padding-right-small">
                <AuButton
                  @disabled={{not this.selectedIcon}}
                  {{on "click" this.addNewIcon}}
                >
                  {{t "codelist.crud.add-icon"}}
                </AuButton>
              </td>
            </tr>
          </:footer>
        </AuTable>

        <AuTable>
          <:header>
            <tr>
              <th>
                {{t "codelist.attr.values"}}
              </th>
              <th class="w-px">
                <span class="au-u-hidden-visually">
                  {{t "codelist.crud.delete-value"}}
                </span>
              </th>
            </tr>
          </:header>
          <:body>
            {{#each this.valueOptions as |option|}}
              <tr>
                <td>
                  <p class="max-w-prose">
                    {{option.label}}
                  </p>
                </td>
                <td class="w-px au-u-padding-right-small">
                  <AuButton
                    @icon="bin"
                    @alert={{true}}
                    @skin="secondary"
                    @hideText={{true}}
                    {{on "click" (fn this.removeOption option)}}
                  >
                    {{t "utility.delete"}}
                  </AuButton>
                </td>
              </tr>
            {{else}}
              <tr>
                <td colspan="2">
                  {{t "codelist.crud.no-value"}}
                </td>
              </tr>
            {{/each}}
          </:body>
          <:footer>
            <tr>
              <td>
                <p>
                  <AuInput
                    id="values"
                    required="required"
                    value={{this.newValue}}
                    @width="block"
                    {{on "input" this.updateNewValue}}
                  />
                </p>
              </td>
              <td class="w-px au-u-padding-right-small">
                <AuButton
                  @disabled={{not this.newValue.length}}
                  {{on "click" this.addNewValue}}
                >
                  {{t "codelist.crud.add-value"}}
                </AuButton>
              </td>
            </tr>
          </:footer>
        </AuTable>
      </form>
    </div>
  </div>
</div>