{{#let
  (changeset
    @codelist this.CodelistValidations
  ) as |codelist|
}}
  <BreadcrumbsItem as |linkClass|>
    {{#if @codelist.isNew}}
      <LinkTo
        @route="codelists-management.new"
        class={{linkClass}}
      >
        {{t "codelist.crud.new"}}
      </LinkTo>
    {{else}}
      <LinkTo
        @route="codelists-management.edit"
        @model={{@codelist.id}}
        class={{linkClass}}
      >
        {{codelist.label}}
      </LinkTo>
    {{/if}}
  </BreadcrumbsItem>

  <AuToolbar @border="bottom" @size="large">
    <AuToolbarGroup>
      <AuHeading @skin="2">
        {{#if @codelist.isNew}}
          {{t "codelist.crud.new"}}
        {{else}}
          {{t "codelist.crud.edit"}}
        {{/if}}
      </AuHeading>
    </AuToolbarGroup>
  </AuToolbar>

  <div class="au-c-body-container au-c-body-container--scroll">
    <div>
        {{#let codelist.error.label as |isInvalid|}}
          <p class="au-o-box au-u-padding-bottom-none">
            <AuLabel @error={{isInvalid}} for="label">
              {{t "codelist.attr.label"}}&nbsp;
              <AuPill>
                {{t "utility.required"}}
              </AuPill>
            </AuLabel>
            <AuInput
              @error={{isInvalid}}
              @width="block"
              id="label"
              required="required"
              value={{codelist.label}}
              {{on
                "input"
                (fn
                  this.setCodelistValue
                  codelist
                  "label"
                )
              }}
            />
            {{#if isInvalid}}
              <AuHelpText>
                {{t "utility.fieldRequired"}}
              </AuHelpText>
            {{/if}}
          </p>
        {{/let}}
        <p class="au-o-box au-u-padding-bottom-none">
          <AuLabel for="label">
            {{t "codelist.attr.type"}}&nbsp;
          </AuLabel>
          <PowerSelect
            @allowClear={{false}}
            @searchEnabled={{false}}
            @options={{this.codelistTypes}}
            @selected={{this.selectedType}}
            @onChange={{this.updateCodelistType}} as |type|
          >
            {{t (concat "codelist.attr.types." type.label)}}
          </PowerSelect>
          <br>
        </p>
        <p>
          <form
            class="au-c-form"
            id="add-concept-form"
            novalidate
            {{on "submit" this.addNewValue}}
          >
          <AuDataTable
            @content={{this.options}}
            @noDataMessage={{t "codelist.crud.noValue"}}
            as |s|
          >
            <s.content as |c|>
              <c.header>
                <th class="data-table__header-title">
                  {{t "codelist.attr.values"}}
                </th>
                <th>
                  <span class="au-u-hidden-visually">
                    {{t "codelist.crud.deleteValue"}}
                  </span>
                </th>
              </c.header>
              <c.body as |option|>
                <td>
                  <p class="max-w-prose">
                    {{option.label}}
                  </p>
                </td>
                <td class="w-px au-u-padding-right-small">
                  <AuButton
                    @icon="bin"
                    @alert={{true}}
                    @skin="secondary"
                    @hideText={{true}}
                    {{on "click" (fn this.removeOption option)}}
                  >
                    {{t "utility.delete"}}
                  </AuButton>
                </td>
              </c.body>
              <tfoot>
                <tr>
                  <td>
                    <p>
                      <AuInput
                        id="values"
                        required="required"
                        value={{this.newValue}}
                        @width="block"
                        {{on
                          "input"
                          this.updateNewValue
                        }}
                      />
                    </p>
                  </td>
                  <td class="w-px au-u-padding-right-small">
                    <button class="au-c-button"
                      form="add-concept-form"
                      type="submit"
                    >
                      {{t "codelist.crud.addValue"}}
                    </button>
                  </td>
                </tr>
              </tfoot>
            </s.content>
          </AuDataTable>
          </form>
        </p>
    </div>
  </div>

  <AuToolbar @border="top" @size="large">
    <AuToolbarGroup>
      <AuButtonGroup>
        <AuButton
          @disabled={{or codelist.isInvalid this.isSaving}}
         {{on "click" (perform this.editCodelistTask codelist)}}
        >
          {{t "utility.save"}}
        </AuButton>
        <AuButton
          @skin='secondary'
          {{on 'click' this.cancelEditingTask}}
        >
          {{t "utility.cancel"}}
        </AuButton>
      </AuButtonGroup>
    </AuToolbarGroup>
  </AuToolbar>
{{/let}}
