{{! @glint-nocheck: not typesafe yet }}
<AuLabel
  @error={{@error}}
  for="image-url"
  @required={{true}}
  @requiredLabel={{t "utility.required"}}
>
  {{t "image-input.image-upload"}}
</AuLabel>
{{#if this.source}}
  <img
    src={{this.source}}
    alt={{t "image-input.preview-alt"}}
    class="image-preview au-u-margin-bottom-small {{@imageClass}}"
  />
{{/if}}

<div class="flex au-u-flex--wrap au-u-flex--no-wrap@medium full-width">
  <FileUploader
    @accept="image/jpeg,image/jpg,image/png,image/svg+xml"
    @onFileSet={{this.setImageUpload}}
  />
</div>
<AuHelpText @size="small" @skin="tertiary">
  {{t "image-input.helptext"}}
</AuHelpText>
<ErrorMessage @error={{@error}} />