<div>
  <AuToolbar @size="large" as |Group|>
    <Group>
      <AuHeading @level="2" @skin="3">
        {{#if this.new}}
          {{t "utility.add-instruction"}}
        {{else}}
          {{t "utility.edit-instruction"}}
        {{/if}}
      </AuHeading>
    </Group>

    <Group>
      <AuButtonGroup>
        <AuButton
          {{on "click" (perform this.save)}}
          @disabled={{not this.canSave}}
          @loading={{this.save.isRunning}}
          @loadingMessage={{t "utility.save"}}
        >
          {{t "utility.save"}}
        </AuButton>
        <AuButton @skin="secondary" {{on "click" this.reset}}>
          {{t "utility.cancel"}}
        </AuButton>
        {{#if this.canDelete}}
          <AuButton
            @skin="secondary"
            @alert={{true}}
            @loading={{this.removeTemplate.isRunning}}
            @loadingMessage={{t "utility.delete"}}
            {{on "click" this.removeTemplate.perform}}
          >
            {{t "utility.delete"}}
          </AuButton>
        {{/if}}
      </AuButtonGroup>
    </Group>
  </AuToolbar>

  <div class="au-o-box">
    <div class="au-o-grid">
      <div
        class="au-o-grid__item au-u-1-2@medium"
        {{did-insert this.didInsert}}
        {{! TODO: refactor did-insert}}
        {{!template-lint-disable no-at-ember-render-modifiers}}
      >
        <AuFormRow>
          <AuLabel for="textarea-description">
            {{t "utility.description"}}
          </AuLabel>
          <AuTextarea
            {{on "input" this.updateTemplate}}
            id="textarea-description"
            @width="block"
            value={{this.template.value}}
            class="u-min-h-20"
          />
          {{#if this.templateSyntaxError}}
            <AuAlert
              @title={{this.templateSyntaxError.title}}
              @skin="error"
              @icon="alert-triangle"
              class="au-u-margin-top-small"
            >
              {{this.templateSyntaxError.message}}
            </AuAlert>
          {{/if}}
        </AuFormRow>
        {{#let this.template.error.startDate as |error|}}
          {{#let this.template.warning.startDate as |warning|}}
            <AuFormRow>
              <AuLabel
                @error={{error}}
                @warning={{warning}}
                for="startDate"
              >
                {{t "utility.start-date"}}&nbsp;
              </AuLabel>
              <AuDatePicker
                @error={{error}}
                @warning={{warning}}
                id="startDate"
                @value={{this.template.startDate}}
                @onChange={{fn this.setTemplateDate 'startDate'}}
              />
              <ErrorMessage @error={{error}} @warning={{warning}} />
            </AuFormRow>
          {{/let}}
        {{/let}}
        {{#let this.template.error.endDate as |error|}}
          {{#let this.template.warning.endDate as |warning|}}
            <AuFormRow>
              <AuLabel
                @error={{error}}
                @warning={{warning}}
                for="endDate"
              >
                {{t "utility.end-date"}}&nbsp;
              </AuLabel>
              <AuDatePicker
                @error={{error}}
                @warning={{warning}}
                id="endDate"
                @value={{this.template.endDate}}
                @onChange={{fn this.setTemplateDate 'endDate'}}
              />
              <ErrorMessage @error={{error}} @warning={{warning}} />
            </AuFormRow>
          {{/let}}
        {{/let}}
      </div>

      <div
        class="au-o-grid__item au-u-1-2@medium"
        style="margin-top: 30px;"
        {{! template-lint-disable no-inline-styles }}
      >
        <AuTable
          style="min-width: unset;"
          {{! template-lint-disable no-inline-styles }}
        >
          <:header>
            <tr>
              <th class="w-px">{{t
                  "traffic-measure-concept.attr.variable"
                }}</th>
              <th>{{t "traffic-measure-concept.attr.type"}}</th>
            </tr>
          </:header>
          <:body>
            {{#each this.variables as |variable|}}
              <tr>
                <td>{{variable.label}}</td>
                <td>
                  <PowerSelect
                    @allowClear={{false}}
                    @searchEnabled={{false}}
                    @options={{this.inputTypes}}
                    @selected={{variable.type}}
                    @onChange={{fn this.updateVariableType variable}}
                    as |type|
                  >
                    {{type}}
                  </PowerSelect>
                  {{#if (eq variable.type "codelist")}}
                    <PowerSelect
                      @allowClear={{false}}
                      @searchEnabled={{false}}
                      @options={{this.codeLists}}
                      @selected={{variable.codeList}}
                      @onChange={{fn this.updateCodeList variable}}
                      as |codeList|
                    >
                      {{codeList.label}}
                    </PowerSelect>
                    <ul>
                      {{#each variable.codeList.concepts as |option|}}
                        <li> - {{option.label}}</li>
                      {{/each}}
                    </ul>
                  {{/if}}
                </td>
              </tr>
            {{else}}
              <tr>
                <td colspan="2">
                  <AuHelpText @skin="secondary">
                    {{t "utility.template-variables.no-variables"}}
                  </AuHelpText>
                </td>
              </tr>
            {{/each}}
          </:body>
        </AuTable>
      </div>
    </div>
  </div>
</div>