<AuDataTable
  @content={{@templates}}
  @fields="Description"
  @noDataMessage={{t "road-sign-concept.crud.no-instruction"}}
  as |s|
>
  <s.menu as |menu|>
    <menu.general>
      {{yield to='menu'}}
    </menu.general>
  </s.menu>
  <s.content as |c|>
    <c.header>
      <th class="data-table__header-title">
        {{t "utility.description"}}
      </th>
      <th>
        <span class="au-u-hidden-visually">
          {{t "main-sign.crud.delete"}}
        </span>
      </th>
      <th>
        <span class="au-u-hidden-visually">
          {{t "main-sign.crud.edit"}}
        </span>
      </th>

    </c.header>
    <c.body as |template|>
      <td>
        <p class="max-w-prose">
          {{template.value}}
        </p>
      </td>
      <td class="w-px au-u-padding-right-small">
        {{yield template to='edit'}}
      </td>
      <td class="w-px au-u-padding-right-small">
        {{yield template to='delete'}}
      </td>
    </c.body>
  </s.content>
</AuDataTable>
