<AuDataTable
  @content={{@content}}
  @fields={{@fields}}
  @noDataMessage={{@noDataMessage}}
  @size={{this.pageSize}}
  @page={{this._page}}
  @sort={{this._sort}}
  as |table|>
<span
  {{did-insert this.initialize}}
  {{did-update this.onPageChange this._page}}
  {{did-update this.onSortChange this._sort}}
  {{did-update this.onExternalPageChange @page}}
  {{did-update this.onExternalSortChange @sort}}
></span>
  <table.menu as |menu|>
    <menu.general>
      {{yield to="menu"}}
    </menu.general>
  </table.menu>
  <table.content class={{@tableClass}} as |content|>
    <content.header>
      {{yield (hash
                Sortable=(
                  component 'au-data-table-th-sortable' currentSorting=this._sort))
              to="header"}}
    </content.header>
    <content.body as |item|>
      {{yield item to="body"}}
    </content.body>

  </table.content>

</AuDataTable>