<AuDataTable
  @content={{@content}}
  @fields="Image Meaning Code Categories"
  @noDataMessage={{t "road-sign-concept.crud.no-data"}}
  as |s|
>
  <s.menu as |menu|>
    <menu.general>
      <AuToolbar class="au-o-box" as |Group|>
        <Group>
          <AuHeading @level="2" @skin="4">
            {{t "road-marking-concept.attr.related-sign"}}
          </AuHeading>
        </Group>
        <Group>
          <AuButton @icon="add" {{on "click" @onClickAdd}}>
            {{t "related-road-sign.crud.add"}}
          </AuButton>
        </Group>
      </AuToolbar>
    </menu.general>
  </s.menu>
  <s.content class="table-centered-content" as |c|>
    <c.header>
      <th class="data-table__header-title w-px">
        {{t "road-sign-concept.attr.label"}}
      </th>
      <th class="data-table__header-title">
        {{t "road-sign-concept.attr.image-header"}}
      </th>
      <th class="data-table__header-title">
        {{t "road-sign-concept.attr.meaning"}}
      </th>
      <th class="data-table__header-title">
        {{t "road-sign-concept.attr.classifications"}}
      </th>
      <th>
        <span class="au-u-hidden-visually">
          {{t "related-road-sign.crud.delete"}}
        </span>
      </th>
    </c.header>
    <c.body as |relatedRoadSignConcept|>
      <td>
        <AuLink
          @route="road-sign-concepts.road-sign-concept"
          @model={{relatedRoadSignConcept.id}}
        >
          {{relatedRoadSignConcept.label}}
        </AuLink>
      </td>
      <td>
        <img
          class="au-c-thumbnail"
          src={{relatedRoadSignConcept.image.file.downloadLink}}
          alt=""
        />
      </td>
      <td>
        <p class="max-w-prose">
          {{relatedRoadSignConcept.meaning}}
        </p>
      </td>
      <td>
        {{#each relatedRoadSignConcept.classifications as |classification|}}
          {{classification.label}}
        {{/each}}
      </td>
      <td class="w-px au-u-padding-right-small">
        <AuButton
          @alert={{true}}
          @skin="naked"
          {{on "click" (fn @onClickRemove relatedRoadSignConcept)}}
        >
          {{t "utility.delete"}}
        </AuButton>
      </td>
    </c.body>
  </s.content>
</AuDataTable>