{{#let
  (changeset
    @roadSignConcept this.RoadSignConceptValidations
  ) as |roadSignConcept|
}}
  <BreadcrumbsItem as |linkClass|>
    {{#if @roadSignConcept.isNew}}
      <LinkTo
        @route="road-sign-concepts.new"
        class={{linkClass}}
      >
        {{t "roadSignConcept.crud.new"}}
      </LinkTo>
    {{else}}
      <LinkTo
        @route="road-sign-concepts.edit"
        @model={{roadSignConcept.id}}
        class={{linkClass}}
      >
        {{roadSignConcept.roadSignConceptCode}}
      </LinkTo>
    {{/if}}

  </BreadcrumbsItem>

  <AuToolbar @border="bottom" @size="large">
    <AuToolbarGroup>
      <AuHeading @skin="2">
        {{#if @roadSignConcept.isNew}}
          {{t "roadSignConcept.crud.new"}}
        {{else}}
          {{t "roadSignConcept.crud.edit"}}
        {{/if}}
      </AuHeading>
    </AuToolbarGroup>
  </AuToolbar>

  <div class="au-c-body-container au-c-body-container--scroll">
    <div class="au-o-box">
      <div class="au-o-grid">
        <div class="au-o-grid__item au-u-2-3@medium au-u-2-5@large">
          <form
            class="au-c-form"
            id="edit-road-sign-concept-form"
            novalidate
          >
            {{#let roadSignConcept.error.image as |isInvalid|}}
              <p>
                <AuLabel @error={{isInvalid}} for="image-url">
                  {{t "roadSignConcept.attr.imageUrl"}}&nbsp;
                  <AuPill>
                    {{t "utility.required"}}
                  </AuPill>
                </AuLabel>
                <AuInput
                  @error={{isInvalid}}
                  id="image-url"
                  required="required"
                  type="text"
                  value={{roadSignConcept.image}}
                  class="au-u-3-5 au-u-4-5@small"
                  {{on "input" (fn this.setImageUrl roadSignConcept)}}
                />
                <span>
                  {{t "utility.or"}}
                </span>
                <FileUploader
                  @accept={{"image/jpeg,image/jpg,image/png,image/svg+xml"}}
                  @onFileSet={{fn this.setImageUpload roadSignConcept}}
                />
                {{#if isInvalid}}
                  <AuHelpText>
                    {{t "utility.fieldRequired"}}
                  </AuHelpText>
                {{/if}}
              </p>
            {{/let}}
            {{#let roadSignConcept.error.roadSignConceptCode as |isInvalid|}}
              <p>
                <AuLabel @error={{isInvalid}} for="road-sign-concept-code">
                  {{t "roadSignConcept.attr.code"}}&nbsp;
                  <AuPill>
                    {{t "utility.required"}}
                  </AuPill>
                </AuLabel>
                <AuInput
                  @error={{isInvalid}}
                  id="road-sign-concept-code"
                  required="required"
                  value={{roadSignConcept.roadSignConceptCode}}
                  {{on
                    "input"
                    (fn
                      this.setRoadSignConceptValue
                      roadSignConcept
                      "roadSignConceptCode"
                    )
                  }}
                />
                {{#if isInvalid}}
                  <AuHelpText>
                    {{t "utility.fieldRequired"}}
                  </AuHelpText>
                {{/if}}
              </p>
            {{/let}}
            {{#let roadSignConcept.error.meaning as |isInvalid|}}
              <p>
                <AuLabel @error={{isInvalid}} for="meaning">
                  {{t "roadSignConcept.attr.meaning"}}&nbsp;
                  <AuPill>
                    {{t "utility.required"}}
                  </AuPill>
                </AuLabel>
                <AuTextarea
                  @error={{isInvalid}}
                  @width="block"
                  class="u-min-h-20"
                  id="meaning"
                  required="required"
                  value={{roadSignConcept.meaning}}
                  {{on
                    "input"
                    (fn this.setRoadSignConceptValue roadSignConcept "meaning")
                  }}
                />
                {{#if isInvalid}}
                  <AuHelpText>
                    {{t "utility.fieldRequired"}}
                  </AuHelpText>
                {{/if}}
              </p>
            {{/let}}
            {{#let roadSignConcept.error.categories as |isInvalid|}}
              <p>
                <AuLabel @error={{isInvalid}} for="categories">
                  {{t "roadSignConcept.attr.categories"}}&nbsp;
                  <AuPill>
                    {{t "utility.required"}}
                  </AuPill>
                </AuLabel>
              <div class={{if isInvalid "ember-power-select--error"}}>
                <PowerSelectMultiple
                  @allowClear={{true}}
                  @searchEnabled={{true}}
                  @noMatchesMessage={{t "roadSignConcept.crud.noData"}}
                  @searchField="label"
                  @options={{@categories}}
                  @selected={{roadSignConcept.categories}}
                  @onChange={{
                fn this.setRoadSignConceptCategory roadSignConcept
                }}
                  @triggerId="categories" as |category|
                >
                  {{category.label}}
                </PowerSelectMultiple>
              </div>
              {{#if isInvalid}}
                <AuHelpText>
                  {{t "utility.fieldRequired"}}
                </AuHelpText>
              {{/if}}
              </p>
            {{/let}}
            <p>
            <AuLabel for="categories">
              {{t "utility.zonality"}}&nbsp;
              <AuPill>
                {{t "utility.optional"}}
              </AuPill>
            </AuLabel>
            <ZonalitySelector @concept={{roadSignConcept}}/>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>

  <AuToolbar @border="top" @size="large">
    <AuToolbarGroup>
      <AuButtonGroup>
        <AuButton
          @disabled={{or roadSignConcept.isPristine}}
          @loading={{this.isSaving}}
          {{on "click" (perform this.editRoadSignConceptTask roadSignConcept)}}
        >
          {{t "utility.save"}}
        </AuButton>
        {{#if @roadSignConcept.isNew}}
          <LinkTo
            @route="road-sign-concepts"
            class="au-c-button au-c-button--secondary"
          >
            {{t "utility.cancel"}}
          </LinkTo>
        {{else}}
          <LinkTo
            @route="road-sign-concepts.road-sign-concept"
            @model={{roadSignConcept.id}}
            class="au-c-button au-c-button--secondary"
          >
            {{t "utility.cancel"}}
          </LinkTo>
        {{/if}}
      </AuButtonGroup>
    </AuToolbarGroup>
  </AuToolbar>
{{/let}}