<BreadcrumbsItem as |linkClass|>
  {{#if @roadSignConcept.isNew}}
    <LinkTo @route="road-sign-concepts.new" class={{linkClass}}>
      {{t "road-sign-concept.crud.new"}}
    </LinkTo>
  {{else}}
    <LinkTo
      @route="road-sign-concepts.edit"
      @model={{@roadSignConcept.id}}
      class={{linkClass}}
    >
      {{@roadSignConcept.roadSignConceptCode}}
    </LinkTo>
  {{/if}}
</BreadcrumbsItem>

<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">
      {{#if @roadSignConcept.isNew}}
        {{t "road-sign-concept.crud.new"}}
      {{else}}
        {{t "road-sign-concept.crud.edit"}}
      {{/if}}
    </AuHeading>
  </Group>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <div class="au-o-grid">
      <div class="au-o-grid__item au-u-2-3@medium">
        <form class="au-c-form" id="edit-road-sign-concept-form" novalidate>
          {{#let @roadSignConcept.error.image as |isInvalid|}}
            <AuFormRow>
              <ImageInput
                @oldImage={{@roadSignConcept.image}}
                @error={{isInvalid}}
                @setImage={{(fn this.setImage @roadSignConcept)}}
              />
            </AuFormRow>
          {{/let}}
          {{#let @roadSignConcept.error.roadSignConceptCode as |isInvalid|}}
            <AuFormRow>
              <AuLabel
                @error={{isInvalid}}
                for="road-sign-concept-code"
                @required={{true}}
                @requiredLabel={{t "utility.required"}}
              >
                {{t "road-sign-concept.attr.code"}}&nbsp;
              </AuLabel>
              <AuInput
                @error={{isInvalid}}
                id="road-sign-concept-code"
                required="required"
                @value={{@roadSignConcept.roadSignConceptCode}}
                {{on
                  "input"
                  (fn this.setRoadSignConceptValue "roadSignConceptCode")
                }}
              />
              {{#if isInvalid}}
                <AuHelpText @error={{true}}>
                  {{t "utility.field-required"}}
                </AuHelpText>
              {{/if}}
            </AuFormRow>
          {{/let}}
          {{#let @roadSignConcept.error.meaning as |isInvalid|}}
            <AuFormRow>
              <AuLabel
                @error={{isInvalid}}
                for="meaning"
                @required={{true}}
                @requiredLabel={{t "utility.required"}}
              >
                {{t "road-sign-concept.attr.meaning"}}&nbsp;
              </AuLabel>
              <AuTextarea
                @error={{isInvalid}}
                @width="block"
                class="u-min-h-20"
                id="meaning"
                required="required"
                @value={{@roadSignConcept.meaning}}
                {{on "input" (fn this.setRoadSignConceptValue "meaning")}}
              />
              {{#if isInvalid}}
                <AuHelpText @error={{true}}>
                  {{t "utility.field-required"}}
                </AuHelpText>
              {{/if}}
            </AuFormRow>
          {{/let}}
          {{#let @roadSignConcept.error.categories as |isInvalid|}}
            <AuFormRow>
              <AuLabel
                @error={{isInvalid}}
                for="categories"
                @required={{true}}
                @requiredLabel={{t "utility.required"}}
              >
                {{t "road-sign-concept.attr.categories"}}&nbsp;
              </AuLabel>
              <div class={{if isInvalid "ember-power-select--error"}}>
                <PowerSelectMultiple
                  @allowClear={{true}}
                  @placeholder={{t "utility.search-placeholder"}}
                  @searchEnabled={{true}}
                  @searchMessage={{t "utility.search-placeholder"}}
                  @noMatchesMessage={{t "road-sign-concept.crud.no-data"}}
                  @searchField="label"
                  @options={{@categories}}
                  @loadingMessage={{t "utility.loading"}}
                  @selected={{@roadSignConcept.categories}}
                  @onChange={{this.setRoadSignConceptCategory}}
                  @triggerId="categories"
                  as |category|
                >
                  {{category.label}}
                </PowerSelectMultiple>
              </div>
              {{#if isInvalid}}
                <AuHelpText @error={{true}}>
                  {{t "utility.field-required"}}
                </AuHelpText>
              {{/if}}
            </AuFormRow>
          {{/let}}
          <AuFormRow>
            <AuLabel for="zonality">
              {{t "utility.zonality"}}&nbsp;
            </AuLabel>
            <ZonalitySelector
              @zonality={{@roadSignConcept.zonality}}
              @onChange={{this.setRoadSignConceptZonality}}
            />
          </AuFormRow>
        </form>
      </div>
    </div>
  </div>
</div>

<AuToolbar @border="top" @size="large" as |Group|>
  <Group>
    <AuButtonGroup>
      <AuButton
        @disabled={{or @roadSignConcept.error this.isSaving}}
        @loading={{this.isSaving}}
        {{on "click" (perform this.editRoadSignConceptTask)}}
      >
        {{t "utility.save"}}
      </AuButton>
      {{#if @roadSignConcept.isNew}}
        <LinkTo
          @route="road-sign-concepts"
          class="au-c-button au-c-button--secondary"
        >
          {{t "utility.cancel"}}
        </LinkTo>
      {{else}}
        <LinkTo
          @route="road-sign-concepts.road-sign-concept"
          @model={{@roadSignConcept.id}}
          class="au-c-button au-c-button--secondary"
        >
          {{t "utility.cancel"}}
        </LinkTo>
      {{/if}}
    </AuButtonGroup>
  </Group>
</AuToolbar>