{{#let
  (changeset
    @roadMarkingConcept this.RoadMarkingConceptValidations
  ) as |roadMarkingConcept|
}}
  <BreadcrumbsItem as |linkClass|>
    <LinkTo
      @route="road-marking-concepts.edit"
      @model={{roadMarkingConcept.id}}
      class={{linkClass}}
    >
      {{#if @roadMarkingConcept.isNew}}
        {{t "roadMarkingConcept.crud.new"}}
      {{else}}
        {{roadMarkingConcept.roadMarkingConceptCode}}
      {{/if}}
    </LinkTo>
  </BreadcrumbsItem>

  <AuToolbar @border="bottom" @size="large">
    <AuToolbarGroup>
      <AuHeading @skin="2">
        {{#if @roadMarkingConcept.isNew}}
          {{t "roadMarkingConcept.crud.new"}}
        {{else}}
          {{t "roadMarkingConcept.crud.edit"}}
        {{/if}}
      </AuHeading>
    </AuToolbarGroup>
  </AuToolbar>
  <div class="au-c-body-container au-c-body-container--scroll">
    <div class="au-o-box">
      <div class="au-o-grid">
        <div class="au-o-grid__item au-u-2-3@medium au-u-2-5@large">
          <form
            class="au-c-form"
            id="edit-road-marking-concept-form"
            novalidate
          >
            {{#let roadMarkingConcept.error.image as |isInvalid|}}
              {{log roadMarkingCocnept.error}}
              {{log isInvalid}}
              <p>
                <AuLabel @error={{isInvalid}} for="image-url">
                  {{t "roadMarkingConcept.attr.imageUrl"}}&nbsp;
                  <AuPill>
                    {{t "utility.required"}}
                  </AuPill>
                </AuLabel>
                <AuInput
                  @error={{isInvalid}}
                  id="image-url"
                  required="required"
                  type="text"
                  value={{roadMarkingConcept.image}}
                  class="au-u-3-5 au-u-4-5@small"
                  {{on "input" (fn this.setImageUrl roadMarkingConcept)}}
                />
                <span>
                  {{t "utility.or"}}
                </span>
                <FileUploader
                  @accept={{"image/png,image/jpg"}}
                  @onFileSet={{fn this.setImageUpload roadMarkingConcept}}
                />
                {{#if isInvalid}}
                  <AuHelpText>
                    {{t "utility.fieldRequired"}}
                  </AuHelpText>
                {{/if}}
              </p>
            {{/let}}
            {{#let
              roadMarkingConcept.error.roadMarkingConceptCode as |isInvalid|
            }}
              <p>
                <AuLabel @error={{isInvalid}} for="road-marking-concept-code">
                  {{t "roadMarkingConcept.attr.code"}}&nbsp;
                  <AuPill>
                    {{t "utility.required"}}
                  </AuPill>
                </AuLabel>
                <AuInput
                  @error={{isInvalid}}
                  id="road-marking-concept-code"
                  required="required"
                  value={{roadMarkingConcept.roadMarkingConceptCode}}
                  {{on
                    "input"
                    (fn
                      this.setRoadMarkingConceptValue
                      roadMarkingConcept
                      "roadMarkingConceptCode"
                    )
                  }}
                />
                {{#if isInvalid}}
                  <AuHelpText>
                    {{t "utility.fieldRequired"}}
                  </AuHelpText>
                {{/if}}
              </p>
            {{/let}}
            {{#let roadMarkingConcept.error.meaning as |isInvalid|}}
              <p>
                <AuLabel @error={{isInvalid}} for="meaning">
                  {{t "roadMarkingConcept.attr.meaning"}}&nbsp;
                  <AuPill>
                    {{t "utility.required"}}
                  </AuPill>
                </AuLabel>
                <AuTextarea
                  @error={{isInvalid}}
                  @width="block"
                  class="u-min-h-20"
                  id="meaning"
                  required="required"
                  value={{roadMarkingConcept.meaning}}
                  {{on
                    "input"
                    (fn this.setRoadMarkingConceptValue roadMarkingConcept "meaning")
                  }}
                />
                {{#if isInvalid}}
                  <AuHelpText>
                    {{t "utility.fieldRequired"}}
                  </AuHelpText>
                {{/if}}
              </p>
            {{/let}}
          </form>
        </div>
      </div>
    </div>
  </div>

  <AuToolbar @border="top" @size="large">
    <AuToolbarGroup>
      <AuButtonGroup>
        <AuButton
          @disabled={{or roadMarkingConcept.isPristine this.isSaving}}
          @loading={{this.isSaving}}
          {{on "click" (perform this.editRoadMarkingConceptTask roadMarkingConcept)}}
        >
          {{t "utility.save"}}
        </AuButton>
        {{#if @roadMarkingConcept.isNew}}
          <LinkTo
            @route="road-marking-concepts.index"
            class="au-c-button au-c-button--secondary"
          >
            {{t "utility.cancel"}}
          </LinkTo>
        {{else}}
          <LinkTo
            @route="road-marking-concepts.road-marking-concept"
            @model={{roadMarkingConcept.id}}
            class="au-c-button au-c-button--secondary"
          >
            {{t "utility.cancel"}}
          </LinkTo>
        {{/if}}
      </AuButtonGroup>
    </AuToolbarGroup>
  </AuToolbar>
{{/let}}