<BreadcrumbsItem as |linkClass|>
  {{#if @roadSignConcept.isNew}}
    <LinkTo @route="road-sign-concepts.new" class={{linkClass}}>
      {{t "road-sign-concept.crud.new"}}
    </LinkTo>
  {{else}}
    <LinkTo
      @route="road-sign-concepts.edit"
      @model={{@roadSignConcept.id}}
      class={{linkClass}}
    >
      {{@roadSignConcept.label}}
    </LinkTo>
  {{/if}}
</BreadcrumbsItem>

<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">
      {{#if @roadSignConcept.isNew}}
        {{t "road-sign-concept.crud.new"}}
      {{else}}
        {{t "road-sign-concept.crud.edit"}}
      {{/if}}
    </AuHeading>
  </Group>
  <Group>
    <AuButtonGroup>

      <AuButton
        @disabled={{or @roadSignConcept.error this.isSaving}}
        @loading={{this.isSaving}}
        @loadingMessage={{t "utility.save"}}
        {{on "click" (perform this.editRoadSignConceptTask)}}
      >
        {{t "utility.save"}}
      </AuButton>
      {{#if @roadSignConcept.isNew}}
        <LinkTo
          @route="road-sign-concepts"
          class="au-c-button au-c-button--secondary"
        >
          {{t "utility.cancel"}}
        </LinkTo>
      {{else}}
        <LinkTo
          @route="road-sign-concepts.road-sign-concept"
          @model={{@roadSignConcept.id}}
          class="au-c-button au-c-button--secondary"
        >
          {{t "utility.cancel"}}
        </LinkTo>
      {{/if}}
    </AuButtonGroup>
  </Group>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <div class="au-u-max-width-small">
      <form class="au-c-form" id="edit-road-sign-concept-form" novalidate>
        <AuFormRow>

          {{#let @roadSignConcept.error.arPlichtig as |error|}}
            <AuLabel @error={{error}} for="ar-plichtig">
              {{t "utility.ar-plichtig"}}
            </AuLabel>
          {{/let}}
          <AuToggleSwitch
            @onChange={{fn this.setBooleanValue "arPlichtig"}}
            @checked={{@roadSignConcept.arPlichtig}}
            id="ar-plichtig"
          >
            <ArPlichtigStatus @status={{@roadSignConcept.arPlichtig}} />
          </AuToggleSwitch>
        </AuFormRow>
        {{#let @roadSignConcept.error.image as |error|}}
          <AuFormRow>
            <ImageInput
              @oldImage={{@roadSignConcept.image.file.downloadLink}}
              @error={{error}}
              @setImage={{fn this.setImage @roadSignConcept}}
            />
          </AuFormRow>
        {{/let}}
        {{#let @roadSignConcept.error.label as |error|}}
          <AuFormRow>
            <AuLabel
              @error={{error}}
              for="label"
              @required={{true}}
              @requiredLabel={{t "utility.required"}}
            >
              {{t "road-sign-concept.attr.label"}}&nbsp;
            </AuLabel>
            <AuInput
              @error={{error}}
              id="label"
              required="required"
              value={{@roadSignConcept.label}}
              {{on "input" (fn this.setRoadSignConceptValue "label")}}
            />
            <ErrorMessage @error={{error}} />
          </AuFormRow>
        {{/let}}
        {{#let @roadSignConcept.error.meaning as |error|}}
          <AuFormRow>
            <AuLabel
              @error={{error}}
              for="meaning"
              @required={{true}}
              @requiredLabel={{t "utility.required"}}
            >
              {{t "road-sign-concept.attr.meaning"}}&nbsp;
            </AuLabel>
            <AuTextarea
              @error={{error}}
              @width="block"
              class="u-min-h-20"
              id="meaning"
              required="required"
              value={{@roadSignConcept.meaning}}
              {{on "input" (fn this.setRoadSignConceptValue "meaning")}}
            />
            <ErrorMessage @error={{error}} />
          </AuFormRow>
        {{/let}}
        {{#let @roadSignConcept.error.startDate as |error|}}
          <AuFormRow>
            <AuLabel
              @error={{error}}
              for="startDate"
            >
              {{t "utility.start-date"}}&nbsp;
            </AuLabel>
            <AuDatePicker
              @error={{error}}
              id="startDate"
              @value={{@roadSignConcept.startDate}}
              @onChange={{fn this.setRoadsignDate 'startDate'}}
            />
            <ErrorMessage @error={{error}} />
          </AuFormRow>
        {{/let}}
        {{#let @roadSignConcept.error.endDate @roadSignConcept.warning.endDate as |error warning|}}
          <AuFormRow>
            <AuLabel
              @error={{error}}
              @warning={{warning}}
              for="endDate"
            >
              {{t "utility.end-date"}}&nbsp;
            </AuLabel>
            <AuDatePicker
              @error={{error}}
              @warning={{warning}}
              id="endDate"
              @min={{@roadSignConcept.startDate}}
              @value={{@roadSignConcept.endDate}}
              @onChange={{fn this.setRoadsignDate 'endDate'}}
            />
            <ErrorMessage @error={{error}} @warning={{warning}} />
          </AuFormRow>
        {{/let}}
        <AuHelpText>
          {{t "utility.modifying-validity-dates-warning"}}
        </AuHelpText>
        {{#let @roadSignConcept.error.classifications as |error|}}
          <AuFormRow>
            <AuLabel
              @error={{error}}
              for="classifications"
              @required={{true}}
              @requiredLabel={{t "utility.required"}}
            >
              {{t "road-sign-concept.attr.classifications"}}&nbsp;
            </AuLabel>
            <div class={{if error "ember-power-select--error"}}>
              <PowerSelectMultiple
                @allowClear={{true}}
                @placeholder={{t "utility.search-placeholder"}}
                @searchEnabled={{true}}
                @searchMessage={{t "utility.search-placeholder"}}
                @noMatchesMessage={{t "road-sign-concept.crud.no-data"}}
                @searchField="label"
                @options={{@classifications}}
                @loadingMessage={{t "utility.loading"}}
                @selected={{@roadSignConcept.classifications}}
                @onChange={{this.setRoadSignConceptClassification}}
                @triggerId="classifications"
                as |classification|
              >
                {{classification.label}}
              </PowerSelectMultiple>
            </div>
            <ErrorMessage @error={{error}} />
          </AuFormRow>
        {{/let}}

        {{#let (await @roadSignConcept.variables) as |variables|}}
          <TrafficSignCommon::VariableManager
            @variables={{variables}}
            @removeVariable={{this.removeVariable}}
            @addVariable={{this.addVariable}}
          />
        {{/let}}

        {{! Shapes and dimensions }}
        {{#let (await @roadSignConcept.shapes) as |shapes|}}
          {{#if (this.isArray shapes)}}
            <Common::ShapeManager
              @trafficSignConcept={{@roadSignConcept}}
              @shapes={{shapes}}
              @addShape={{this.addShape}}
              @removeShape={{this.removeShape}}
              @removeDimension={{this.removeDimension}}
            />
          {{/if}}
        {{/let}}
      </form>
    </div>
  </div>
</div>