{{#let
  (changeset
    @trafficLightConcept this.TrafficLightConceptValidations
  ) as |trafficLightConcept|
}}
  <BreadcrumbsItem as |linkClass|>
    {{#if @trafficLightConcept.isNew}}
      <LinkTo @route="traffic-light-concepts.new" class={{linkClass}}>
        {{t "traffic-light-concept.crud.new"}}
      </LinkTo>
    {{else}}
      <LinkTo
        @route="traffic-light-concepts.edit"
        @model={{trafficLightConcept.id}}
        class={{linkClass}}
      >
        {{trafficLightConcept.trafficLightConceptCode}}
      </LinkTo>
    {{/if}}

  </BreadcrumbsItem>

  <AuToolbar @border="bottom" @size="large" as |Group|>
    <Group>
      <AuHeading @skin="2">
        {{#if @trafficLightConcept.isNew}}
          {{t "traffic-light-concept.crud.new"}}
        {{else}}
          {{t "traffic-light-concept.crud.edit"}}
        {{/if}}
      </AuHeading>
    </Group>
  </AuToolbar>

  <div class="au-c-body-container au-c-body-container--scroll">
    <div class="au-o-box">
      <div class="au-o-grid">
        <div class="au-o-grid__item au-u-2-3@medium au-u-2-5@large">
          <form
            class="au-c-form"
            id="edit-traffic-light-concept-form"
            novalidate
          >
            {{#let trafficLightConcept.error.image as |isInvalid|}}
              <p>
                <AuLabel @error={{isInvalid}} for="image-url" @required={{true}}>
                  {{t "traffic-light-concept.attr.image-url"}}&nbsp;
                </AuLabel>
                <AuInput
                  @error={{isInvalid}}
                  id="image-url"
                  required="required"
                  type="text"
                  @value={{trafficLightConcept.image}}
                  class="au-u-3-5 au-u-4-5@small"
                  {{on "input" (fn this.setImageUrl trafficLightConcept)}}
                />
                <span>
                  {{t "utility.or"}}
                </span>
                <FileUploader
                  @accept={{"image/jpeg,image/jpg,image/png,image/svg+xml"}}
                  @onFileSet={{fn this.setImageUpload trafficLightConcept}}
                />
                {{#if isInvalid}}
                  <AuHelpText @error={{true}}>
                    {{t "utility.field-required"}}
                  </AuHelpText>
                {{/if}}
              </p>
            {{/let}}
            {{#let
              trafficLightConcept.error.trafficLightConceptCode as |isInvalid|
            }}
              <p>
                <AuLabel @error={{isInvalid}} for="traffic-light-concept-code" @required={{true}}>
                  {{t "traffic-light-concept.attr.code"}}&nbsp;
                </AuLabel>
                <AuInput
                  @error={{isInvalid}}
                  id="traffic-light-concept-code"
                  required="required"
                  @value={{trafficLightConcept.trafficLightConceptCode}}
                  {{on
                    "input"
                    (fn
                      this.setTrafficLightConceptValue
                      trafficLightConcept
                      "trafficLightConceptCode"
                    )
                  }}
                />
                {{#if isInvalid}}
                  <AuHelpText @error={{true}}>
                    {{t "utility.field-required"}}
                  </AuHelpText>
                {{/if}}
              </p>
            {{/let}}
            {{#let trafficLightConcept.error.definition as |isInvalid|}}
              <p>
                <AuLabel @error={{isInvalid}} for="definition" @required={{true}}>
                  {{t "traffic-light-concept.attr.definition"}}&nbsp;
                </AuLabel>
                <AuTextarea
                  @error={{isInvalid}}
                  @width="block"
                  class="u-min-h-20"
                  id="definition"
                  required="required"
                  @value={{trafficLightConcept.definition}}
                  {{on
                    "input"
                    (fn
                      this.setTrafficLightConceptValue
                      trafficLightConcept
                      "definition"
                    )
                  }}
                />
                {{#if isInvalid}}
                  <AuHelpText @error={{true}}>
                    {{t "utility.field-required"}}
                  </AuHelpText>
                {{/if}}
              </p>
            {{/let}}
            {{#let trafficLightConcept.error.meaning as |isInvalid|}}
              <p>
                <AuLabel @error={{isInvalid}} for="meaning" @required={{true}}>
                  {{t "traffic-light-concept.attr.meaning"}}&nbsp;
                </AuLabel>
                <AuTextarea
                  @error={{isInvalid}}
                  @width="block"
                  class="u-min-h-20"
                  id="meaning"
                  required="required"
                  @value={{trafficLightConcept.meaning}}
                  {{on
                    "input"
                    (fn
                      this.setTrafficLightConceptValue
                      trafficLightConcept
                      "meaning"
                    )
                  }}
                />
                {{#if isInvalid}}
                  <AuHelpText @error={{true}}>
                    {{t "utility.field-required"}}
                  </AuHelpText>
                {{/if}}
              </p>
            {{/let}}
          </form>
        </div>
      </div>
    </div>
  </div>

  <AuToolbar @border="top" @size="large" as |Group|>
    <Group>
      <AuButtonGroup>
        <AuButton
          @disabled={{or trafficLightConcept.isPristine this.isSaving}}
          @loading={{this.isSaving}}
          form="edit-traffic-light-concept-form"
          {{on "click" (perform this.editTrafficLightConceptTask trafficLightConcept)}}
        >
          {{t "utility.save"}}
        </AuButton>
        {{#if @trafficLightConcept.isNew}}
          <LinkTo
            @route="traffic-light-concepts"
            class="au-c-button au-c-button--secondary"
          >
            {{t "utility.cancel"}}
          </LinkTo>
        {{else}}
          <LinkTo
            @route="traffic-light-concepts.traffic-light-concept"
            @model={{trafficLightConcept.id}}
            class="au-c-button au-c-button--secondary"
          >
            {{t "utility.cancel"}}
          </LinkTo>
        {{/if}}
      </AuButtonGroup>
    </Group>
  </AuToolbar>
{{/let}}