{{#unless @trafficLightConcept.isNew}}
  <BreadcrumbsItem as |linkClass|>
    <LinkTo
      @route="traffic-light-concepts.traffic-light-concept"
      @model={{@trafficLightConcept.id}}
      class={{linkClass}}
    >
      {{t "traffic-light-concept.details" label=@trafficLightConcept.label}}
    </LinkTo>
  </BreadcrumbsItem>
{{/unless}}

<BreadcrumbsItem as |linkClass|>
  {{#if @trafficLightConcept.isNew}}
    <LinkTo @route="traffic-light-concepts.new" class={{linkClass}}>
      {{t "traffic-light-concept.crud.new"}}
    </LinkTo>
  {{else}}
    <LinkTo
      @route="traffic-light-concepts.edit"
      @model={{@trafficLightConcept.id}}
      class={{linkClass}}
    >
      {{t "traffic-light-concept.crud.edit"}}
    </LinkTo>
  {{/if}}
</BreadcrumbsItem>

<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">
      {{#if @trafficLightConcept.isNew}}
        {{t "traffic-light-concept.crud.new"}}
      {{else}}
        {{t "traffic-light-concept.crud.edit"}}
      {{/if}}
    </AuHeading>
  </Group>
  <Group>
    <AuButtonGroup>
      <AuButton
        @disabled={{or @trafficLightConcept.error this.isSaving}}
        @loading={{this.isSaving}}
        @loadingMessage={{t "utility.save"}}
        form="edit-traffic-light-concept-form"
        {{on "click" (perform this.editTrafficLightConceptTask)}}
      >
        {{t "utility.save"}}
      </AuButton>
      {{#if @trafficLightConcept.isNew}}
        <AuLink @route="traffic-light-concepts" @skin="button-secondary">
          {{t "utility.cancel"}}
        </AuLink>
      {{else}}
        <AuLink
          @route="traffic-light-concepts.traffic-light-concept"
          @model={{@trafficLightConcept.id}}
          @skin="button-secondary"
        >
          {{t "utility.cancel"}}
        </AuLink>
      {{/if}}
    </AuButtonGroup>
  </Group>
</AuToolbar>

<AuBodyContainer @scroll={{true}}>
  <div class="au-o-box">
    <div class="au-u-max-width-small">
      <form class="au-c-form" id="edit-traffic-light-concept-form" novalidate>
        {{#let @trafficLightConcept.error.image as |error|}}
          <AuFormRow>
            <ImageInput
              @oldImage={{@trafficLightConcept.image.file.downloadLink}}
              @error={{error}}
              @setImage={{fn this.setImage @trafficLightConcept}}
            />
          </AuFormRow>
        {{/let}}
        {{#let @trafficLightConcept.error.label as |error|}}
          <AuFormRow>
            <AuLabel
              @error={{error}}
              for="traffic-light-concept-code"
              @required={{true}}
              @requiredLabel={{t "utility.required"}}
            >
              {{t "traffic-light-concept.attr.label"}}&nbsp;
            </AuLabel>
            <AuInput
              @error={{error}}
              id="traffic-light-concept-code"
              required="required"
              value={{@trafficLightConcept.label}}
              {{on "input" (fn this.setTrafficLightConceptValue "label")}}
            />
            <ErrorMessage @error={{error}} />
          </AuFormRow>
        {{/let}}
        {{#let @trafficLightConcept.error.meaning as |error|}}
          <AuFormRow>
            <AuLabel
              @error={{error}}
              for="meaning"
              @required={{true}}
              @requiredLabel={{t "utility.required"}}
            >
              {{t "traffic-light-concept.attr.meaning"}}&nbsp;
            </AuLabel>
            <AuTextarea
              @error={{error}}
              @width="block"
              class="u-min-h-20"
              id="meaning"
              required="required"
              value={{@trafficLightConcept.meaning}}
              {{on "input" (fn this.setTrafficLightConceptValue "meaning")}}
            />
            <ErrorMessage @error={{error}} />
          </AuFormRow>
        {{/let}}
      </form>
    </div>
  </div>
</AuBodyContainer>