{{#let @trafficMeasureConcept.error.zonality as |error|}}
<div class={{if error "ember-power-select--error"}}>
<PowerSelect
  @allowClear={{false}}
  @searchEnabled={{false}}
  @loadingMessage={{t "utility.loading"}}
  @options={{this.zonalities.value}}
  @selected={{@zonality}}
  @onChange={{@onChange}}
  as |zonality|
>
  {{zonality-label zonality}}
</PowerSelect>
<ErrorMessage @error={{error}} />
</div>
{{/let}}
<br />