{{! @glint-nocheck: not typesafe yet }}
<SidebarContainer>
  <:sidebar>
    <div class="au-o-box">
      <AuHeading @level="2" @skin="3" class="au-u-margin-bottom">
        {{t "utility.filters"}}
      </AuHeading>
      <form class="au-c-form">
        <AuFormRow>
          <AuLabel for="label-filter">
            {{t "road-marking-concept.crud.label-filter"}}
          </AuLabel>
          <AuInput
            id="label-filter"
            value={{this.label}}
            placeholder={{t
              "road-marking-concept.crud.label-filter-placeholder"
            }}
            @icon="search"
            @iconAlignment="right"
            {{on "input" (perform this.updateSearchFilterTask "label")}}
          />
        </AuFormRow>
        <AuFormRow>
          <AuLabel for="meaning-filter">
            {{t "road-marking-concept.crud.meaning-filter"}}
          </AuLabel>
          <AuInput
            id="meaning-filter"
            value={{this.meaning}}
            placeholder={{t
              "road-marking-concept.crud.meaning-filter-placeholder"
            }}
            @icon="search"
            @iconAlignment="right"
            {{on "input" (perform this.updateSearchFilterTask "meaning")}}
          />
        </AuFormRow>

        <div>
          <AuLabel for="validation-filter">
            {{t "road-marking-concept.crud.validation-filter"}}
          </AuLabel>
          <PowerSelect
            @allowClear={{true}}
            @options={{this.validationStatusOptions}}
            @selected={{this.selectedValidationStatus}}
            @placeholder={{t
              "road-marking-concept.crud.validation-filter-placeholder"
            }}
            @loadingMessage={{t "utility.loading"}}
            @onChange={{fn this.updateBooleanFilter "validation"}}
            @triggerId="validation-filter"
            as |validation|
          >
            {{validation.label}}
          </PowerSelect>
        </div>

        <div>
          <AuLabel for="ar-plichtig-filter">
            {{t "road-sign-concept.crud.ar-plichtig-filter"}}
          </AuLabel>
          <PowerSelect
            @allowClear={{true}}
            @options={{this.arPlichtigStatusOptions}}
            @selected={{this.selectedArPlichtigStatus}}
            @placeholder={{t
              "road-sign-concept.crud.ar-plichtig-filter-placeholder"
            }}
            @loadingMessage={{t "utility.loading"}}
            @onChange={{fn this.updateBooleanFilter "arPlichtig"}}
            @triggerId="ar-plichtig-filter"
            as |ar|
          >
            {{ar.label}}
          </PowerSelect>
        </div>
        <ValidityFilters
          @onChange={{this.updateValidityFilter}}
          @value={{this.validityOption}}
          @startDate={{this.validityStartDate}}
          @endDate={{this.validityEndDate}}
        />
        <ResetFilters
          @canReset={{this.hasActiveFilter}}
          @onReset={{this.resetFilters}}
        />
      </form>
    </div>
  </:sidebar>
  <:content>
    <SearchTables::RoadMarking
      @content={{this.roadMarkings.value}}
      @isLoading={{this.roadMarkings.isLoading}}
      @pageSize={{this.size}}
      @page={{this.page}}
      @sort={{this.sort}}
      @onPageChange={{this.onPageChange}}
      @onSortChange={{this.onSortChange}}
    >
      <:menu>
        <AuToolbar class="au-o-box" as |Group|>
          <Group>
            <AuHeading @skin="2">
              {{t "road-marking-concept.name"}}
            </AuHeading>
          </Group>
          <Group class="au-c-toolbar__group--center">
            <AuLink @route="road-marking-concepts.new" @skin="button">
              {{t "road-marking-concept.crud.new"}}
            </AuLink>
          </Group>
        </AuToolbar>
      </:menu>
    </SearchTables::RoadMarking>
  </:content>
</SidebarContainer>