<SearchTables::RoadMarking
  @content={{this.model.roadMarkingConcepts}}
  @pageSize={{this.size}}
  @page={{this.page}}
  @sort={{this.sort}}
  @onPageChange={{this.onPageChange}}
  @onSortChange={{this.onSortChange}}
>
  <:menu>
    <AuToolbar class="au-o-box" as |Group|>
      <Group>
        <AuHeading @skin="2">
          {{t "road-marking-concept.name"}}
        </AuHeading>
      </Group>
      <Group class="au-c-toolbar__group--center">
        {{! Copied from the AuDataTable::TextSearch component since that doesn't support calling actions on input}}
        <div class="au-c-data-table__search road-marking-code-search">
          <AuInput
            value={{this.label}}
            placeholder={{t "road-marking-concept.crud.label-filter"}}
            @icon="search"
            @iconAlignment="right"
            {{on "input" (perform this.updateSearchFilterTask "label")}}
          />
        </div>
        <div class="au-c-data-table__search road-marking-meaning-search">
          <AuInput
            value={{this.meaning}}
            placeholder={{t "road-marking-concept.crud.meaning-filter"}}
            @icon="search"
            @iconAlignment="right"
            {{on "input" (perform this.updateSearchFilterTask "meaning")}}
          />
        </div>
        <LinkTo class="au-c-button" @route="road-marking-concepts.new">
          {{t "road-marking-concept.crud.new"}}
        </LinkTo>
      </Group>
    </AuToolbar>
  </:menu>
  <:rowAction as |roadMarkingConcept|>
    <LinkTo
      class="au-c-link"
      @route="road-marking-concepts.road-marking-concept"
      @model={{roadMarkingConcept.id}}
    >
      {{t "utility.view"}}
    </LinkTo>
  </:rowAction>

</SearchTables::RoadMarking>