{{page-title (t "roadMarkingConcept.crud.new")}}

{{#let
  (changeset
    this.model.newRoadMarkingConcept this.RoadMarkingConceptValidations
  ) as |roadMarkingConcept|
}}
  <BreadcrumbsItem as |linkClass|>
    <LinkTo @route="road-marking-concepts.new" class={{linkClass}}>
      {{t "roadMarkingConcept.crud.new"}}
    </LinkTo>
  </BreadcrumbsItem>

  <AuToolbar @border="bottom" @size="large">
    <AuToolbarGroup>
      <AuHeading @skin="2">
        {{t "roadMarkingConcept.crud.new"}}
      </AuHeading>
    </AuToolbarGroup>
  </AuToolbar>

  <div class="au-c-body-container au-c-body-container--scroll">
    <div class="au-o-box">
      <div class="au-o-grid">
        <div class="au-o-grid__item au-u-2-3@medium au-u-2-5@large">
          <form
            class="au-c-form"
            id="new-road-marking-concept-form"
            novalidate
            {{on
              "submit"
              (perform this.createRoadMarkingConceptTask roadMarkingConcept)
            }}
          >
            {{#let roadMarkingConcept.error.image as |isInvalid|}}
              <p>
                <AuLabel @error={{isInvalid}} for="image-url">
                  {{t "roadMarkingConcept.attr.imageUrl"}}&nbsp;
                  <AuPill>
                    {{t "utility.required"}}
                  </AuPill>
                </AuLabel>
                <AuInput
                  @error={{isInvalid}}
                  id="image-url"
                  required="required"
                  type="text"
                  value={{roadMarkingConcept.image}}
                  {{on "input" (fn this.setImageUrl roadMarkingConcept)}}
                />
                <span>
                  {{t "utility.or"}}
                </span>
                <FileUploader
                  @accept={{"image/png,image/jpg"}}
                  @onFileSet={{fn this.setImageUpload roadMarkingConcept}}
                />
                {{#if isInvalid}}
                  <AuHelpText>
                    {{t "utility.fieldRequired"}}
                  </AuHelpText>
                {{/if}}
              </p>
            {{/let}}

            {{#let
              roadMarkingConcept.error.roadMarkingConceptCode as |isInvalid|
            }}
              <p>
                <AuLabel @error={{isInvalid}} for="road-marking-concept-code">
                  {{t "roadMarkingConcept.attr.code"}}&nbsp;
                  <AuPill>
                    {{t "utility.required"}}
                  </AuPill>
                </AuLabel>
                <AuInput
                  @error={{isInvalid}}
                  id="road-marking-concept-code"
                  required="required"
                  {{on
                    "input"
                    (fn
                      this.setRoadMarkingConceptValue
                      roadMarkingConcept
                      "roadMarkingConceptCode"
                    )
                  }}
                />
                {{#if isInvalid}}
                  <AuHelpText>
                    {{t "utility.fieldRequired"}}
                  </AuHelpText>
                {{/if}}
              </p>
            {{/let}}

            {{#let roadMarkingConcept.error.meaning as |isInvalid|}}
              <p>
                <AuLabel @error={{isInvalid}} for="meaning">
                  {{t "roadMarkingConcept.attr.meaning"}}&nbsp;
                  <AuPill>
                    {{t "utility.required"}}
                  </AuPill>
                </AuLabel>
                <AuTextarea
                  @error={{isInvalid}}
                  @width="block"
                  class="u-min-h-20"
                  id="meaning"
                  required="required"
                  {{on
                    "input"
                    (fn
                      this.setRoadMarkingConceptValue
                      roadMarkingConcept
                      "meaning"
                    )
                  }}
                />
                {{#if isInvalid}}
                  <AuHelpText>
                    {{t "utility.fieldRequired"}}
                  </AuHelpText>
                {{/if}}
              </p>
            {{/let}}
          </form>
        </div>
      </div>
    </div>
  </div>

  <AuToolbar @border="top" @size="large">
    <AuToolbarGroup>
      <AuButtonGroup>
        <AuButton
          @disabled={{or roadMarkingConcept.isPristine this.isSaving}}
          @loading={{this.isSaving}}
          form="new-road-marking-concept-form"
          type="submit"
        >
          {{t "roadMarkingConcept.crud.create"}}
        </AuButton>
        <LinkTo
          @route="road-marking-concepts"
          class="au-c-button au-c-button--secondary"
        >
          {{t "utility.cancel"}}
        </LinkTo>
      </AuButtonGroup>
    </AuToolbarGroup>
  </AuToolbar>
{{/let}}