{{page-title (t "roadMarkingConcept.details")}}

<BreadcrumbsItem as |linkClass|>
  <LinkTo
    @route="road-marking-concepts.road-marking-concept"
    @model={{@model.roadMarkingConcept.id}}
    class={{linkClass}}
  >
    {{@model.roadMarkingConcept.roadMarkingConceptCode}}
  </LinkTo>
</BreadcrumbsItem>

<div class="au-o-grid au-o-grid--flush au-o-grid--fixed">
  <div
    class="au-o-grid__item {{
      if
      this.showSidebar
      "au-u-3-5@medium au-u-visible-from@medium"
      "au-u-1-1@medium"
    }}"
  >
    <div class="au-c-body-container au-c-body-container--scroll">
      <AuToolbar @size="large">
        <AuToolbarGroup>
          <AuHeading @skin="2">
            {{t "roadMarkingConcept.details"}}
          </AuHeading>
        </AuToolbarGroup>
      </AuToolbar>
      <AuToolbar @size="medium">
        <AuToolbarGroup class="au-c-toolbar__group--row">
          <ul class="au-o-grid">
            <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
              <img
                class="au-c-thumbnail au-c-thumbnail--full"
                alt=""
                role="presentation"
                src={{@model.roadMarkingConcept.image}}
              />
            </li>
            <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
              <AuLabel>
                {{t "roadMarkingConcept.attr.code"}}
              </AuLabel>
              <p>
                {{@model.roadMarkingConcept.roadMarkingConceptCode}}
              </p>
            </li>
            <li class="au-o-grid__item au-u-1-2 au-u-1-3@medium">
              <AuLabel>
                {{t "roadMarkingConcept.attr.meaning"}}
              </AuLabel>
              <p>
                {{@model.roadMarkingConcept.meaning}}
              </p>
            </li>
          </ul>
        </AuToolbarGroup>
      </AuToolbar>
      <AuToolbar @border="bottom" @size="large">
        <AuToolbarGroup>
          <AuLink
            @skin="button"
            @route="road-marking-concepts.edit"
            @model={{@model.roadMarkingConcept.id}}
          >
            {{t "roadMarkingConcept.crud.edit"}}
          </AuLink>
          <AuButton
            @skin="secondary"
            @alert={{true}}
            {{on "click" (fn (mut this.isOpen) true)}}
          >
            {{t "roadMarkingConcept.crud.delete"}}
          </AuButton>
          <AuModal
            @modalTitle={{t "utility.confirmation.title"}}
            @modalOpen={{this.isOpen}}
            @closeModal={{fn (mut this.isOpen) false}} as |Modal|
          >
            <Modal.Body>
              <p>
                {{t "utility.confirmation.body"}}
              </p>
            </Modal.Body>
            <Modal.Footer>
              <AuButton
                @alert={{true}}
                {{on
                  "click"
                  (fn this.removeRoadMarkingConcept @model.roadMarkingConcept)
                }}
              >
                {{t "roadMarkingConcept.crud.delete"}}
              </AuButton>
              <AuButton
                @skin="secondary"
                {{on
                  "click"
                  (fn (mut this.isOpen) false)
                }}
              >
                {{t "utility.cancel"}}
              </AuButton>
            </Modal.Footer>
          </AuModal>
        </AuToolbarGroup>
      </AuToolbar>
      <div
        class="au-c-body-container au-c-body-container--scroll au-c-body-container--tables"
      >
        <AuDataTable
          @content={{
            sort-by-road-sign-code
            @model.roadMarkingConcept.relatedRoadSignConcepts
          }}
          @fields="Image Meaning Code Categories"
          @noDataMessage={{t "roadSignConcept.crud.noData"}}
          as |s|
        >
          <s.menu as |menu|>
            <menu.general>
              <AuToolbar class="au-o-box">
                <AuToolbarGroup>
                  <AuHeading @level="2" @skin="3">
                    {{t "roadMarkingConcept.attr.relatedSign"}}
                  </AuHeading>
                </AuToolbarGroup>
                <AuToolbarGroup>
                  <AuButton {{on "click" this.toggleAddRelatedRoadSigns}}>
                    {{t "relatedRoadSign.crud.add"}}
                  </AuButton>
                </AuToolbarGroup>
              </AuToolbar>
            </menu.general>
          </s.menu>
          <s.content as |c|>
            <c.header>
              <th class="data-table__header-title">
                {{t "roadSignConcept.attr.code"}}
              </th>
              <th class="data-table__header-title">
                {{t "roadSignConcept.attr.imageHeader"}}
              </th>
              <th class="data-table__header-title">
                {{t "roadSignConcept.attr.meaning"}}
              </th>
              <th class="data-table__header-title">
                {{t "roadSignConcept.attr.categories"}}
              </th>
              <th>
                <span class="au-u-hidden-visually">
                  {{t "relatedRoadSign.crud.delete"}}
                </span>
              </th>
            </c.header>
            <c.body as |relatedRoadSignConcept|>
              <td>
                {{relatedRoadSignConcept.roadSignConceptCode}}
              </td>
              <td>
                <img
                  class="au-c-thumbnail"
                  src={{relatedRoadSignConcept.image}}
                  alt=""
                  role="presentation"
                />
              </td>
              <td>
                <p class="max-w-prose">
                  {{relatedRoadSignConcept.meaning}}
                </p>
              </td>
              <td>
                {{#each relatedRoadSignConcept.categories as |category|}}
                  {{category.label}}
                {{/each}}
              </td>
              <td class="w-px au-u-padding-right-small">
                <AuButton
                  @icon="bin"
                  @alert={{true}}
                  @skin="secondary"
                  @hideText={{true}}
                  {{on
                    "click"
                    (fn this.removeRelatedRoadSign relatedRoadSignConcept)
                  }}
                >
                  {{t "relatedRoadSign.crud.delete"}}
                </AuButton>
              </td>
            </c.body>
          </s.content>
        </AuDataTable>
        <AuDataTable
          @content={{
            sort-by-road-marking-code
            @model.roadMarkingConcept.relatedRoadMarkingConcepts
          }}
          @fields="Image Meaning Code Categories"
          @noDataMessage={{t "roadMarkingConcept.crud.noData"}}
          as |s|
        >
          <s.menu as |menu|>
            <menu.general>
              <AuToolbar class="au-o-box">
                <AuToolbarGroup>
                  <AuHeading @level="2" @skin="3">
                    {{t "roadMarkingConcept.attr.relatedMarking"}}
                  </AuHeading>
                </AuToolbarGroup>
                <AuToolbarGroup>
                  <AuButton {{on "click" this.toggleAddRelatedRoadMarkings}}>
                    {{t "relatedRoadMarking.crud.add"}}
                  </AuButton>
                </AuToolbarGroup>
              </AuToolbar>
            </menu.general>
          </s.menu>
          <s.content as |c|>
            <c.header>
              <th class="data-table__header-title">
                {{t "roadMarkingConcept.attr.code"}}
              </th>
              <th class="data-table__header-title">
                {{t "roadMarkingConcept.attr.imageHeader"}}
              </th>
              <th class="data-table__header-title">
                {{t "roadMarkingConcept.attr.definition"}}
              </th>
              <th class="data-table__header-title">
                {{t "roadMarkingConcept.attr.meaning"}}
              </th>
              <th>
                <span class="au-u-hidden-visually">
                  {{t "relatedRoadMarking.crud.delete"}}
                </span>
              </th>
            </c.header>
            <c.body as |relatedRoadMarkingConcept|>
              <td>
                {{relatedRoadMarkingConcept.roadMarkingConceptCode}}
              </td>
              <td>
                <img
                  class="au-c-thumbnail"
                  src={{relatedRoadMarkingConcept.image}}
                  alt=""
                  role="presentation"
                />
              </td>
              <td>
                <p class="max-w-prose">
                  {{relatedRoadMarkingConcept.definition}}
                </p>
              </td>
              <td>
                <p class="max-w-prose">
                  {{relatedRoadMarkingConcept.meaning}}
                </p>
              </td>
              <td class="w-px au-u-padding-right-small">
                <AuButton
                  @icon="bin"
                  @alert={{true}}
                  @skin="secondary"
                  @hideText={{true}}
                  {{on
                    "click"
                    (fn this.removeRelatedRoadMarking relatedRoadMarkingConcept)
                  }}
                >
                  {{t "relatedRoadMarking.crud.delete"}}
                </AuButton>
              </td>
            </c.body>
          </s.content>
        </AuDataTable>
      </div>
    </div>
  </div>
  {{#if this.isAddingRelatedRoadMarkings}}
    <div class="au-o-grid__item au-u-2-5@medium">
      <div
        class="au-c-body-container au-c-action-sidebar"
        {{auto-focus ".au-c-action-sidebar__header"}}
      >
        <div class="au-o-box au-c-action-sidebar__header" tabindex="0">
          <AuToolbar class="au-u-margin-bottom-small">
            <AuToolbarGroup>
              <AuHeading @level="2" @skin="3">
                {{t "relatedRoadMarking.crud.add"}}
              </AuHeading>
            </AuToolbarGroup>
            <button
              type="button"
              class="au-c-close au-c-close--large"
              {{on "click" this.toggleAddRelatedRoadMarkings}}
            >
              <AuIcon @icon="cross" @size="large" />
              <span class="au-u-hidden-visually">
                {{t "utility.close"}}
              </span>
            </button>
          </AuToolbar>
          <div class="au-c-data-table__search">
            <input
              value={{this.relatedRoadMarkingCodeFilter}}
              placeholder={{t "relatedRoadMarking.filter.code"}}
              class="au-c-input au-c-input--block"
              {{on "input" this.setRelatedRoadMarkingCodeFilter}}
              {{auto-focus}}
            />
            <span class="au-c-data-table__search-icon">
              <AuIcon @icon="search" @size="large" />
            </span>
          </div>
        </div>
        <div class="au-c-body-container au-c-body-container--scroll">
          {{#each
            (sort-by-road-marking-code
              this.roadMarkings
            ) as |relatedRoadMarking|
          }}
            <SidebarRoadSign
              @imageUrl={{relatedRoadMarking.image}}
              @code={{relatedRoadMarking.roadSignConceptCode}}
              @meaning={{relatedRoadMarking.definition}}
              @onAdd={{fn this.addRelatedRoadMarking relatedRoadMarking}}
              @addText={{t "relatedRoadMarking.crud.addOne"}}
              class="au-c-action-sidebar__item"
            />
          {{/each}}
          {{#if this.category}}
            {{#each
              (sort-by-road-marking-code
                this.categoryRoadMarkings
              ) as |relatedRoadMarkingByCategory|
            }}
              <SidebarRoadMarking
                @imageUrl={{relatedRoadMarkingByCategory.image}}
                @code={{relatedRoadMarkingByCategory.roadMarkingConceptCode}}
                @meaning={{relatedRoadMarkingByCategory.meaning}}
                @onAdd={{
                  fn this.addRelatedRoadMarking relatedRoadMarkingByCategory
                }}
                @addText={{t "relatedRoadMarking.crud.addOne"}}
                class="au-c-action-sidebar__item"
              />
            {{/each}}
          {{/if}}
        </div>
      </div>
    </div>
  {{/if}}
  {{#if this.isAddingRelatedRoadSigns}}
    <div class="au-o-grid__item au-u-2-5@medium">
      <div
        class="au-c-body-container au-c-action-sidebar"
        {{auto-focus ".au-c-action-sidebar__header"}}
      >
        <div class="au-o-box au-c-action-sidebar__header" tabindex="0">
          <AuToolbar class="au-u-margin-bottom-small">
            <AuToolbarGroup>
              <AuHeading @level="2" @skin="3">
                {{t "relatedRoadSign.crud.add"}}
              </AuHeading>
            </AuToolbarGroup>
            <button
              type="button"
              class="au-c-close au-c-close--large"
              {{on "click" this.toggleAddRelatedRoadSigns}}
            >
              <AuIcon @icon="cross" @size="large" />
              <span class="au-u-hidden-visually">
                {{t "utility.close"}}
              </span>
            </button>
          </AuToolbar>
          <AuContent @skin="small">
            <AuLabel>
              {{t "relatedRoadSign.attr.category"}}
            </AuLabel>
            <PowerSelect
              @allowClear={{true}}
              @searchEnabled={{true}}
              @noMatchesMessage={{t "roadSignConcept.crud.noData"}}
              @searchField="label"
              @options={{@model.roadSignCategories}}
              @selected={{this.category}}
              @onChange={{this.handleCategorySelection}} as |category|
            >
              {{category.label}}
            </PowerSelect>
          </AuContent>
        </div>
        <div class="au-c-body-container au-c-body-container--scroll">
          {{#if this.category}}
            {{#each
              (sort-by-road-sign-code
                this.categoryRoadSigns
              ) as |relatedRoadSignByCategory|
            }}
              <SidebarRoadSign
                @imageUrl={{relatedRoadSignByCategory.image}}
                @code={{relatedRoadSignByCategory.roadSignConceptCode}}
                @meaning={{relatedRoadSignByCategory.meaning}}
                @onAdd={{fn this.addRelatedRoadSign relatedRoadSignByCategory}}
                @addText={{t "relatedRoadSign.crud.addOne"}}
                class="au-c-action-sidebar__item"
              />
            {{/each}}
          {{/if}}
        </div>
      </div>
    </div>
  {{/if}}
</div>