{{! @glint-nocheck: not typesafe yet }}
{{page-title
  (t "road-marking-concept.details" label=@model.roadMarkingConcept.label)
}}

<BreadcrumbsItem as |linkClass|>
  <LinkTo
    @route="road-marking-concepts.road-marking-concept"
    @model={{@model.roadMarkingConcept.id}}
    class={{linkClass}}
  >
    {{t "road-marking-concept.details" label=@model.roadMarkingConcept.label}}
  </LinkTo>
</BreadcrumbsItem>

<SidebarContainer>
  <:sidebar>
    <h2 class="au-u-hidden-visually">{{t "utility.properties"}}</h2>
    <div class="au-o-box">
      <div
        class="au-u-margin-top-large au-u-margin-bottom-large au-u-text-center"
      >
        <img
          class="au-c-thumbnail au-c-thumbnail--full"
          alt=""
          src={{@model.roadMarkingConcept.image.file.downloadLink}}
        />
      </div>

      <dl class="au-o-flow">
        <div>
          <dt class="au-u-h5 au-u-medium">
            {{t "utility.validation-status"}}
          </dt>
          <dd class="au-u-muted">
            <ValidationStatus @valid={{@model.roadMarkingConcept.valid}} />
            <div class="au-u-margin-top-small">
              <ContentCheck @concept={{@model.roadMarkingConcept}} />
            </div>
          </dd>
        </div>
        <div>
          <dt class="au-u-h5 au-u-medium">
            {{t "utility.ar-plichtig"}}
          </dt>
          <dd class="au-u-muted">
            <ArPlichtigStatus
              @status={{@model.roadMarkingConcept.arPlichtig}}
            />
          </dd>
        </div>
        <div>
          <dt class="au-u-h5 au-u-medium">
            {{t "road-sign-concept.attr.label"}}
          </dt>
          <dd class="au-u-muted">
            {{@model.roadMarkingConcept.label}}
          </dd>
        </div>
        <div>
          <dt class="au-u-h5 au-u-medium">
            {{t "road-marking-concept.attr.meaning"}}
          </dt>
          <dd class="au-u-muted">
            {{@model.roadMarkingConcept.meaning}}
          </dd>
        </div>
        <div>
          <dt class="au-u-h5 au-u-medium">
            {{t "road-marking-concept.attr.irgnName"}}
          </dt>
          <dd class="au-u-muted">
            {{@model.roadMarkingConcept.irgnName}}
          </dd>
        </div>
        <div>
          <dt class="au-u-h5 au-u-medium">
            {{t "utility.start-date"}}
          </dt>
          <dd class="au-u-muted">
            {{human-friendly-date @model.roadMarkingConcept.startDate locale=this.intl.primaryLocale}}
          </dd>
        </div>
        <div>
          <dt class="au-u-h5 au-u-medium">
            {{t "utility.end-date"}}
          </dt>
          <dd class="au-u-muted">
            {{human-friendly-date @model.roadMarkingConcept.endDate locale=this.intl.primaryLocale}}
          </dd>
        </div>

        <div>
          <dt class="au-u-h5 au-u-medium">
            {{t "utility.variables"}}
          </dt>
          <dd class="au-u-muted">
            {{#if @model.roadMarkingConcept.variables}}
              <ul>
                {{#each @model.roadMarkingConcept.variables as |variable|}}
                  <li>
                    {{variable.label}}
                  </li>
                {{/each}}
              </ul>
            {{else}}
              -
            {{/if}}
          </dd>
        </div>
      </dl>
    </div>
  </:sidebar>
  <:content>
    {{outlet}}
  </:content>
</SidebarContainer>