<div class="au-o-grid__item au-u-2-5@medium">
  <div
    class="au-c-body-container au-c-action-sidebar"
    {{auto-focus ".au-c-action-sidebar__header"}}
  >
    <div class="au-o-box au-c-action-sidebar__header" tabindex="0">
      <AuToolbar class="au-u-margin-bottom-small">
        <AuToolbarGroup>
          <AuHeading @level="2" @skin="3">
            Edit Sub Signs
          </AuHeading>
        </AuToolbarGroup>
        <LinkTo
          @route="road-sign-concepts.road-sign-concept"
          @model={{@model.roadSignConcept.id}}
          class="au-c-close au-c-close--large"
        >
          <AuIcon @icon="cross" @size="large" />
          <span class="au-u-hidden-visually">
            Close
          </span>
        </LinkTo>
      </AuToolbar>
      <AuContent @skin="small">
        <p>
          Select or unselect sub signs
        </p>
      </AuContent>
    </div>

    <div class="au-o-box au-c-body-container au-c-body-container--scroll">
      <div class="au-o-flow">
        {{#each @model.roadSignConcept.subSigns as |subSign|}}
          <div class="au-o-grid au-o-grid--tiny">
            <div class="au-o-grid__item au-u-1-2@small au-u-1-3@medium">
              <AuControlCheckbox
                @identifier={{subSign.roadSignConceptCode}}
                @checked={{true}}
                {{on "input" (fn this.editSubSignRelation subSign)}}
              />
              <img alt="" role="presentation" src={{subSign.image}} />
            </div>
            <div class="au-o-grid__item au-u-1-1">
              <p>
                <strong>
                  {{subSign.roadSignConceptCode}}
                </strong>
              </p>
              <p>
                {{subSign.meaning}}
              </p>
            </div>
          </div>
          <AuHr @size="large" />
        {{/each}}
        {{#each @model.allSubSigns.roadSignConcepts as |subSignOut|}}
          <div class="au-o-grid au-o-grid--tiny">
            <div class="au-o-grid__item au-u-1-2@small au-u-1-3@medium">
              <AuControlCheckbox
                @identifier={{subSignOut.roadSignConceptCode}}
                {{on "input" (fn this.editSubSignRelation subSignOut)}}
              />
              <img alt="" role="presentation" src={{subSignOut.image}} />
            </div>
            <div class="au-o-grid__item au-u-1-1">
              <p>
                <strong>
                  {{subSignOut.roadSignConceptCode}}
                </strong>
              </p>
              <p>
                {{subSignOut.meaning}}
              </p>
            </div>
          </div>
          <AuHr @size="large" />
        {{/each}}
      </div>
    </div>
  </div>
</div>