{{#let @roadSignConcept.error.dimensions as |isInvalid|}}
  <AuFormRow>
    {{#if (eq @selectedShape.label "Rond")}}
      <div class="au-u-flex au-u-flex--row au-u-flex--spaced-small">
        <AuLabel @error={{isInvalid}} for="radius">
          {{t "road-sign-concept.attr.radius"}}
        </AuLabel>
        <AuInput
          @error={{isInvalid}}
          {{on "input" this.setValue}}
          id="radius"
        />
        <AuLabel @error={{isInvalid}} for="unit">
          {{t "road-sign-concept.attr.unit"}}
        </AuLabel>
        <PowerSelect
          @allowClear={{false}}
          @searchEnabled={{true}}
          @placeholder={{t "utility.search-placeholder"}}
          @loadingMessage={{t "utility.loading"}}
          @options={{this.unitTypes}}
          @selected={{this.selectedUnitType}}
          @onChange={{this.setUnitType}}
          @triggerId="unitType"
          as |unitType|
        >{{unitType}}</PowerSelect>
      </div>
    {{/if}}
    {{#if
      (includes
        @selectedShape.label
        "Driehoekig"
        "Ruitvormig"
        "Klein ruitvormig"
        "Achthoekig"
      )
    }}
      <div class="au-u-flex au-u-flex--row au-u-flex--spaced-small">
        <AuLabel @error={{isInvalid}} for="radius">
          {{t "road-sign-concept.attr.side"}}
        </AuLabel>
        <AuInput @error={{isInvalid}} id="side" {{on "input" this.setValue}} />
        <AuLabel @error={{isInvalid}} for="unit">
          {{t "road-sign-concept.attr.unit"}}
        </AuLabel>
        <PowerSelect
          @allowClear={{false}}
          @searchEnabled={{true}}
          @placeholder={{t "utility.search-placeholder"}}
          @loadingMessage={{t "utility.loading"}}
          @options={{this.unitTypes}}
          @selected={{this.selectedUnitType}}
          @onChange={{this.setUnitType}}
          @triggerId="unitType"
          as |unitType|
        >{{unitType}}</PowerSelect>
      </div>
    {{/if}}
    {{#if
      (includes @selectedShape.label "Groot bord" "Wegwijzer met puntvorm")
    }}
      <div class="au-u-flex au-u-flex--row au-u-flex--spaced-small">
        <AuLabel @error={{isInvalid}} for="height">
          {{t "road-sign-concept.attr.height"}}
        </AuLabel>
        <AuInput
          @error={{isInvalid}}
          id="height"
          {{on "input" this.setValue}}
        />
        <AuLabel @error={{isInvalid}} for="width">
          {{t "road-sign-concept.attr.width"}}
        </AuLabel>
        <AuInput
          @error={{isInvalid}}
          id="width"
          {{on "input" this.setSecondValue}}
        />
        <AuLabel @error={{isInvalid}} for="unit">
          {{t "road-sign-concept.attr.unit"}}
        </AuLabel>
        <PowerSelect
          @allowClear={{false}}
          @searchEnabled={{true}}
          @placeholder={{t "utility.search-placeholder"}}
          @loadingMessage={{t "utility.loading"}}
          @options={{this.unitTypes}}
          @selected={{this.selectedUnitType}}
          @onChange={{this.setUnitType}}
          @triggerId="unitType"
          as |unitType|
        >{{unitType}}</PowerSelect>
      </div>
    {{/if}}
    <br />
    <AuButton
      @skin="secondary"
      @icon="add"
      @disabled={{this.isButtonDisabled}}
      {{on "click" this.addShapeAndDimensions}}
    >{{t "utility.add-shape"}}</AuButton>
  </AuFormRow>
{{/let}}

<div class="au-c-table-wrapper au-u-margin-bottom">
  <table class="au-c-table">
    <thead class="au-c-table__header">
      <tr>
        <th>{{t "utility.shape"}}</th>
        <th>{{t "utility.dimensions"}}</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="au-c-table__body">
      {{#each this.shapeDimensionArray as |shape|}}
        <tr>
          <td>{{shape.label}}</td>
          <td>{{shape.dimensions}}</td>
          <td><AuButton
              @icon="trash"
              @alert={{true}}
              @skin="secondary"
              @hideText={{true}}
              {{on "click" (fn this.removeShape shape)}}
            /></td>
        </tr>
      {{/each}}

      {{#unless this.shapeDimensionArray.length}}
        <tr>
          <td colspan="3">
            <AuHelpText @size="normal" @skin="tertiary">
              {{t "road-sign-concept.crud.no-shape"}}
            </AuHelpText>
          </td>
        </tr>
      {{/unless}}
    </tbody>
  </table>
</div>