{{#if this.showShapeForm}}
  <AuCard as |c|>
    <c.header
      @badgeIcon={{this.badgeIcon}}
      @badgeSkin={{this.badgeSkin}}
      @badgeSize={{this.badgeSize}}
    >
      <AuHeading @level="2" @skin="4">
        {{t "road-sign-concept.newShape"}}
      </AuHeading>
    </c.header>
    <c.content>
      <AuFormRow>
        <AuLabel
          for="shapeConcepts"
          @required={{true}}
          @requiredLabel={{t "utility.required"}}
        >
          {{t "utility.shape"}}&nbsp;
        </AuLabel>
        <PowerSelect
          @allowClear={{false}}
          @searchEnabled={{false}}
          @placeholder={{t "utility.search-placeholder"}}
          @loadingMessage={{t "utility.loading"}}
          @options={{@shapeConcepts}}
          @selected={{this.shape.classification}}
          @onChange={{this.setClassificatie}}
          @triggerId="shapeConcepts"
          as |shapeConcept|
        >
          {{shapeConcept.label}}
        </PowerSelect>

      </AuFormRow>

      {{#if this.shape.classification}}
        <AuButton
          @skin="secondary"
          {{on "click" (fn (mut this.showDimensionForm) true)}}
        >
          {{t "road-sign-concept.addDimension"}}
        </AuButton>
      {{/if}}
      {{#if (and this.shape.classification this.showDimensionForm)}}
        <AuCard as |d|>
          <d.header
            @badgeIcon={{this.badgeIcon}}
            @badgeSkin={{this.badgeSkin}}
            @badgeSize={{this.badgeSize}}
          >
            <AuHeading @level="2" @skin="4">

              {{t "road-sign-concept.addDimension"}}

            </AuHeading>
          </d.header>
          <d.content>
            <AuFormRow>
              <AuLabel
                for="quantityKinds"
                @required={{true}}
                @requiredLabel={{t "utility.required"}}
              >

                {{t "road-sign-concept.kind"}}

              </AuLabel>
              <PowerSelect
                @allowClear={{false}}
                @searchEnabled={{false}}
                @placeholder={{t "utility.search-placeholder"}}
                @loadingMessage={{t "utility.loading"}}
                @options={{@quantityKinds}}
                @selected={{this.quantityKind}}
                @onChange={{this.setQuantityKind}}
                @triggerId="quantityKinds"
                as |qt|
              >
                {{qt.label}}
              </PowerSelect>
            </AuFormRow>

            {{#if this.quantityKind}}
              <AuFormRow>
                <AuLabel
                  for="unitType"
                  @required={{true}}
                  @requiredLabel={{t "utility.required"}}
                >

                  {{t "road-sign-concept.attr.unit"}}

                </AuLabel>
                <PowerSelect
                  @allowClear={{false}}
                  @searchEnabled={{false}}
                  @placeholder={{t "utility.search-placeholder"}}
                  @loadingMessage={{t "utility.loading"}}
                  @options={{(await this.quantityKind.units)}}
                  @selected={{this.unitType}}
                  @onChange={{this.setUnitType}}
                  @triggerId="unitType"
                  as |u|
                >
                  {{u.symbol}}
                </PowerSelect>
              </AuFormRow>
            {{/if}}

            {{#if (and this.unitType this.quantityKind)}}
              <AuFormRow>
                <AuLabel
                  for="quantityKinds"
                  @required={{true}}
                  @requiredLabel={{t "utility.required"}}
                >

                  {{t "road-sign-concept.value"}}

                </AuLabel>
                <AuInput
                  @type="number"
                  id="label"
                  required="required"
                  @value={{this.value}}
                />
              </AuFormRow>

            {{/if}}
          </d.content>
          <d.footer>
            <AuButton
              @disabled={{(or
                (not this.value) (not this.unitType) (not this.quantityKind)
              )}}
              @skin="secondary"
              {{on "click" this.addDimension}}
            >

              {{t "road-sign-concept.saveDimension"}}

            </AuButton>
          </d.footer>
        </AuCard>
      {{/if}}

      {{#if this.shape.dimensions}}
        <table class="au-c-data-table__table">
          <thead class="au-c-table__header">
            <tr>
              <th>{{t "road-sign-concept.dimension"}}
              </th>
              <th>{{t "road-sign-concept.attr.unit"}}
              </th>
              <th>{{t "road-sign-concept.value"}}</th>
            </tr>
          </thead>
          <tbody class="au-c-table__body">
            {{#each this.shape.dimensions as |dimension|}}
              <tr>
                <td>
                  {{dimension.kind.label}}
                </td>
                <td>{{dimension.unit.symbol}}</td>
                <td>{{dimension.value}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/if}}

    </c.content>

    <c.footer>

      <AuButton
        @disabled={{(or
          this.showDimensionForm
          (not this.shape.classification)
          (not this.shape.dimensions)
        )}}
        @skin="secondary"
        {{on "click" this.saveShape}}
      >
        {{t "road-sign-concept.saveShape"}}
      </AuButton>
    </c.footer>
  </AuCard>
{{else}}
  <AuButton @skin="secondary" {{on "click" (fn (mut this.showShapeForm) true)}}>
    {{t "road-sign-concept.newShape"}}

  </AuButton>
{{/if}}