<AuFormRow>
  <AuLabel
    for="shapeConcepts"
    @required={{true}}
    @requiredLabel={{t "utility.required"}}
  >
    {{t "utility.shape"}}&nbsp;
  </AuLabel>
  <PowerSelect
    @allowClear={{false}}
    @searchEnabled={{false}}
    @placeholder={{t "utility.search-placeholder"}}
    @loadingMessage={{t "utility.loading"}}
    @options={{@shapeConcepts}}
    @selected={{this.classificatie}}
    @onChange={{this.setClassificatie}}
    @triggerId="shapeConcepts"
    as |shapeConcept|
  >
    {{shapeConcept.label}}
  </PowerSelect>

</AuFormRow>
{{#if this.classificatie}}
  <AuButton
    @skin="secondary"
    {{on "click" (fn (mut this.showDimensionForm) true)}}
  >
    Add dimension
  </AuButton>
{{/if}}
{{#if (and this.classificatie this.showDimensionForm)}}
  <AuFormRow>
    <AuLabel
      for="quantityKinds"
      @required={{true}}
      @requiredLabel={{t "utility.required"}}
    >
      Dimension type
    </AuLabel>
    <PowerSelect
      @allowClear={{false}}
      @searchEnabled={{false}}
      @placeholder={{t "utility.search-placeholder"}}
      @loadingMessage={{t "utility.loading"}}
      @options={{@quantityKinds}}
      @selected={{this.quantityKind}}
      @onChange={{this.setQuantityKind}}
      @triggerId="quantityKinds"
      as |qt|
    >
      {{qt.label}}
    </PowerSelect>
  </AuFormRow>

  {{#if this.quantityKind}}
    <AuFormRow>
      <AuLabel
        for="unitType"
        @required={{true}}
        @requiredLabel={{t "utility.required"}}
      >
        Unit type
      </AuLabel>
      <PowerSelect
        @allowClear={{false}}
        @searchEnabled={{false}}
        @placeholder={{t "utility.search-placeholder"}}
        @loadingMessage={{t "utility.loading"}}
        @options={{(await this.quantityKind.units)}}
        @selected={{this.unitType}}
        @onChange={{this.setUnitType}}
        @triggerId="unitType"
        as |u|
      >
        {{u.symbol}}
      </PowerSelect>
    </AuFormRow>
  {{/if}}

  {{#if (and this.unitType this.quantityKind)}}
    <AuFormRow>
      <AuLabel
        for="quantityKinds"
        @required={{true}}
        @requiredLabel={{t "utility.required"}}
      >
        Value
      </AuLabel>
      <AuInput
        @type="number"
        id="label"
        required="required"
        @value={{this.value}}
      />
    </AuFormRow>

    {{#if this.value}}
      <AuButton @skin="secondary" {{on "click" (fn this.addDimension)}}>
        Save dimension
      </AuButton>

    {{/if}}
  {{/if}}

{{/if}}

{{#if this.dimensions}}
  <table class="au-c-data-table__table">
    <thead class="au-c-table__header">
      <tr>
        <th>Dimension</th>
        <th>Unit</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody class="au-c-table__body">
      {{#each this.dimensions as |dimension|}}
        <tr>
          <td>
            {{dimension.quantityKind.label}}
          </td>
          <td>{{dimension.unitType.symbol}}</td>
          <td>{{dimension.value}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}
{{#if (and (not this.showDimensionForm) this.classificatie this.dimensions)}}
  save me shape
{{/if}}