<div class="au-c-table-wrapper au-u-margin-bottom">
  <table class="au-c-table">
    <thead class="au-c-table__header">
      <tr>
        <th>{{t "utility.shape"}}</th>
        <th>{{t "utility.dimensions"}}</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="au-c-table__body">
      {{#each @shapesAndDimensions as |shape|}}
        <tr>
          <td>{{shape.label}}</td>
          <td>{{shape.dimensions}}</td>
          <td><AuButton
              @icon="trash"
              @alert={{true}}
              @skin="secondary"
              @hideText={{true}}
            /></td>
        </tr>
      {{/each}}

      {{#unless @shapesAndDimensions.length}}
        <tr>
          <td colspan="3">
            <AuHelpText @size="normal" @skin="tertiary">
              {{t "road-sign-concept.crud.no-shape"}}
            </AuHelpText>
          </td>
        </tr>
      {{/unless}}
    </tbody>
  </table>
</div>