<ReactiveTable
  @content={{@content}}
  @noDataMessage={{t "codelist.crud.no-data"}}
  @page={{@page}}
  @sort={{@sort}}
  @pageSize={{@pageSize}}
  @onPageChange={{@onPageChange}}
  @onSortChange={{@onSortChange}}
>
  <:menu>
    {{yield to="menu"}}
  </:menu>
  <:header as |header|>
    <header.Sortable
      @field="label"
      @label={{t "codelist.attr.label"}}
    />
    <th>{{t "codelist.attr.id"}}</th>
    <th>{{t "codelist.attr.type"}}</th>
    <th></th>
  </:header>
  <:body as |codelist|>
    <td>
      {{codelist.label}}
    </td>
    <td>
      {{codelist.id}}
    </td>
    <td>
      {{#if codelist.type}}
        {{t (concat "codelist.attr.types." codelist.type.label)}}
      {{else}}
        {{t "codelist.attr.types.singleSelect"}}
      {{/if}}
    </td>
    <td>
      {{yield codelist to='rowAction'}}
    </td>
  </:body>
</ReactiveTable>