{{! @glint-nocheck: not typesafe yet }}
<ReactiveTable
  @content={{@content}}
  @isLoading={{@isLoading}}
  @noDataMessage={{t "codelist.crud.no-data"}}
  @page={{@page}}
  @sort={{@sort}}
  @pageSize={{@pageSize}}
  @onPageChange={{@onPageChange}}
  @onSortChange={{@onSortChange}}
>
  <:menu>
    {{yield to="menu"}}
  </:menu>
  <:header as |header|>
    <header.Sortable @field=":no-case:label" @label={{t "codelist.attr.label"}} />
    <th>{{t "codelist.attr.id"}}</th>
    <th>{{t "codelist.attr.type"}}</th>
  </:header>
  <:body as |codelist|>
    <td>
      <AuLink @route="codelists-management.codelist" @model={{codelist.id}}>
        {{codelist.label}}
      </AuLink>
    </td>
    <td>
      {{codelist.id}}
    </td>
    <td>
      {{#if codelist.type}}
        {{t (concat "codelist.attr.types." codelist.type.label)}}
      {{else}}
        {{t "codelist.attr.types.singleSelect"}}
      {{/if}}
    </td>
  </:body>
</ReactiveTable>