<ReactiveTable
  @content={{@content}}
  @noDataMessage={{t "icon-catalog.crud.no-data"}}
  @page={{@page}}
  @sort={{@sort}}
  @pageSize={{@pageSize}}
  @onPageChange={{@onPageChange}}
  @onSortChange={{@onSortChange}}
>
  <:menu>
    {{yield to="menu"}}
  </:menu>
  <:header as |header|>
    <th>
      {{t "icon-catalog.attr.image"}}
    </th>
    <header.Sortable
      @field="label"
      @currentSorting={{this.sort}}
      @label={{t "icon-catalog.attr.name"}}
    />
    <th></th>
  </:header>
  <:body as |icon|>
    <td>
      <img src={{icon.image.downloadLink}} alt="" height="50" />
    </td>
    <td>
      {{icon.label}}
    </td>
    <td>
      {{yield icon to="rowAction"}}
    </td>
  </:body>
</ReactiveTable>