<ReactiveTable
  @content={{@content}}
  @noDataMessage={{t "road-sign-concept.crud.no-data"}}
  @page={{@page}}
  @sort={{@sort}}
  @pageSize={{@pageSize}}
  @onPageChange={{@onPageChange}}
  @onSortChange={{@onSortChange}}
  @tableClass="table-centered-content"
>
  <:menu>
    {{yield to="menu"}}
  </:menu>
  <:header as |header|>
    <header.Sortable
      @field="label"
      @label={{t "road-sign-concept.attr.label"}}
      class="w-px"
    />
    <th>
      {{t "road-sign-concept.attr.image-header"}}
    </th>
    <th>
      {{t "road-sign-concept.attr.meaning"}}
    </th>
    <header.Sortable
      @field="classifications"
      @label={{t "road-sign-concept.attr.classifications"}}
    />
    <th>
      {{t "utility.validation-status"}}
    </th>
  </:header>
  <:body as |roadSignConcept|>
    <td>
      <AuLink
        @route="road-sign-concepts.road-sign-concept"
        @model={{roadSignConcept.id}}
      >
        {{roadSignConcept.label}}
      </AuLink>
    </td>
    <td class="au-u-text-center">
      <img
        class="au-c-thumbnail"
        src={{roadSignConcept.image.file.downloadLink}}
        alt=""
      />
    </td>
    <td>
      {{roadSignConcept.meaning}}
    </td>
    <td>
      {{#each roadSignConcept.classifications as |classification index|}}
        {{#if (gt index 0)}}
          <br />
        {{/if}}
        {{classification.label}}
      {{/each}}
    </td>
    <td>
      <ValidationStatus @valid={{roadSignConcept.valid}} />
    </td>
  </:body>
</ReactiveTable>