<ReactiveTable
  @content={{@content}}
  @noDataMessage={{t "road-sign-concept.crud.no-data"}}
  @page={{@page}}
  @sort={{@sort}}
  @pageSize={{@pageSize}}
  @onPageChange={{@onPageChange}}
  @onSortChange={{@onSortChange}}
>
  <:menu>
    {{yield to="menu"}}
  </:menu>
  <:header as |header|>

    <header.Sortable
      @field="code"
      @label={{t "road-sign-concept.attr.code"}}
    />
    <th>
      {{t "road-sign-concept.attr.image-header"}}
    </th>
    <th>
      {{t "road-sign-concept.attr.meaning"}}
    </th>
    <header.Sortable
      @field="categories.label"
      @label={{t "road-sign-concept.attr.categories"}}
    />
    <th>
      {{t "utility.zonality"}}
    </th>
    <th>
      {{t "road-marking-concept.attr.valid"}}
    </th>
    <th></th>
  </:header>
  <:body as |roadSignConcept|>

    <td>
      {{roadSignConcept.code}}
    </td>
    <td>
      <img class="au-c-thumbnail" src={{roadSignConcept.image}} alt="" />
    </td>
    <td>
      {{roadSignConcept.meaning}}
    </td>
    <td>
      {{#each roadSignConcept.categories as |category index|}}
        {{#if (gt index 0)}}
          <br>
        {{/if}}
        {{category.label}}
      {{/each}}
    </td>
    <td>
      {{zonality-label (await roadSignConcept.zonality)}}
    </td>
    <td>
      {{#if roadSignConcept.valid}}
        {{t "utility.yes"}}
      {{else}}
        {{t "utility.no"}}
      {{/if}}
    </td>
    <td>
      {{yield roadSignConcept to='rowAction'}}
    </td>
  </:body>
</ReactiveTable>
