<ReactiveTable
  @content={{@content}}
  @noDataMessage={{t "road-sign-concept.crud.no-data"}}
  @page={{@page}}
  @sort={{@sort}}
  @pageSize={{@pageSize}}
  @onPageChange={{@onPageChange}}
  @onSortChange={{@onSortChange}}
>
  <:menu>
    {{yield to="menu"}}
  </:menu>
  <:header as |header|>

    <header.Sortable @field="code" @label={{t "road-sign-concept.attr.code"}} />
    <th>
      {{t "road-sign-concept.attr.image-header"}}
    </th>
    <th>
      {{t "road-sign-concept.attr.meaning"}}
    </th>
    <header.Sortable
      @field="classifications.label"
      @label={{t "road-sign-concept.attr.categories"}}
    />
    <th>
      {{t "road-sign-concept.attr.shape"}}
    </th>
    <th>
      {{t "utility.zonality"}}
    </th>
    <th>
      {{t "road-marking-concept.attr.valid"}}
    </th>
    <th></th>
  </:header>
  <:body as |roadSignConcept|>

    <td>
      {{roadSignConcept.code}}
    </td>
    <td>
      <img
        class="au-c-thumbnail"
        src={{roadSignConcept.image.file.downloadLink}}
        alt=""
      />
    </td>
    <td>
      {{roadSignConcept.meaning}}
    </td>
    <td>
      {{#each roadSignConcept.classifications as |classification index|}}
        {{#if (gt index 0)}}
          <br />
        {{/if}}
        {{classification.label}}
      {{/each}}
    </td>
    <td>
      {{roadSignConcept.shape.label}}
    </td>
    <td>
      {{zonality-label (await roadSignConcept.zonality)}}
    </td>
    <td>
      {{#if roadSignConcept.valid}}
        {{t "utility.yes"}}
      {{else}}
        {{t "utility.no"}}
      {{/if}}
    </td>
    <td>
      {{yield roadSignConcept to="rowAction"}}
    </td>
  </:body>
</ReactiveTable>