<ReactiveTable
  @content={{@content}}
  @isLoading={{@isLoading}}
  @noDataMessage={{t "road-marking-concept.crud.no-data"}}
  @page={{@page}}
  @sort={{@sort}}
  @pageSize={{@pageSize}}
  @onPageChange={{@onPageChange}}
  @onSortChange={{@onSortChange}}
>
  <:menu>
    {{yield to="menu"}}
  </:menu>
  <:header as |header|>
    <header.Sortable
      @field=":no-case:label"
      @label={{t "road-marking-concept.attr.label"}}
      class="w-px"
    />
    <th>
      {{t "road-marking-concept.attr.image-header"}}
    </th>
    <th>
      {{t "road-marking-concept.attr.meaning"}}
    </th>
    <header.Sortable @field="valid" @label={{t "utility.validation-status"}} />

    <header.Sortable @field="arPlichtig" @label={{t "utility.ar-plichtig"}} />
  </:header>
  <:body as |roadMarkingConcept|>
    <td>
      <AuLink
        @route="road-marking-concepts.road-marking-concept"
        @model={{roadMarkingConcept.id}}
      >
        {{roadMarkingConcept.label}}
      </AuLink>
    </td>
    <td class="au-u-text-center">
      <img
        class="au-c-thumbnail"
        src={{roadMarkingConcept.image.file.downloadLink}}
        alt=""
      />
    </td>
    <td>
      {{roadMarkingConcept.meaning}}
    </td>
    <td>
      <ValidationStatus @valid={{roadMarkingConcept.valid}} />
    </td>
    <td>
      <ArPlichtigStatus @status={{roadMarkingConcept.arPlichtig}} />
    </td>
  </:body>
</ReactiveTable>