<ReactiveTable
  @content={{@content}}
  @isLoading={{@isLoading}}
  @noDataMessage={{t "traffic-measure-concept.crud.no-data"}}
  @page={{@page}}
  @sort={{@sort}}
  @pageSize={{@pageSize}}
  @onPageChange={{@onPageChange}}
  @onSortChange={{@onSortChange}}
>
  <:menu>
    {{yield to="menu"}}
  </:menu>
  <:header as |header|>
    <header.Sortable
      @field=":no-case:label"
      @currentSorting={{@sort}}
      @label={{t "traffic-measure-concept.attr.label"}}
    />
    <th>
      {{t "traffic-measure-concept.attr.sign"}}
    </th>
    <th>
      {{t "traffic-measure-concept.attr.template"}}
    </th>
    <th>
      {{t "utility.zonality"}}
    </th>
    <header.Sortable
      @field="valid"
      @label={{t "utility.validation-status"}}
    />
  </:header>
  <:body as |trafficMeasureConcept|>
    <td>
      <AuLink
        @route="traffic-measure-concepts.details"
        @model={{trafficMeasureConcept.id}}
      >
        {{trafficMeasureConcept.label}}
      </AuLink>
    </td>
    <td>
      {{#each trafficMeasureConcept.relatedTrafficSignConcepts as |sign|}}
        <img src={{sign.image.file.downloadLink}} alt="" height="50" />
      {{/each}}
    </td>
    <td>
      <TrafficMeasureTemplate @concept={{trafficMeasureConcept}} />
    </td>
    <td>
      {{zonality-label (await trafficMeasureConcept.zonality)}}
    </td>
    <td>
      <ValidationStatus @valid={{trafficMeasureConcept.valid}} />
    </td>
  </:body>
</ReactiveTable>