<ReactiveTable
  @content={{@content}}
  @noDataMessage={{t "traffic-light-concept.crud.no-data"}}
  @page={{@page}}
  @sort={{@sort}}
  @pageSize={{@pageSize}}
  @onPageChange={{@onPageChange}}
  @onSortChange={{@onSortChange}}
>
  <:menu>
    {{yield to="menu"}}
  </:menu>
  <:header as |header|>
    <header.Sortable
      @field=":no-case:label"
      @label={{t "traffic-light-concept.attr.label"}}
      class="w-px"
    />
    <th>
      {{t "traffic-light-concept.attr.image-header"}}
    </th>

    <th>
      {{t "traffic-light-concept.attr.meaning"}}
    </th>
    <header.Sortable
      @field="valid"
      @label={{t "utility.validation-status"}}
    />
  </:header>
  <:body as |trafficLightConcept|>
    <td>
      <AuLink
        @route="traffic-light-concepts.traffic-light-concept"
        @model={{trafficLightConcept.id}}
      >
        {{trafficLightConcept.label}}
      </AuLink>
    </td>
    <td class="au-u-text-center">
      <img
        class="au-c-thumbnail"
        src={{trafficLightConcept.image.file.downloadLink}}
        alt=""
      />
    </td>
    <td>
      {{trafficLightConcept.meaning}}
    </td>
    <td>
      <ValidationStatus @valid={{trafficLightConcept.valid}} @arRequired={{trafficLightConcept.arPlichtig}} />
    </td>
  </:body>
</ReactiveTable>