{{! @glint-nocheck: not typesafe yet }}
{{page-title (t "utility.related-traffic-signals")}}

<TrafficLightConcept::Header @trafficLightConcept={{@model.trafficLightConcept}} />

<SidebarOverlayContainer @isOpen={{this.isSidebarOpen}}>
  <:content>
    <AuBodyContainer @scroll={{true}} class="au-c-body-container--tables">
      <div class="au-o-flow">
        <RelatedRoadsignsTable
          @content={{sort-by-road-sign-code
            (await @model.trafficLightConcept.relatedRoadSignConcepts)
          }}
          @onClickAdd={{this.toggleAddRelatedRoadSigns}}
          @onClickRemove={{perform this.removeRelatedRoadSign}}
        />
        <RelatedRoadmarkingsTable
          @content={{sort-by-road-marking-code
            (await @model.trafficLightConcept.relatedRoadMarkingConcepts)
          }}
          @onClickAdd={{this.toggleAddRelatedRoadMarkings}}
          @onClickRemove={{perform this.removeRelatedRoadMarking}}
        />
        <RelatedTrafficLightsTable
          @content={{sort-by-traffic-light-code
            (await @model.trafficLightConcept.relatedTrafficLightConcepts)
          }}
          @onClickAdd={{this.toggleAddRelatedTrafficLights}}
          @onClickRemove={{perform this.removeRelatedTrafficLight}}
        />
      </div>
    </AuBodyContainer>
  </:content>
  <:sidebar>
    {{#if this.isAddingRelatedRoadSigns}}
      <SidebarAddSignal
        @title={{t "related-road-sign.crud.add"}}
        @placeholder={{t
          "road-sign-concept.crud.classification-filter-placeholder"
        }}
        @addText={{t "related-road-sign.crud.add-one"}}
        @allSignals={{this.model.allRoadSigns}}
        @addSignal={{fn (perform this.addRelatedRoadSign)}}
        @onClose={{this.toggleAddRelatedRoadSigns}}
      />
    {{/if}}

    {{#if this.isAddingRelatedRoadMarkings}}
      <SidebarAddSignal
        @title={{t "related-road-marking.crud.add"}}
        @placeholder={{t "related-road-marking.filter.label"}}
        @addText={{t "related-road-marking.crud.add-one"}}
        @allSignals={{this.model.allRoadMarkings}}
        @addSignal={{fn (perform this.addRelatedRoadMarking)}}
        @onClose={{this.toggleAddRelatedRoadMarkings}}
      />
    {{/if}}

    {{#if this.isAddingRelatedTrafficLights}}
      <SidebarAddSignal
        @title={{t 'related-traffic-light.crud.add'}}
        @filterPlaceholder={{t 'related-traffic-light.filter.label'}}
        @addText={{t 'related-traffic-light.crud.add-one'}}
        @allSignals={{this.model.allTrafficLights}}
        @addSignal={{fn (perform this.addRelatedTrafficLight)}}
        @onClose={{this.toggleAddRelatedTrafficLights}}
      />
    {{/if}}
  </:sidebar>
</SidebarOverlayContainer>