{{! @glint-nocheck: not typesafe yet }}
{{page-title (t "codelist.details")}}

<BreadcrumbsItem as |linkClass|>
  <LinkTo
    @route="codelists-management.codelist"
    @model={{@model.codelist.id}}
    class={{linkClass}}
  >
    {{@model.codelist.label}}
  </LinkTo>
</BreadcrumbsItem>

<SidebarContainer>
  <:sidebar>
    <dl class="au-o-box au-o-flow">
      <div>
        <dt class="au-u-h5 au-u-medium">
          {{t "codelist.attr.label"}}
        </dt>
        <dd class="au-u-muted">
          {{@model.codelist.label}}
        </dd>
      </div>
      <div>
        <dt class="au-u-h5 au-u-medium">
          {{t "codelist.attr.type"}}
        </dt>
        <dd class="au-u-muted">
          {{#if @model.codelist.type}}
            {{t (concat "codelist.attr.types." @model.codelist.type.label)}}
          {{else}}
            {{t "codelist.attr.types.singleSelect"}}
          {{/if}}
        </dd>
      </div>
    </dl>
  </:sidebar>
  <:content>
    <AuToolbar @size="large" @border="bottom" as |Group|>
      <Group>
        <AuHeading @skin="2">
          {{t "codelist.details"}}
        </AuHeading>
      </Group>
      <Group>
        <AuLink
          @skin="button-secondary"
          @route="codelists-management.edit"
          @icon="pencil"
          @model={{@model.codelist.id}}
        >
          {{t "codelist.crud.edit"}}
        </AuLink>
        <AuButton
          @skin="secondary"
          @alert={{true}}
          @icon="trash"
          {{on "click" (fn (mut this.isOpen) true)}}
        >
          {{t "codelist.crud.delete"}}
        </AuButton>
        <ConfirmationModal
          @titleText={{t
            "codelist.crud.delete-confirmation-title"
            codelist=@model.codelist.label
          }}
          @modalOpen={{this.isOpen}}
          @onCancel={{set this "isOpen" false}}
          @onConfirm={{this.removeCodelist}}
          @confirmButtonText={{t "codelist.crud.delete"}}
          @isAlert={{true}}
          @isLoading={{this.isRemovingCodelist}}
        >
          <:body>
            <p>
              {{t
                "codelist.crud.delete-confirmation-content"
                codelist=@model.codelist.label
                htmlSafe=true
              }}
            </p>
          </:body>
        </ConfirmationModal>
      </Group>
    </AuToolbar>
    <AuBodyContainer @scroll={{true}}>
      <div class="au-o-box">
        <AuTable>
          <:title>{{t "codelist.attr.values"}}</:title>
          <:body>
            {{#each @model.concepts as |option|}}
              <tr>
                <td>
                  <div class="au-u-flex">
                    {{#if option.image}}
                      <img
                        src={{option.image.file.downloadLink}}
                        alt=""
                        height="50"
                        class="checkerboard-background au-u-margin-right"
                      />
                    {{/if}}
                    <span class="au-u-flex-self-center">{{option.label}}</span>
                  </div>
                </td>
              </tr>
            {{/each}}
          </:body>
        </AuTable>
      </div>
    </AuBodyContainer>
  </:content>
</SidebarContainer>