{{page-title (t "codelist.details")}}

<BreadcrumbsItem as |linkClass|>
  <LinkTo
    @route="codelists-management.codelist"
    @model={{@model.codelist.id}}
    class={{linkClass}}
  >
    {{@model.codelist.label}}
  </LinkTo>
</BreadcrumbsItem>

<div class="au-c-body-container au-c-body-container--scroll">
  <AuToolbar @border="bottom" @size="large">
    <AuToolbarGroup>
      <AuHeading @skin="2">
        {{t "codelist.details"}}
      </AuHeading>
    </AuToolbarGroup>
  </AuToolbar>
  <div class="au-o-box">
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-1-3@small au-u-1-4@medium">
        <AuLabel>
          {{t "codelist.attr.label"}}
        </AuLabel>
        <p>
          {{@model.codelist.label}}
        </p>
        <AuLabel class="au-u-margin-top-small">
          {{t "codelist.attr.type"}}
        </AuLabel>
        <p>
          {{#if @model.codelist.type}}
            {{t (concat "codelist.attr.types." @model.codelist.type.label)}}
          {{else}}
            {{t "codelist.attr.types.singleSelect"}}
          {{/if}}
        </p>
      </div>
      <div class="au-o-grid__item au-u-2-3@small au-u-3-4@medium">
        <AuTable>
          <:title>{{t "codelist.attr.values"}}</:title>
          <:body>
            {{#each @model.codelist.concepts as |option|}}
              <tr>
                <td>{{option.label}}</td>
              </tr>
            {{/each}}
          </:body>
        </AuTable>
      </div>
    </div>
  </div>

  {{outlet}}
</div>

<AuToolbar @size="large" @border="top">
  <AuToolbarGroup>
    <AuLink
      @skin="button"
      @route="codelists-management.edit"
      @model={{@model.codelist.id}}
    >
      {{t "codelist.crud.edit"}}
    </AuLink>
    <AuButton
      @skin="secondary"
      @alert={{true}}
      {{on "click" (fn (mut this.isOpen) true)}}
    >
      {{t "codelist.crud.delete"}}
    </AuButton>
    <AuModal
      @modalTitle={{t "utility.confirmation.title"}}
      @modalOpen={{this.isOpen}}
      @closeModal={{fn (mut this.isOpen) false}} as |Modal|
    >
      <Modal.Body>
        <p>
          {{t "utility.confirmation.body"}}
        </p>
      </Modal.Body>
      <Modal.Footer>
        <AuButton
          @alert={{true}}
          {{on
            "click"
            this.removeCodelist
          }}
        >
          {{t "codelist.crud.delete"}}
        </AuButton>
        <AuButton
          @skin="secondary"
          {{on
            "click"
            (fn (mut this.isOpen) false)
          }}
        >
          {{t "utility.cancel"}}
        </AuButton>
      </Modal.Footer>
    </AuModal>
  </AuToolbarGroup>
</AuToolbar>
