{{! @glint-nocheck: not typesafe yet }}
<SearchTables::Codelist
  @content={{this.codelists.value}}
  @isLoading={{this.codelists.isLoading}}
  @pageSize={{this.size}}
  @page={{this.page}}
  @sort={{this.sort}}
  @onPageChange={{this.onPageChange}}
  @onSortChange={{this.onSortChange}}
>
  <:menu>
    <AuToolbar class="au-o-box" as |Group|>
      <Group>
        <AuHeading @skin="2">
          {{t "codelist.name"}}
        </AuHeading>
      </Group>
      <Group class="au-c-toolbar__group--center">
        <div>
          <AuInput
            value={{this.label}}
            @icon="search"
            @iconAlignment="right"
            placeholder={{t "codelist.crud.label-filter"}}
            {{on "input" (perform this.updateSearchFilterTask "label")}}
          />
        </div>
        <AuLink @route="codelists-management.new" @skin="button">
          {{t "codelist.crud.new"}}
        </AuLink>
      </Group>
    </AuToolbar>
  </:menu>
</SearchTables::Codelist>