<SearchTables::Codelist
  @content={{this.model.codelists}}
  @pageSize={{this.size}}
  @page={{this.page}}
  @sort={{this.sort}}
  @onPageChange={{this.onPageChange}}
  @onSortChange={{this.onSortChange}}
>
  <:menu>
    <AuToolbar class="au-o-box" as |Group|>
      <Group>
        <AuHeading @skin="2">
          {{t "codelist.name"}}
        </AuHeading>
      </Group>
      <Group class="au-c-toolbar__group--center">
        {{! Copied from the AuDataTable::TextSearch component since that doesn't support calling actions on input}}
        <div class="au-c-data-table__search codelist-label-search">
          <AuInput
            @value={{this.label}}
            @icon="search"
            @iconAlignment="right"
            placeholder={{t "codelist.crud.label-filter"}}
            {{on "input" (perform this.updateSearchFilterTask "label")}}
          />
        </div>
        <AuLink
          @route="codelists-management.new"
          @skin="button">
          {{t "codelist.crud.new"}}
        </AuLink>
      </Group>
    </AuToolbar>
  </:menu>
  <:rowAction as |codelist|>
    <AuLink
      @skin="primary"
      @route="codelists-management.codelist"
      @model={{codelist.id}}
    >
      {{t "utility.view"}}
    </AuLink>
  </:rowAction>
</SearchTables::Codelist>