{{! @glint-nocheck: not typesafe yet }}
<header ...attributes>
  <AuToolbar @size="large" as |Group|>
    <Group>
      <AuHeading @skin="2">
        {{t "road-sign-concept.details" label=@roadSignConcept.label}}
      </AuHeading>
    </Group>
    <Group>
      <AuLink
        @skin="button-secondary"
        @route="road-sign-concepts.edit"
        @model={{@roadSignConcept.id}}
        @icon="pencil"
      >
        {{t "road-sign-concept.crud.edit"}}
      </AuLink>
      <AuButton
        @skin="secondary"
        @alert={{true}}
        @icon="trash"
        {{on "click" (set this "isDeleteConfirmationOpen" true)}}
      >
        {{t "road-sign-concept.crud.delete"}}
      </AuButton>

      <ConfirmationModal
        @modalOpen={{this.isDeleteConfirmationOpen}}
        @onCancel={{set this "isDeleteConfirmationOpen" false}}
        @onConfirm={{perform this.removeRoadSignConcept @roadSignConcept}}
        @isLoading={{this.removeRoadSignConcept.isRunning}}
        @isAlert={{true}}
        @confirmButtonText={{t "road-sign-concept.crud.delete"}}
        @titleText={{t
          "road-sign-concept.crud.delete-confirmation-title"
          sign=@roadSignConcept.label
        }}
      >
        <:body>
          <p>
            {{t
              "road-sign-concept.crud.delete-confirmation-content"
              htmlSafe=true
              sign=@roadSignConcept.label
            }}
          </p>
        </:body>
      </ConfirmationModal>
    </Group>
  </AuToolbar>
  <AuTabs as |Tab|>
    <Tab>
      <AuLink @route="road-sign-concepts.road-sign-concept.instructions">
        {{t "utility.instructions"}}
      </AuLink>
    </Tab>
    <Tab>
      <AuLink @route="road-sign-concepts.road-sign-concept.variables">
        {{t "utility.variables"}}
      </AuLink>
    </Tab>
    <Tab>
      <AuLink @route="road-sign-concepts.road-sign-concept.shapes">
        {{t "utility.shapes"}}
      </AuLink>
    </Tab>
    {{#if
      (and (not @roadSignConcept.isDeleted) (is-sub-sign @roadSignConcept))
    }}
      <Tab>
        <AuLink @route="road-sign-concepts.road-sign-concept.main-signs">
          {{t "utility.main-signs"}}
        </AuLink>
      </Tab>
    {{else}}
      <Tab>
        <AuLink @route="road-sign-concepts.road-sign-concept.sub-signs">
          {{t "utility.sub-signs"}}
        </AuLink>
      </Tab>
    {{/if}}
    <Tab>
      <AuLink @route="road-sign-concepts.road-sign-concept.related">
        {{t "utility.related-traffic-signals"}}
      </AuLink>
    </Tab>
    <Tab>
      <AuLink @route="road-sign-concepts.road-sign-concept.can-contain">
        {{t "utility.can-contain-traffic-signals"}}
      </AuLink>
    </Tab>
  </AuTabs>
</header>