{{page-title (t "measureConcept.crud.edit")}}

<BreadcrumbsItem as |linkClass|>
  <LinkTo
    @route="measure-concepts.edit"
    @model={{this.measureConcept.id}}
    class={{linkClass}}
  >
    {{t "measureConcept.crud.edit"}}
  </LinkTo>
</BreadcrumbsItem>

<NavigationBar />

<AuToolbar @border="bottom" @size="large">
  <AuToolbarGroup>
    <AuHeading @skin="2">
      {{t "measureConcept.crud.edit"}}
    </AuHeading>
  </AuToolbarGroup>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <div class="au-o-grid">
      <div class="au-o-grid__item au-u-2-3@medium au-u-2-5@large">
        <form
          class="au-c-form"
          id="edit-measure-concept-form"
          {{on "submit" this.editMeasureConcept}}
        >
          {{#let (is-empty this.measureConcept.description) as |isInvalid|}}
            <p>
              <AuLabel @error={{isInvalid}} for="description">
                {{t "measureConcept.attr.description"}}&nbsp;
                <AuPill>
                  {{t "utility.required"}}
                </AuPill>
              </AuLabel>
              <AuTextarea
                @error={{isInvalid}}
                @width="block"
                class="u-min-h-20"
                id="description"
                required="required"
                value={{this.measureConcept.description}}
                {{on "input" (fn this.setMeasureConceptValue "description")}}
              />
              {{#if isInvalid}}
                <AuHelpText>
                  {{t "utility.fieldRequired"}}
                </AuHelpText>
              {{/if}}
            </p>
          {{/let}}
          {{#let
            (is-empty this.measureConcept.roadSignConcept.id) as |isInvalid|
          }}
            <p>
              <AuLabel @error={{isInvalid}} for="roadSignConcept">
                {{t "measureConcept.attr.roadSignConceptCode"}}&nbsp;
                <AuPill>
                  {{t "utility.required"}}
                </AuPill>
              </AuLabel>
              <div class={{if isInvalid "ember-power-select--error"}}>
                <PowerSelect
                  @allowClear={{true}}
                  @searchEnabled={{true}}
                  @noMatchesMessage={{t "measureConcept.crud.noData"}}
                  @searchField="roadsignconceptcode"
                  @options={{@model.roadSignConcepts}}
                  @selected={{this.measureConcept.roadSignConcept}}
                  @onChange={{this.setMeasureConceptRoadSignConcept}}
                  @triggerId="roadSignConcept" as |concept|
                >
                  {{concept.roadSignConceptCode}}
                </PowerSelect>
              </div>
              {{#if isInvalid}}
                <AuHelpText>
                  {{t "utility.fieldRequired"}}
                </AuHelpText>
              {{/if}}
            </p>
          {{/let}}

          <p>
            <AuLabel for="linkedMeasureConcept">
              {{t "measureConcept.attr.roadSignConceptCombination"}}
            </AuLabel>
            <PowerSelectMultiple
              @allowClear={{true}}
              @searchEnabled={{true}}
              @noMatchesMessage={{t "measureConcept.crud.noData"}}
              @searchField="description"
              @options={{@model.measureConcepts}}
              @selected={{
                this.measureConcept.roadSignCombination.measureConcepts
              }}
              @onChange={{this.setMeasureConceptCombination}}
              @triggerId="linkedMeasureConcept" as |concept|
            >
              {{concept.description}}
            </PowerSelectMultiple>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>

<AuToolbar @border="top" @size="large">
  <AuToolbarGroup>
    <AuButtonGroup>
      <AuButton
        @disabled={{or this.isSaving this.notValid}}
        @loading={{this.isSaving}}
        form="edit-measure-concept-form"
        type="submit"
      >
        {{t "utility.save"}}
      </AuButton>
      <LinkTo
        @route="measure-concepts.measure-concept"
        @model={{this.measureConcept.id}}
        class="au-c-button au-c-button--secondary"
      >
        {{t "utility.cancel"}}
      </LinkTo>
    </AuButtonGroup>
  </AuToolbarGroup>
</AuToolbar>