{{page-title (t "measureConcept.crud.edit")}}

{{#let @model.measureConcept as |measureConcept|}}
  <BreadcrumbsItem as |linkClass|>
    <LinkTo @route="measure-concepts.edit" @model={{measureConcept.id}} class={{linkClass}}>
      {{t "measureConcept.crud.edit"}}
    </LinkTo>
  </BreadcrumbsItem>

  <NavigationBar/>

  <form
    class="au-c-form au-o-layout au-u-padding-top-large" {{on "submit" this.editMeasureConcept}}
  >
    {{#let (is-empty measureConcept.description) as |isInvalid|}}
      <p>
        <AuLabel @error={{isInvalid}} for="description">{{t "measureConcept.attr.description"}}&nbsp;<AuPill>{{t
                "utility.required"}}</AuPill>
        </AuLabel>
        <AuTextarea
                @error={{isInvalid}}
                id="description"
                value={{measureConcept.description}}
          {{on "input" (fn this.setMeasureConceptValue "description")}}
                required="required"
        ></AuTextarea>
        {{#if isInvalid}}
          <AuHelpText @error={{true}}>{{t "utility.fieldRequired"}}</AuHelpText>
        {{/if}}
      </p>
    {{/let}}
    {{#let (is-empty measureConcept.roadSignConcept.id) as |isInvalid|}}

      <p>
        <AuLabel @error={{isInvalid}} for="roadSignConcept">{{t "measureConcept.attr.roadSignConceptCode"}}&nbsp;<AuPill>{{t
                "utility.required"}}</AuPill>
        </AuLabel>
        <PowerSelect
                @allowClear={{true}}
                @searchEnabled={{true}}
                @noMatchesMessage={{t "measureConcept.crud.noData"}}
                @searchField="roadsignconceptcode"
                @options={{@model.roadSignConcepts}}
                @selected={{measureConcept.roadSignConcept}}
                @onChange={{this.setMeasureConceptRoadSignConcept}}
                @triggerId="roadSignConcept"
                as |concept|
        >
          {{concept.roadSignConceptCode}}
        </PowerSelect>
        {{#if isInvalid}}
          <AuHelpText @error={{true}}>{{t "utility.fieldRequired"}}</AuHelpText>
        {{/if}}
      </p>
    {{/let}}

    <p>
      <AuLabel for="linkedMeasureConcept">{{t "editMeasureConcept.linkedMeasureConcept"}}</AuLabel>
      <PowerSelectMultiple
        @allowClear={{true}}
        @searchEnabled={{true}}
        @noMatchesMessage={{t "linkedMeasureConcept.noData"}}
        @searchField="description"
        @options={{@model.measureConcepts}}
        @selected={{measureConcept.roadSignCombination.measureConcepts}}
        @onChange={{this.setMeasureConceptCombination}}
        @triggerId="linkedMeasureConcept"
        as |concept|
      >
        {{concept.description}}
      </PowerSelectMultiple>
    </p>


    <p>
      <AuButton type="submit" @loading={{this.isSaving}} @disabled={{or this.isSaving this.notValid}}>
        {{t "utility.save"}}
      </AuButton>
    </p>
  </form>
{{/let}}