{{page-title (t "measureConcept.crud.edit")}}

{{#let @model.measureConcept as |measureConcept|}}
  <BreadcrumbsItem as |linkClass|>
    <LinkTo @route="measure-concepts.edit" @model={{measureConcept.id}} class={{linkClass}}>
      {{t "measureConcept.crud.edit"}}
    </LinkTo>
  </BreadcrumbsItem>

  <NavigationBar />

  <form
    class="au-c-form au-o-layout au-u-padding-top-large"
    {{on "submit" this.editMeasureConcept}}
  >
    <p>
      <AuLabel for="description">{{t "measureConcept.attr.description"}}</AuLabel>
      <AuTextarea
              id="description"
              value={{measureConcept.description}}
        {{on "input" (fn this.setMeasureConceptValue "description")}}
              required="required"
      ></AuTextarea>
    </p>

    <p>
      <AuLabel for="roadSignConcept">{{t "measureConcept.attr.roadSignConceptCode"}}</AuLabel>
      <PowerSelect
        @allowClear={{true}}
        @searchEnabled={{true}}
        @noMatchesMessage={{t "measureConcept.crud.noData"}}
        @searchField="roadsignconceptcode"
        @options={{@model.roadSignConcepts}}
        @selected={{measureConcept.roadSignConcept}}
        @onChange={{this.setMeasureConceptRoadSignConcept}}
        @triggerId="roadSignConcept"
        as |concept|
      >
        {{concept.roadSignConceptCode}}
      </PowerSelect>
    </p>


    <p>
      <AuButton type="submit" @loading={{this.isSaving}} @disabled={{this.isSaving}}>
        {{t "utility.save"}}
      </AuButton>
    </p>
  </form>
{{/let}}