<NavigationBar />

<AuDataTable @content={{this.model}} @fields="description roadsignconcept" @noDataMessage={{t
        "measureconcept.nodata" }}
             @size={{this.size}} @page={{this.page}}
             @sort={{this.sort}} as |s|>
  <s.menu as |menu|>
    <menu.general>
      <AuToolbar class="au-o-box">
        <AuToolbarGroup>
          <AuHeading @skin="2">
            {{t "landingPage.measures.title"}}
          </AuHeading>
        </AuToolbarGroup>
        <AuToolbarGroup class="au-c-toolbar__group--center">
          <AuDataTableTextSearch @filter={{this.filter}} @placeholder={{t "measureconcept.search" }} />
          <LinkTo class="au-c-button" @route="measure-concepts.new">
            {{t "measureconcept.new"}}
          </LinkTo>
        </AuToolbarGroup>
      </AuToolbar>
    </menu.general>
  </s.menu>
  <s.content as |c|>
    <c.header>
      <th class="data-table__header-title"> {{t "roadsignconcept.imageurl"}}</th>
      <th class="data-table__header-title"> {{t "measureconcept.description" }}</th>
      <th class="data-table__header-title"></th>
    </c.header>
    <c.body as |row|>
      <td><img src={{row.roadSignConcept.image}} alt="" role="presentation"></td>
      <td>{{row.description}}</td>
      <td>
        <LinkTo @route="measure-concepts.measure-concept" @model={{row}}>
          <AuIcon @icon="info-circle" @alignment="left" @size="large" @ariaHidden={{true}} />
        </LinkTo>
      </td>
    </c.body>
  </s.content>
</AuDataTable>