
<AuDataTable @content={{this.model}} @fields="description roadsignconcept"
             @noDataMessage={{t "measureConcept.crud.noData" }}
             @size={{this.size}} @page={{this.page}}
             @sort={{this.sort}} as |s|>
  <s.menu as |menu|>
    <menu.general>
      <AuToolbar class="au-o-box">
        <AuToolbarGroup>
          <AuHeading @skin="2">
            {{t "measureConcept.name"}}
          </AuHeading>
        </AuToolbarGroup>
        <AuToolbarGroup class="au-c-toolbar__group--center">
          <AuDataTableTextSearch @filter={{this.filter}} @placeholder={{t "measureConcept.crud.search" }} />
          <LinkTo class="au-c-button" @route="measure-concepts.new">
            {{t "measureConcept.crud.new"}}
          </LinkTo>
        </AuToolbarGroup>
      </AuToolbar>
    </menu.general>
  </s.menu>
  <s.content as |c|>
    <c.header>
      <th class="data-table__header-title"> {{t "measureConcept.attr.roadSignConceptImage"}}</th>
      <th class="data-table__header-title"> {{t "measureConcept.attr.description" }}</th>
      <th class="data-table__header-title"></th>
    </c.header>
    <c.body as |row|>
      <td><img src={{row.roadSignConcept.image}} alt="" role="presentation"></td>
      <td>{{row.description}}</td>
      <td>
        <LinkTo class="au-c-link" @route="measure-concepts.measure-concept" @model={{row}}>
          {{t "utility.view"}}
        </LinkTo>
      </td>
    </c.body>
  </s.content>
</AuDataTable>