<div class="au-u-padding-top au-o-layout">
  <AuLink @linkRoute="measure-concepts.index" @icon="nav-left" @iconAlignment="left">
    {{t "measureconcept.backToOverview"}}
  </AuLink>
</div>
<div class="au-o-grid au-u-margin-top">
  <div class="au-o-grid__item au-u-1-2">
    <AuCard @flex={{true}} as |c|>
      <c.header @badgeSkin="brand">
        <div class="flex-content-between">
          <div class="no-flex-shrink">
            <img class="au-u-margin-right" alt={{t 'abb.name'}} src={{@model.roadSignConcept.image}}>
          </div>
          <div>
            <p>{{@model.description}}</p>
          </div>
        </div>
      </c.header>
      <c.footer>
        <LinkTo class="au-c-button" @route="measure-concepts.edit" @model={{@model.id}}>
          {{t "measureconcept.edit"}}
        </LinkTo>
        <AuButton @alert={{true}} {{on "click" (fn this.removeMeasureConcept @model)}}>{{t "measureconcept.delete"}}</AuButton>
      </c.footer>
    </AuCard>
  </div>
</div>