{{page-title (t "newMeasureConcept.pageTitle")}}


{{#let @model.newMeasureConcept as |measureConcept|}}
  <BreadcrumbsItem as |linkClass|>
    <LinkTo @route="measure-concepts.new" @model={{measureConcept.id}} class={{linkClass}}>
      {{t "newMeasureConcept.pageTitle"}}
    </LinkTo>
  </BreadcrumbsItem>

  <NavigationBar />

  <form
    class="au-c-form au-o-layout au-u-padding-top-large"
    {{on "submit" this.createMeasureConcept}}
  >
    <p>
      <AuLabel for="description">{{t "newMeasureConcept.description"}}</AuLabel>
      <AuTextarea
              id="description"
        {{on "input" (fn this.setMeasureConceptValue "description")}}
              required="required"
      ></AuTextarea>
    </p>

    <p>
      <AuLabel for="roadSignConcept">{{t "newMeasureConcept.roadSignConcept"}}</AuLabel>
      <PowerSelect
        @allowClear={{true}}
        @searchEnabled={{true}}
        @noMatchesMessage={{t "newMeasureConcept.noData"}}
        @searchField="roadsignconceptcode"
        @options={{@model.roadSignConcepts}}
        @selected={{measureConcept.roadSignConcept}}
        @onChange={{this.setMeasureConceptRoadSignConcept}}
        @triggerId="roadSignConcept"
        as |concept|
      >
        {{concept.roadSignConceptCode}}
      </PowerSelect>
    </p>


    <p>
      <AuButton type="submit" @loading={{this.isSaving}} @disabled={{this.isSaving}}>
        {{t "newMeasureConcept.create"}}
      </AuButton>
    </p>
  </form>
{{/let}}