<BreadcrumbsItem as |linkClass|>
  <LinkTo
    @route="road-sign-concepts.road-sign-concept"
    @model={{@model.mainConcept.id}}
    class={{linkClass}}
  >
    {{@model.mainConcept.roadSignConceptCode}}
  </LinkTo>
</BreadcrumbsItem>
<div
  class="au-c-body-container au-c-body-container--scroll au-c-body-container--tables"
>
  <InstructionsTable
    @templates={{@model.mainConcept.templates}}
    @removeTemplate={{perform this.removeTemplate}}
    @editInstruction={{this.editInstruction}}
    @addInstruction={{this.addInstruction}}
    @isAddingInstructions={{this.isAddingInstructions}}
  />
  {{#if this.isSubSign}}
    <SearchTables::RoadSign
      @content={{sort-by-road-sign-code (await @model.mainConcept.mainSigns)}}
    >
      <AuToolbar class="au-o-box" as |Group|>
        <Group>
          <AuHeading @level="2" @skin="3">
            {{t "road-sign-concept.attr.main-sign"}}
          </AuHeading>
        </Group>
        <Group>
          <AuLink @skin="button" @route="road-sign-concepts.road-sign-concept.subsigns">
            {{t "related-road-sign.crud.add"}}
          </AuLink>
        </Group>
      </AuToolbar>

    </SearchTables::RoadSign>
  {{else}}
    <SearchTables::RoadSign
      @content={{sort-by-road-sign-code (await @model.mainConcept.subSigns)}}
    >
      <:menu>

        <AuToolbar class="au-o-box" as |Group|>
          <Group>
            <AuHeading @level="2" @skin="3">
              {{t "road-sign-concept.attr.sub-sign"}}
            </AuHeading>
          </Group>
          <Group>
            <AuLink @skin="button" @route="road-sign-concepts.road-sign-concept.subsigns">
              {{t "related-road-sign.crud.add"}}
            </AuLink>
          </Group>
        </AuToolbar>
      </:menu>

    </SearchTables::RoadSign>
  {{/if}}
  <SearchTables::RoadSign
    @content={{sort-by-road-sign-code
    (await @model.mainConcept.relatedRoadSignConcepts)}}
  >
    <:menu>
      <AuToolbar class="au-o-box" as |Group|>
        <Group>
          <AuHeading @level="2" @skin="3">
            {{t "road-sign-concept.attr.related-sign"}}
          </AuHeading>
        </Group>
        <Group>
          <AuLink @skin="button" @route="road-sign-concepts.road-sign-concept.related-signs">
            {{t "related-road-sign.crud.add"}}
          </AuLink>
        </Group>
      </AuToolbar>
    </:menu>

  </SearchTables::RoadSign>
  <SearchTables::RoadMarking
    @content={{sort-by-road-marking-code
    (await @model.mainConcept.relatedRoadMarkingConcepts)}}
  >
    <:menu>
      <AuToolbar class="au-o-box" as |Group|>
        <Group>
          <AuHeading @level="2" @skin="3">
            {{t "road-sign-concept.attr.related-sign"}}
          </AuHeading>
        </Group>
        <Group>
          <AuLink @skin="button" @route="road-sign-concepts.road-sign-concept.related-markings">
            {{t "related-road-marking.crud.add"}}
          </AuLink>
        </Group>
      </AuToolbar>
    </:menu>
  </SearchTables::RoadMarking>
  <SearchTables::TrafficLight
    @content={{sort-by-traffic-light-code
    (await @model.mainConcept.relatedTrafficLightConcepts)}}
  >
    <:menu>
      <AuToolbar class="au-o-box" as |Group|>
        <Group>
          <AuHeading @level="2" @skin="3">
            {{t "road-sign-concept.attr.related-traffic-light"}}
          </AuHeading>
        </Group>
        <Group>
          <AuLink @skin="button" @route="road-sign-concepts.road-sign-concept.related-lights">
            {{t "related-traffic-light.crud.add"}}
          </AuLink>
        </Group>
      </AuToolbar>
    </:menu>
  </SearchTables::TrafficLight>

</div>
