{{! @glint-nocheck: not typesafe yet }}
{{page-title (t "utility.related-traffic-signals")}}

<RoadSignConcept::Header @roadSignConcept={{@model.roadSignConcept}} />

<SidebarOverlayContainer @isOpen={{this.isSidebarOpen}}>
  <:content>
    <AuBodyContainer @scroll={{true}} class="au-c-body-container--tables">
      <div class="au-o-flow">
        <RelatedRoadsignsTable
          @title={{t "road-marking-concept.attr.related-sign"}}
          @addText={{t "related-road-sign.crud.add"}}
          @content={{sort-by-road-sign-code
            (await @model.roadSignConcept.relatedRoadSignConcepts)
          }}
          @onClickAdd={{this.toggleAddRelatedRoadSigns}}
          @onClickRemove={{perform this.removeRelatedRoadSign}}
        />
        <RelatedRoadmarkingsTable
          @content={{sort-by-road-marking-code
            (await @model.roadSignConcept.relatedRoadMarkingConcepts)
          }}
          @onClickAdd={{this.toggleAddRelatedRoadMarkings}}
          @onClickRemove={{perform this.removeRelatedRoadMarking}}
        />
        <RelatedTrafficLightsTable
          @content={{sort-by-traffic-light-code
            (await @model.roadSignConcept.relatedTrafficLightConcepts)
          }}
          @onClickAdd={{this.toggleAddRelatedTrafficLights}}
          @onClickRemove={{perform this.removeRelatedTrafficLight}}
        />
      </div>
    </AuBodyContainer>
  </:content>
  <:sidebar>
    {{#if this.isAddingRelatedRoadSigns}}
      <SidebarAddSignal
        @title={{t "related-road-sign.crud.add"}}
        @filterPlaceholder={{t "utility.search"}}
        @addText={{t "related-road-sign.crud.add-one"}}
        @allSignals={{this.model.allRoadSigns}}
        @addSignal={{fn (perform this.addRelatedRoadSign)}}
        @onClose={{this.toggleAddRelatedRoadSigns}}
      />
    {{/if}}
    {{#if this.isAddingRelatedRoadMarkings}}
      <SidebarAddSignal
        @title={{t "related-road-marking.crud.add"}}
        @filterPlaceholder={{t "utility.search"}}
        @addText={{t "related-road-marking.crud.add-one"}}
        @allSignals={{this.model.allRoadMarkings}}
        @addSignal={{fn (perform this.addRelatedRoadMarking)}}
        @onClose={{this.toggleAddRelatedRoadMarkings}}
      />
    {{/if}}

    {{#if this.isAddingRelatedTrafficLights}}
      <SidebarAddSignal
        @title={{t "related-traffic-light.crud.add"}}
        @filterPlaceholder={{t "utility.search"}}
        @addText={{t "related-traffic-light.crud.add-one"}}
        @allSignals={{this.model.allTrafficLights}}
        @addSignal={{fn (perform this.addRelatedTrafficLight)}}
        @onClose={{this.toggleAddRelatedTrafficLights}}
      />
    {{/if}}
  </:sidebar>
</SidebarOverlayContainer>