<RoadSignConcept::Header @roadSignConcept={{@model.roadSignConcept}} />
Vorm
{{#if this.cardEditing}}
  <AuButton {{on 'click' this.saveCard}}>Save</AuButton>
  <AuButton {{on 'click' this.cancelCard}}>Cancel</AuButton>
{{else}}
  <AuButton @icon="pencil" {{on 'click' this.editCard}} />
{{/if}}
<dl>
  <dt>Vorm</dt>
  <dd>
    {{#if this.cardEditing}}
      <PowerSelect
        @allowClear={{false}}
        @searchEnabled={{false}}
        @searchField='label'
        @loadingMessage={{t 'utility.loading'}}
        {{! @glint-expect-error need to move to PS 8 }}
        @options={{this.shapeClassificationsPromise}}
        @selected={{this.selectedShape}}
        @onChange={{this.setShapeClassifications}}
        @triggerId='shapeConcepts'
        as |shapeClassification|
      >
        {{shapeClassification.label}}
      </PowerSelect>
    {{else}}
      {{@model.defaultShape.classification.label}}
    {{/if}}
  </dd>
  <dt>Afmeting eenheid</dt>
  <dd>
    {{#if this.cardEditing}}
      <PowerSelect
        @allowClear={{false}}
        @searchEnabled={{false}}
        @searchField='label'
        @loadingMessage={{t 'utility.loading'}}
        {{! @glint-expect-error need to move to PS 8 }}
        @options={{this.unitsPromise}}
        @selected={{this.selectedUnit}}
        @onChange={{this.setUnit}}
        @triggerId='shapeConcepts'
        as |unit|
      >
        {{unit.symbol}}
      </PowerSelect>
    {{else}}
       {{this.defaultMeasureUnit.symbol}}
    {{/if}}
  </dd>
  <dt>Standaardvorm</dt>
  <dd>
    {{#if this.cardEditing}}
    {{else}}
      {{this.defaultShapeString}}
    {{/if}}
  </dd>
</dl>
<ReactiveTable
  @content={{this.shapesConverted.value}}
  @isLoading={{this.isLoading}}
  @noDataMessage={{t "road-sign-concept.crud.no-data"}}
  @page={{this.page}}
  @sort={{this.sort}}
  @pageSize={{this.pageSize}}
  @onPageChange={{this.onPageChange}}
  @onSortChange={{this.onSortChange}}
>
  <:menu>
    <div class="au-u-flex au-u-flex--end">
        <AuButton
          @skin="secondary"
          @width="block"
          @icon="plus"
          {{on "click" this.addNewShape}}
        >
          {{t "utility.add-variable"}}
        </AuButton>
    </div>
  </:menu>
  <:header as |header|>
    {{#each this.dimensionsToShow as |dimension|}}
      <th>{{dimension.label}}</th>
    {{/each}}
    <th>Default Shape</th>
  </:header>
  <:body as |shape|>
    {{#each this.dimensionsToShow as |dimension|}}
      {{#if (eq shape.shape.id this.editShapeId)}}
        <td>
          <AuInput
              @width='block'
              id='label'
              value={{this.getRawValue shape dimension.value}}
              {{on 'input' (fn this.setShapeValue shape dimension.value)}}
            />
          </td>
      {{else}}
        <td>{{this.getStringValue shape dimension.value}}</td>
      {{/if}}
    {{/each}}
    {{#if (eq shape.shape.id this.editShapeId)}}
        <td>
         <AuCheckbox
            @checked={{(eq this.defaultShape.value.id shape.shape.id)}}
            @onChange={{fn this.toggleDefaultShape shape}}
          >
            {{t 'road-sign-concept.attr.default-shape'}}
          </AuCheckbox>
        </td>
      {{else}}
        <td>{{#if (eq this.defaultShape.value.id shape.shape.id)}} <AuIcon @icon="check" @size="large" />  {{/if}}</td>
      {{/if}}

      {{#if (eq shape.shape.id this.editShapeId)}}
      <td> <AuButton
            @skin="secondary"
            @width="block"
            {{on "click" (fn this.saveShape shape)}}
          >Save</AuButton>
          <AuButton
            @skin="secondary"
            @width="block"
            {{on "click" (fn this.resetShape shape)}}
          >Reset</AuButton></td>
      {{else}}
        <td>
          <AuButton
            @skin="secondary"
            @width="block"
            @icon="pencil"
            {{on "click" (fn this.editShape shape)}}
          /></td>
      {{/if}}
  </:body>
</ReactiveTable>
