{{#let (if this.isAddMainSigns (t "main-sign.crud.add") (t 'sub-sign.crud.add')) as |pageTitle|}}
  {{page-title pageTitle}}
  <BreadcrumbsItem as |linkClass|>
    <LinkTo
      @route="road-sign-concepts.road-sign-concept.subsigns"
      @model={{@model.mainConcept.id}}
      class={{linkClass}}
    >
      {{pageTitle}}
    </LinkTo>
  </BreadcrumbsItem>
{{/let}}
<AuLink @skin="button" @route="road-sign-concepts.road-sign-concept" class="au-u-margin-bottom-small">
  <AuIcon @icon="chevron-left"/>{{t "road-sign-concept.back-to-overview"}}
</AuLink>
<div>
  <SearchTables::RoadSign
    @content={{@model.relatedConcepts}}
  >
    <:rowAction as |sign|>
      <AuButton
        @icon="bin"
        @skin="secondary"
        @hideText={{true}}
        {{on "click" (fn this.removeSign sign)}}>

        {{(if this.isAddMainSigns (t "main-sign.crud.delete") (t 'sub-sign.crud.delete'))}}
      </AuButton>
    </:rowAction>
  </SearchTables::RoadSign>
</div>
<hr>
{{#if this.potentialConcepts.value}}
  <PowerSelect
    @allowClear={{true}}
    @searchEnabled={{true}}
    @noMatchesMessage={{t "road-sign-concept.crud.no-categories"}}
    @loadingMessage={{t "utility.loading"}}
    @searchField="label"
    @options={{@model.categories}}
    @selected={{this.selectedCategory}}
    @onChange={{this.setCategory}} as |category|
  >
    {{category}}
  </PowerSelect>
  <SearchTables::RoadSign
    @content={{this.potentialConcepts.value}}
  >
   <:rowAction as |sign|>
      <AuButton
        @disabled={{this.isRelated sign}}
        @icon="add"
        @hideText={{true}}
        {{on "click" (fn this.addSign sign)}}
      >
        {{(if this.isAddMainSigns (t "main-sign.crud.add-one") (t 'sub-sign.crud.add-one'))}}
      </AuButton>
    </:rowAction>
  </SearchTables::RoadSign>
{{/if}}