<AuFieldset as |f|>
  <f.legend
    @skin={{this.skin}}
    @required={{true}}
    @requiredLabel={{this.requiredLabel}}
    @error={{@roadSignConcept.error.shapes}}
  >
    {{t "utility.shapes"}}
  </f.legend>
  <f.content class="au-u-1-1">
    <div class="au-o-flow">
      {{#each @shapes as |shape index|}}
        <AuCard as |c|>
          <c.header>
            <AuToolbar as |Group|>
              <Group>
                <AuHeading @level="1" @skin="5">
                  {{t
                    "road-sign-concept.shapes.title"
                    index=(this.plusOne index)
                  }}
                </AuHeading>
              </Group>
              <Group>
                <AuButton
                  @skin="naked"
                  @disabled={{this.shouldPreventDeletion}}
                  @icon="bin"
                  @alert={{true}}
                  {{on "click" (fn @removeShape shape)}}
                >
                  {{t "utility.delete"}}
                </AuButton>
              </Group>
            </AuToolbar>
          </c.header>
          <c.content>
            <AuFormRow>
              <div
                class="au-u-1-2
                  {{if shape.error.classification 'ember-power-select--error'}}"
              >
                <PowerSelect
                  @allowClear={{false}}
                  @searchEnabled={{false}}
                  @searchField="label"
                  @loadingMessage={{t "utility.loading"}}
                  @options={{this.shapeClassificationsPromise}}
                  @selected={{shape.classification}}
                  @onChange={{fn (mut shape.classification)}}
                  @triggerId="shapeConcepts"
                  as |shapeClassification|
                >
                  {{shapeClassification.label}}
                </PowerSelect>
              </div>
              <ErrorMessage @error={{shape.error.classification}} />
            </AuFormRow>

            <AuTable>
              <:title>{{t "utility.dimensions"}}</:title>
              <:header>
                <tr>
                  <th id="dimension-kind-{{index}}">
                    {{t "road-sign-concept.dimension"}}
                  </th>
                  <th id="dimension-unit-{{index}}">
                    {{t "road-sign-concept.attr.unit"}}
                  </th>
                  <th id="dimension-value-{{index}}">
                    {{t "road-sign-concept.value"}}
                  </th>
                  <th>{{! delete }}</th>
                </tr>
              </:header>
              <:body>
                {{#let (await shape.dimensions) as |dimensions|}}
                  {{#each dimensions as |dimension|}}
                    <tr>
                      <td>
                        <div
                          class={{if
                            dimension.error.kind
                            "ember-power-select--error"
                          }}
                        >
                          <PowerSelect
                            @allowClear={{false}}
                            @searchEnabled={{false}}
                            @searchField="label"
                            @loadingMessage={{t "utility.loading"}}
                            @options={{this.quantityKindsPromise}}
                            @selected={{dimension.kind}}
                            @onChange={{fn this.setQuantityKind dimension}}
                            @triggerId="quantityKinds"
                            @ariaLabelledBy="dimension-kind-{{index}}"
                            as |qt|
                          >
                            {{qt.label}}
                          </PowerSelect>
                        </div>
                        <ErrorMessage @error={{dimension.error.kind}} />
                      </td>
                      <td>
                        <div
                          class={{if
                            dimension.error.unit
                            "ember-power-select--error"
                          }}
                        >
                          <PowerSelect
                            @disabled={{(not dimension.kind)}}
                            @allowClear={{false}}
                            @searchEnabled={{false}}
                            @searchField="symbol"
                            @loadingMessage={{t "utility.loading"}}
                            @options={{if
                              dimension.kind.units
                              (sort-by-order dimension.kind.units)
                            }}
                            @selected={{dimension.unit}}
                            @onChange={{fn this.setUnitType dimension}}
                            @triggerId="unitType"
                            @ariaLabelledBy="dimension-unit-{{index}}"
                            as |u|
                          >
                            {{u.symbol}}
                          </PowerSelect>
                        </div>
                        <ErrorMessage @error={{dimension.error.unit}} />
                      </td>
                      <td>
                        <AuInput
                          @error={{dimension.error.value}}
                          @disabled={{(or
                            (not dimension.unit) (not dimension.kind)
                          )}}
                          @width="block"
                          type="number"
                          required="required"
                          value={{dimension.value}}
                          aria-labelledby="dimension-value-{{index}}"
                          {{on "input" (fn this.setDimensionValue dimension)}}
                        />
                        <ErrorMessage @error={{dimension.error.value}} />
                      </td>
                      <td>
                        <AuButton
                          @disabled={{lte dimensions.length 1}}
                          @skin="naked"
                          @alert={{true}}
                          {{on "click" (fn @removeDimension shape dimension)}}
                        >
                          {{t "utility.delete"}}
                        </AuButton>
                      </td>
                    </tr>
                  {{/each}}
                {{/let}}
              </:body>
            </AuTable>

            <AuButton
              @skin="secondary"
              @icon="add"
              @width="block"
              {{on "click" (fn this.addDimension shape)}}
            >
              {{t "road-sign-concept.add-dimension"}}
            </AuButton>
          </c.content>
        </AuCard>
      {{/each}}
      <AuButton
        @skin="secondary"
        @icon="add"
        @width="block"
        {{on "click" @addShape}}
      >
        {{t "road-sign-concept.add-shape"}}
      </AuButton>

      <ErrorMessage @error={{@roadSignConcept.error.shapes}} />
    </div>
  </f.content>
</AuFieldset>