<AuFieldset as |f|>
  <f.legend @skin={{this.skin}} @required={{false}}>
    {{t "utility.variables"}}
  </f.legend>
  <f.content class="au-u-1-1">
    <div class="au-o-flow">
      <AuButtonGroup>

        <AuLabel>{{t "utility.variable"}}</AuLabel>
        <AuInput
          @value={{this.selectedValue}}
          {{on "input" this.setVariableValue}}
        />

        <AuLabel>{{t "utility.type"}}</AuLabel>
        <PowerSelect
          @searchField="label"
          @options={{this.variableTypes}}
          @placeholder={{t "utility.search-placeholder"}}
          @loadingMessage={{t "utility.loading"}}
          @selected={{this.selectedType}}
          @onChange={{this.setVariableType}}
          @triggerId="variableTypes"
          as |type|
        >
          {{type.label}}
        </PowerSelect>

        <AuButton @skin="secondary" {{on "click" this.addVariable}}>{{t
            "utility.add"
          }}</AuButton>
      </AuButtonGroup>

      {{#if @variables}}
        <AuTable>
          <:header>
            <tr>
              <th>{{t "utility.variable"}}</th>
              <th>{{t "utility.type"}}</th>
              <th></th>
            </tr>
          </:header>
          <:body>
            {{#each @variables as |variable|}}
              <tr>
                <td>{{variable.value}}</td>
                <td>{{variable.label}}</td>
                <td>
                  <AuButton
                    @skin="naked"
                    @icon="bin"
                    @alert={{true}}
                    {{on "click" (fn this.removeVariable variable)}}
                  >
                    {{t "utility.delete"}}
                  </AuButton></td>
              </tr>
            {{/each}}
          </:body>
        </AuTable>
      {{/if}}

    </div>
  </f.content>
</AuFieldset>