<AuFieldset as |f|>
  <f.legend
    @skin={{this.skin}}
    @required={{false}}
    @error={{@roadSignConcept.error.variables}}
  >
    {{t "utility.variables"}}
  </f.legend>
  <f.content class="au-u-1-1">
    <div class="au-o-flow">
      <AuButtonGroup>
        <AuLabel>{{t "utility.variable"}}</AuLabel>
        <AuInput {{on "input" this.setVariableValue}} />
        <AuLabel>{{t "utility.type"}}</AuLabel>
        <PowerSelect
          @searchField="label"
          @options={{this.variableTypes}}
          @placeholder={{t "utility.search-placeholder"}}
          @loadingMessage={{t "utility.loading"}}
          @selected={{this.selectedType}}
          @onChange={{this.setVariableType}}
          @triggerId="variableTypes"
          as |type|
        >
          {{type.label}}
        </PowerSelect>
        <AuButton @skin="secondary" {{on "click" this.addVariable}}>{{t
            "utility.add"
          }}</AuButton>
      </AuButtonGroup>

      <AuDataTable
        @content={{@variables}}
        @page={{this.page}}
        @fields="title description"
        @noDataMessage="Geen variabelen gevonden"
        @sort={{this.sort}}
        as |table|
      >
        <table.content as |c|>

          <c.header>

            <AuDataTableThSortable
              @field="value"
              @currentSorting={{this.sort}}
              @label={{t "utility.variable"}}
              @class="data-table__header-title"
            />

            <AuDataTableThSortable
              @field="type"
              @currentSorting={{this.sort}}
              @label={{t "utility.type"}}
              @class="data-table__header-title"
            />
            <th></th>

          </c.header>

          <c.body as |variable|>
            <td>{{variable.value}}</td>
            <td>{{variable.label}}</td>
            <td>
              <AuButton
                @skin="naked"
                @icon="bin"
                @alert={{true}}
                {{on "click" (fn this.removeVariable variable)}}
              >
                {{t "utility.delete"}}
              </AuButton></td>

          </c.body>

        </table.content>
      </AuDataTable>

    </div>
  </f.content>
</AuFieldset>