{{! @glint-nocheck: not typesafe yet }}
<header ...attributes>
  <AuToolbar @size="large" as |Group|>
    <Group>
      <AuHeading @skin="2">
        {{t "road-marking-concept.details" label=@roadMarkingConcept.label}}
      </AuHeading>
    </Group>
    <Group>
      <AuLink
        @icon="pencil"
        @skin="button-secondary"
        @route="road-marking-concepts.edit"
        @model={{@roadMarkingConcept.id}}
      >
        {{t "road-marking-concept.crud.edit"}}
      </AuLink>
      <AuButton
        @icon="trash"
        @skin="secondary"
        @alert={{true}}
        {{on "click" (fn (mut this.isDeleteConfirmationOpen) true)}}
      >
        {{t "road-marking-concept.crud.delete"}}
      </AuButton>

      <ConfirmationModal
        @modalOpen={{this.isDeleteConfirmationOpen}}
        @closeModal={{fn (mut this.isDeleteConfirmationOpen) false}}
        @onConfirm={{perform this.removeRoadMarkingConcept}}
        @onCancel={{set this "isDeleteConfirmationOpen" false}}
        @confirmButtonText={{t "road-marking-concept.crud.delete"}}
        @titleText={{t "utility.confirmation.title"}}
        @isAlert={{true}}
        @isLoading={{this.removeRoadMarkingConcept.isRunning}}
      >
        <:body>
          <p>
            {{t "utility.confirmation.body"}}
          </p>
        </:body>
      </ConfirmationModal>
    </Group>
  </AuToolbar>
  <AuTabs as |Tab|>
    <Tab>
      <AuLink @route="road-marking-concepts.road-marking-concept.instructions">
        {{t "utility.instructions"}}
      </AuLink>
    </Tab>
    <Tab>
      <AuLink @route="road-marking-concepts.road-marking-concept.variables">
        {{t "utility.variables"}}
      </AuLink>
    </Tab>
    <Tab>
      <AuLink @route="road-marking-concepts.road-marking-concept.shapes">
        {{t "utility.shapes"}}
      </AuLink>
    </Tab>
    <Tab>
      <AuLink @route="road-marking-concepts.road-marking-concept.related">
        {{t "utility.related-traffic-signals"}}
      </AuLink>
    </Tab>
  </AuTabs>
</header>