<SearchTables::IconCatalog
  @content={{this.model.icons}}
  @pageSize={{this.size}}
  @page={{this.page}}
  @sort={{this.sort}}
  @onPageChange={{this.onPageChange}}
  @onSortChange={{this.onSortChange}}
>
  <:menu>
    <AuToolbar class="au-o-box" as |Group|>
      <Group>
        <AuHeading @skin="2">
          {{t "icon-catalog.name"}}
        </AuHeading>
      </Group>
      <Group class="au-c-toolbar__group--center">
        {{! Copied from the AuDataTable::TextSearch component since that doesn't support calling actions on input}}
        <div class="au-c-data-table__search">
          <AuInput
            value={{this.label}}
            placeholder={{t "icon-catalog.crud.label-filter"}}
            @icon="search"
            @iconAlignment="right"
            {{on "input" (perform this.updateSearchFilterTask)}}
          />
        </div>
        <LinkTo class="au-c-button" @route="icon-catalog.new">
          {{t "icon-catalog.crud.new"}}
        </LinkTo>
      </Group>
    </AuToolbar>
  </:menu>
  <:rowAction as |icon|>
    <LinkTo class="au-c-link" @route="icon-catalog.icon" @model={{icon.id}}>
      {{t "utility.view"}}
    </LinkTo>
  </:rowAction>
</SearchTables::IconCatalog>