<div class="au-o-grid au-u-margin-top">
  <div class="au-o-grid__item au-u-1-2">
    <AuCard @flex={{true}} as |c|>
      <c.header @badgeSkin="brand">
        <div class="flex-content-between">
          <div class="no-flex-shrink">
            <img class="au-u-margin-right" alt={{t 'abb.name'}} src={{@model.image}}>
          </div>
          <div>
            <AuHeading @level="2" @skin="4">
              {{ @model.roadsignconceptcode}} -
              {{#each @model.categories as |category|}}
                <span>{{ category.label}}</span>
              {{/each}}
            </AuHeading>
          <p>{{@model.meaning}}</p>
          </div>
        </div>
      </c.header>
      <c.content>
      </c.content>
      <c.footer>
        <AuButton>{{t "roadsignconcept.edit"}}</AuButton>
      </c.footer>
    </AuCard>
  </div>
</div>