{{#let (config 'environmentName') as |environmentName|}}
  {{page-title (concat (t "utility.appName") (if environmentName (concat ' - ' environmentName)))}}
  {{#if environmentName}}
    <EnvironmentBanner 
      @applicationname={{t "utility.appName"}}
      @environmentName={{environmentName}} 
      @disablePackagesOverview={{true}}
    />
  {{/if}}
{{/let}}
<AuMainHeader @brandLink="https://www.vlaanderen.be/nl" @homeRoute="index" @appTitle={{t "utility.appName"}}>
    {{#if this.session.isAuthenticated}}
      <AuButton @skin="tertiary" role="menuitem" {{on "click" this.logout}}>
        <AuIcon @icon="logout" @alignment="left" />{{t "utility.logout"}}
      </AuButton>
    {{else}}
      <AuLink @route="login">
        {{t "utility.login"}}
      </AuLink>
    {{/if}}
</AuMainHeader>

<main id="main" class="au-c-main-container">
  <div
    class="au-c-main-container__content au-c-main-container__content--scroll"
    id="content"
  >
    {{outlet}}
  </div>
</main>
