{{page-title (t "utility.appName")}}

<AuMainHeader @brandLink="https://www.vlaanderen.be/nl" @homeRoute="index" @appTitle={{t "utility.appName"}}>
    {{#if this.session.isAuthenticated}}
      <MuLogout />
    {{else}}
      <AuLink @route="login">
        {{t "utility.login"}}
      </AuLink>
    {{/if}}
</AuMainHeader>

<main id="main" class="au-c-main-container">
  <div
    class="au-c-main-container__content au-c-main-container__content--scroll"
    id="content"
  >
    {{outlet}}
  </div>
</main>
