{{page-title (concat (t "utility.app-name") (if this.showEnvironment (concat ' - ' this.environmentName)))}}
<AuModalContainer/>
<AuApp class='{{if this.showEnvironment "au-c-app--environment"}}'>
  {{#if this.showEnvironment}}
    <EnvironmentBanner
      @applicationName='{{t "utility.app-name"}}'
      @environmentName={{this.environmentName}}
    />
  {{/if}}
  <AuMainHeader @brandLink="https://www.vlaanderen.be/nl" @homeRoute="index" @appTitle={{t "utility.app-name"}}>
      {{#if this.session.isAuthenticated}}
        {{!-- template-lint-disable require-context-role --}}
        <AuButton @icon="logout" @skin="link" role="menuitem" {{on "click" this.logout}}>
          {{t "utility.logout"}}
        </AuButton>
      {{else}}
        <AuLink @route="login">
          {{t "utility.login"}}
        </AuLink>
      {{/if}}
  </AuMainHeader>

  <main id="main" class="au-c-main-container">
    <div
      class="au-c-main-container__content au-c-main-container__content--scroll"
      id="content"
    >
      {{outlet}}
    </div>
  </main>
</AuApp>
