<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-2-5@medium">
        <div class="au-c-content au-u-margin-bottom">
          <AuHeading @skin="2">
            {{t "utility.app-name"}}
          </AuHeading>
          <p></p>
        </div>
      </div>
    </div>
    <ul class="au-o-grid au-o-grid--small">
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <AuCard @flex={{true}} as |c|>
          <c.header @badgeSkin="brand" @badgeIcon="alert-triangle">
            <AuHeading @level="2" @skin="4">
              {{t "road-sign-concept.name"}}
            </AuHeading>
          </c.header>
          <c.content>
            <p>
              {{t "road-sign-concept.landing-page.content"}}
            </p>
          </c.content>
          <c.footer>
            <AuLink
              @route="road-sign-concepts"
              @query={{hash page=0 search="" category=null}}
              @skin="button">
              {{t "road-sign-concept.landing-page.button"}}
            </AuLink>
          </c.footer>
        </AuCard>
      </li>
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <AuCard @flex={{true}} as |c|>
          <c.header @badgeSkin="brand" @badgeIcon="hierarchal-back">
            <AuHeading @level="2" @skin="4">
              {{t "road-marking-concept.name"}}
            </AuHeading>
          </c.header>
          <c.content>
            <p>
              {{t "road-marking-concept.landing-page.content"}}
            </p>
          </c.content>
          <c.footer>
            <AuLink
              @route="road-marking-concepts"
              @query={{hash page=0 search="" category=null}}
              @skin="button">
              {{t "road-marking-concept.landing-page.button"}}
            </AuLink>
          </c.footer>
        </AuCard>
      </li>
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <AuCard @flex={{true}} as |c|>
          <c.header @badgeSkin="brand" @badgeIcon="info-circle">
            <AuHeading @level="2" @skin="4">
              {{t "traffic-light-concept.name"}}
            </AuHeading>
          </c.header>
          <c.content>
            <p>
              {{t "traffic-light-concept.landing-page.content"}}
            </p>
          </c.content>
          <c.footer>
            <AuLink
              @route="traffic-light-concepts"
              @query={{hash page=0 search="" category=null}}
              @skin="button">
              {{t "traffic-light-concept.landing-page.button"}}
            </AuLink>
          </c.footer>
        </AuCard>
      </li>
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <AuCard @flex={{true}} as |c|>
          <c.header @badgeSkin="brand" @badgeIcon="draft">
            <AuHeading @level="2" @skin="4">
              {{t "traffic-measure-concept.name"}}
            </AuHeading>
          </c.header>
          <c.content>
            <p>
              {{t "traffic-measure-concept.landing-page.content"}}
            </p>
          </c.content>
          <c.footer>
            <AuLink
              @route="traffic-measure-concepts"
              @query={{hash page=0 search="" category=null}}
              @skin="button">
              {{t "traffic-measure-concept.landing-page.button"}}
            </AuLink>
          </c.footer>
        </AuCard>
      </li>
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <AuCard @flex={{true}} as |c|>
          <c.header @badgeSkin="brand" @badgeIcon="unordered-list">
            <AuHeading @level="2" @skin="4">
              {{t "codelist.name"}}
            </AuHeading>
          </c.header>
          <c.content>
            <p>
              {{t "codelist.landing-page.content"}}
            </p>
          </c.content>
          <c.footer>
            <AuLink
              @route="codelists-management"
              @query={{hash page=0 search=""}}
              @skin="button">
              {{t "codelist.landing-page.button"}}
            </AuLink>
          </c.footer>
        </AuCard>
      </li>
    </ul>
  </div>
</div>