<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-2-5@medium">
        <div class="au-c-content  au-u-margin-bottom">
          <AuHeading @skin="2">
            {{t "utility.appName"}}
          </AuHeading>
          <p></p>
        </div>
      </div>
    </div>
    <ul class="au-o-grid au-o-grid--small">
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <AuCard @flex={{true}} as |c|>
          <c.header @badgeSkin="brand" @badgeIcon="alert-triangle">
            <AuHeading @level="2" @skin="4">
              {{t "roadSignConcept.name"}}
            </AuHeading>
            <p>
              {{t "roadSignConcept.landingPage.subtitle"}}
            </p>
          </c.header>
          <c.content>
            <p>
              {{t "roadSignConcept.landingPage.content"}}
            </p>
          </c.content>
          <c.footer>
            <LinkTo
              class="au-c-button"
              @route="road-sign-concepts"
              @query={{hash page=0 search="" category=null}}
            >
              {{t "roadSignConcept.landingPage.button"}}
            </LinkTo>
          </c.footer>
        </AuCard>
      </li>
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <AuCard @flex={{true}} as |c|>
          <c.header @badgeSkin="brand" @badgeIcon="alert-triangle">
            <AuHeading @level="2" @skin="4">
              {{t "roadMarkingConcept.name"}}
            </AuHeading>
            <p>
              {{t "roadMarkingConcept.landingPage.subtitle"}}
            </p>
          </c.header>
          <c.content>
            <p>
              {{t "roadMarkingConcept.landingPage.content"}}
            </p>
          </c.content>
          <c.footer>
            <LinkTo
              class="au-c-button"
              @route="road-marking-concepts"
              @query={{hash page=0 search="" category=null}}
            >
              {{t "roadMarkingConcept.landingPage.button"}}
            </LinkTo>
          </c.footer>
        </AuCard>
      </li>
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <AuCard @flex={{true}} as |c|>
          <c.header @badgeSkin="brand" @badgeIcon="alert-triangle">
            <AuHeading @level="2" @skin="4">
              {{t "trafficLightConcept.name"}}
            </AuHeading>
            <p>
              {{t "trafficLightConcept.landingPage.subtitle"}}
            </p>
          </c.header>
          <c.content>
            <p>
              {{t "trafficLightConcept.landingPage.content"}}
            </p>
          </c.content>
          <c.footer>
            <LinkTo
              class="au-c-button"
              @route="traffic-light-concepts"
              @query={{hash page=0 search="" category=null}}
            >
              {{t "trafficLightConcept.landingPage.button"}}
            </LinkTo>
          </c.footer>
        </AuCard>
      </li>
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <AuCard @flex={{true}} as |c|>
          <c.header @badgeSkin="brand" @badgeIcon="alert-triangle">
            <AuHeading @level="2" @skin="4">
              {{t "TrafficMeasureConcept.name"}}
            </AuHeading>
            <p>
              {{t "TrafficMeasureConcept.landingPage.subtitle"}}
            </p>
          </c.header>
          <c.content>
            <p>
              {{t "TrafficMeasureConcept.landingPage.content"}}
            </p>
          </c.content>
          <c.footer>
            <LinkTo
              class="au-c-button"
              @route="traffic-measure-concepts"
              @query={{hash page=0 search="" category=null}}
            >
              {{t "TrafficMeasureConcept.landingPage.button"}}
            </LinkTo>
          </c.footer>
        </AuCard>
      </li>
    </ul>
  </div>
</div>