{{! @glint-nocheck: not typesafe yet }}
<AuBodyContainer @scroll={{true}} itemprop="mainContentOfPage">
  {{#let (concat
    "assets/images/header-320.jpg" " 320w,"
    "assets/images/header-1024.jpg" " 1024w,"
    "assets/images/header-1600.jpg" " 1600w"
  ) as |srcSet|}}
    <AuContentHeader
      @titlePartOne={{t "login-page.header.title.part-one"}}
      @titlePartTwo={{t "login-page.header.title.part-two"}}
    >
      {{!-- template-lint-disable require-valid-alt-text --}}
    <img sizes="50vw" src="assets/images/header-1600.jpg" srcset={{srcSet}} alt={{t "login-page.header.image-alt"}}>
  </AuContentHeader>
  {{/let}}

    <main id="content">
      <div class="au-o-region-large">
        <div class="au-o-layout">
          {{#if this.showSimpleLogin}}
          <AuHeading @skin="4" class="au-u-margin-bottom-small">{{t 'auth.simple.title'}}</AuHeading>
          <MuLogin />
          {{else}}
          <AuHeading @skin="4" class="au-u-margin-bottom">{{t 'auth.acmidm.title'}}</AuHeading>
          <AuLinkExternal @skin='button' href={{this.loginUrl}} target=''>{{t 'auth.login'}}</AuLinkExternal>
          {{/if}}
        </div>
      </div>
    </main>
    <AuMainFooter>
      <AuHeading @level="3" @skin="4">
        {{t "login-page.footer.heading"}}
      </AuHeading>
      <AuContent @skin="small">
        <p>{{t "login-page.footer.published-by"}} <a class="au-c-link" href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">{{t "login-page.footer.abb"}}</a></p>
      </AuContent>
    </AuMainFooter>
</AuBodyContainer>
