{{!-- template-lint-disable no-bare-strings --}}
<AuBodyContainer @scroll={{true}} itemprop="mainContentOfPage">
  {{#let (concat
    "assets/images/header-320.jpg" " 320w,"
    "assets/images/header-1024.jpg" " 1024w,"
    "assets/images/header-1600.jpg" " 1600w"
  ) as |srcSet|}}
    <AuContentHeader @titlePartOne="Vlaanderen" @titlePartTwo="is lokaal bestuur">
      {{!-- template-lint-disable require-valid-alt-text --}}
    <img sizes="50vw" src="assets/images/header-1600.jpg" srcset={{srcSet}} alt="laptop met daarop het vlaanderen logo.">
  </AuContentHeader>
  {{/let}}

    <main id="content">
      <div class="au-o-region-large">
        <div class="au-o-layout">
          {{#if this.showSimpleLogin}}
          <AuHeading @skin="4" class="au-u-margin-bottom-small">{{t 'auth.simple.title'}}</AuHeading>
          <MuLogin />
          {{else}}
          <AuHeading @skin="4" class="au-u-margin-bottom">{{t 'auth.acmidm.title'}}</AuHeading>
          <AuLinkExternal @skin='button' href={{this.loginUrl}} target=''>{{t 'auth.login'}}</AuLinkExternal>
          {{/if}}
        </div>
      </div>
    </main>
    <AuMainFooter>
      <AuHeading @level="3" @skin="4">
        register.mobiliteit.vlaanderen.be is een officiële website van de Vlaamse overheid
      </AuHeading>
      <AuContent @skin="small">
        <p>Uitgegeven door <a class="au-c-link" href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">Agentschap Binnenlands Bestuur</a></p>
      </AuContent>
    </AuMainFooter>
</AuBodyContainer>
