{{page-title (t "traffic-light-concept.details")}}

<BreadcrumbsItem as |linkClass|>
  <LinkTo
    @route="traffic-light-concepts.traffic-light-concept"
    @model={{@model.trafficLightConcept.id}}
    class={{linkClass}}
  >
    {{@model.trafficLightConcept.trafficLightConceptCode}}
  </LinkTo>
</BreadcrumbsItem>

<div class="au-o-grid au-o-grid--flush au-o-grid--fixed">
  <div
    class="au-o-grid__item {{
      if
      this.showSidebar
      "au-u-3-5@medium au-u-visible-from@medium"
      "au-u-1-1@medium"
    }}"
  >
    <div class="au-c-body-container au-c-body-container--scroll">
      <AuToolbar @size="large">
        <AuToolbarGroup>
          <AuHeading @skin="2">
            {{t "traffic-light-concept.details"}}
          </AuHeading>
        </AuToolbarGroup>
      </AuToolbar>
      <AuToolbar @size="medium">
        <AuToolbarGroup class="au-c-toolbar__group--row">
          <ul class="au-o-grid">
            <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
              <img
                class="au-c-thumbnail au-c-thumbnail--full"
                alt=""
                role="presentation"
                src={{@model.trafficLightConcept.image}}
              />
            </li>
            <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
              <AuLabel>
                {{t "traffic-light-concept.attr.code"}}
              </AuLabel>
              <p>
                {{@model.trafficLightConcept.trafficLightConceptCode}}
              </p>
            </li>
            <li class="au-o-grid__item au-u-1-2 au-u-1-4@medium">
              <AuLabel>
                {{t "traffic-light-concept.attr.definition"}}
              </AuLabel>
              <p>
                {{@model.trafficLightConcept.definition}}
              </p>
            </li>
            <li class="au-o-grid__item au-u-1-2 au-u-1-4@medium">
              <AuLabel>
                {{t "traffic-light-concept.attr.meaning"}}
              </AuLabel>
              <p>
                {{@model.trafficLightConcept.meaning}}
              </p>
            </li>
            {{#unless this.showSidebar}}
              <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
                <ContentCheck @concept={{@model.trafficLightConcept}} />
              </li>
            {{/unless}}
          </ul>
        </AuToolbarGroup>
      </AuToolbar>
      <AuToolbar @border="bottom" @size="large">
        <AuToolbarGroup>
          <AuLink
            @skin="button"
            @route="traffic-light-concepts.edit"
            @model={{@model.trafficLightConcept.id}}
          >
            {{t "traffic-light-concept.crud.edit"}}
          </AuLink>
          <AuButton
            @skin="secondary"
            @alert={{true}}
            {{on "click" (fn (mut this.isOpen) true)}}
          >
            {{t "traffic-light-concept.crud.delete"}}
          </AuButton>
          <AuModal
            @modalTitle={{t "utility.confirmation.title"}}
            @modalOpen={{this.isOpen}}
            @closeModal={{fn (mut this.isOpen) false}} as |Modal|
          >
            <Modal.Body>
              <p>
                {{t "utility.confirmation.body"}}
              </p>
            </Modal.Body>
            <Modal.Footer>
              <AuButton
                @alert={{true}}
                {{on
                  "click"
                  (perform this.removeTrafficLightConcept @model.trafficLightConcept)
                }}
              >
                {{t "traffic-light-concept.crud.delete"}}
              </AuButton>
              <AuButton
                @skin="secondary"
                {{on "click" (fn (mut this.isOpen) false)}}
              >
                {{t "utility.cancel"}}
              </AuButton>
            </Modal.Footer>
          </AuModal>
        </AuToolbarGroup>
      </AuToolbar>
      <div
        class="au-c-body-container au-c-body-container--scroll au-c-body-container--tables"
      >
        <InstructionsTable
          @templates={{@model.trafficLightConcept.templates}}
          @removeTemplate={{perform this.removeTemplate}}
          @editInstruction={{this.editInstruction}}
          @addInstruction={{this.addInstruction}}
          @isAddingInstructions={{this.isAddingInstructions}}
        />
        <AuDataTable
          @content={{
            sort-by-road-sign-code
            (await @model.trafficLightConcept.relatedRoadSignConcepts)
          }}
          @fields="Image Meaning Code Categories"
          @noDataMessage={{t "road-sign-concept.crud.no-data"}}
          class="container-flex--contain table-no-overflow" as |s|
        >
          <s.menu as |menu|>
            <menu.general>
              <AuToolbar class="au-o-box">
                <AuToolbarGroup>
                  <AuHeading @level="2" @skin="3">
                    {{t "traffic-light-concept.attr.related-sign"}}
                  </AuHeading>
                </AuToolbarGroup>
                <AuToolbarGroup>
                  <AuButton {{on "click" this.toggleAddRelatedRoadSigns}}>
                    {{t "related-road-sign.crud.add"}}
                  </AuButton>
                </AuToolbarGroup>
              </AuToolbar>
            </menu.general>
          </s.menu>
          <s.content as |c|>
            <c.header>
              <th class="data-table__header-title">
                {{t "road-sign-concept.attr.code"}}
              </th>
              <th class="data-table__header-title">
                {{t "road-sign-concept.attr.image-header"}}
              </th>
              <th class="data-table__header-title">
                {{t "road-sign-concept.attr.meaning"}}
              </th>
              <th class="data-table__header-title">
                {{t "road-sign-concept.attr.categories"}}
              </th>
              <th>
                <span class="au-u-hidden-visually">
                  {{t "related-road-sign.crud.delete"}}
                </span>
              </th>
            </c.header>
            <c.body as |relatedRoadSignConcept|>
              <td>
                {{relatedRoadSignConcept.roadSignConceptCode}}
              </td>
              <td>
                <img
                  class="road-sign-image"
                  src={{relatedRoadSignConcept.image}}
                  alt=""
                  role="presentation"
                />
              </td>
              <td>
                <p class="max-w-prose">
                  {{relatedRoadSignConcept.meaning}}
                </p>
              </td>
              <td>
                {{#each relatedRoadSignConcept.categories as |category|}}
                  {{category.label}}
                {{/each}}
              </td>
              <td class="w-px au-u-padding-right-small">
                <AuButton
                  @icon="bin"
                  @alert={{true}}
                  @skin="secondary"
                  @hideText={{true}}
                  {{on
                    "click"
                    (perform this.removeRelatedRoadSign relatedRoadSignConcept)
                  }}
                >
                  {{t "related-road-sign.crud.delete"}}
                </AuButton>
              </td>
            </c.body>
          </s.content>
        </AuDataTable>
        <AuDataTable
          @content={{
            sort-by-road-marking-code
            (await @model.trafficLightConcept.relatedRoadMarkingConcepts)
          }}
          @fields="Image Meaning Code Categories"
          @noDataMessage={{t "traffic-light-concept.crud.no-data"}}
          class="container-flex--contain table-no-overflow" as |s|
        >
          <s.menu as |menu|>
            <menu.general>
              <AuToolbar class="au-o-box">
                <AuToolbarGroup>
                  <AuHeading @level="2" @skin="3">
                    {{t "traffic-light-concept.attr.related-marking"}}
                  </AuHeading>
                </AuToolbarGroup>
                <AuToolbarGroup>
                  <AuButton {{on "click" this.toggleAddRelatedRoadMarkings}}>
                    {{t "related-road-marking.crud.add"}}
                  </AuButton>
                </AuToolbarGroup>
              </AuToolbar>
            </menu.general>
          </s.menu>
          <s.content as |c|>
            <c.header>
              <th class="data-table__header-title">
                {{t "road-marking-concept.attr.code"}}
              </th>
              <th class="data-table__header-title">
                {{t "road-marking-concept.attr.image-header"}}
              </th>
              <th class="data-table__header-title">
                {{t "road-marking-concept.attr.definition"}}
              </th>
              <th class="data-table__header-title">
                {{t "road-marking-concept.attr.meaning"}}
              </th>
              <th>
                <span class="au-u-hidden-visually">
                  {{t "related-road-marking.crud.delete"}}
                </span>
              </th>
            </c.header>
            <c.body as |relatedRoadMarkingConcept|>
              <td>
                {{relatedRoadMarkingConcept.roadMarkingConceptCode}}
              </td>
              <td>
                <img
                  class="road-marking-image"
                  src={{relatedRoadMarkingConcept.image}}
                  alt=""
                  role="presentation"
                />
              </td>
              <td>
                <p class="max-w-prose">
                  {{relatedRoadMarkingConcept.definition}}
                </p>
              </td>
              <td>
                <p class="max-w-prose">
                  {{relatedRoadMarkingConcept.meaning}}
                </p>
              </td>
              <td class="w-px au-u-padding-right-small">
                <AuButton
                  @icon="bin"
                  @alert={{true}}
                  @skin="secondary"
                  @hideText={{true}}
                  {{on
                    "click"
                    (perform this.removeRelatedRoadMarking relatedRoadMarkingConcept)
                  }}
                >
                  {{t "related-road-marking.crud.delete"}}
                </AuButton>
              </td>
            </c.body>
          </s.content>
        </AuDataTable>
        <AuDataTable
          @content={{
            sort-by-traffic-light-code
            (await @model.trafficLightConcept.relatedTrafficLightConcepts)
          }}
          @fields="Image Meaning Code"
          @noDataMessage={{t "traffic-light-concept.crud.no-data"}} as |s|
        >
          <s.menu as |menu|>
            <menu.general>
              <AuToolbar class="au-o-box">
                <AuToolbarGroup>
                  <AuHeading @level="2" @skin="3">
                    {{t "traffic-light-concept.attr.related-traffic-light"}}
                  </AuHeading>
                </AuToolbarGroup>
                <AuToolbarGroup>
                  <AuButton {{on "click" this.toggleAddRelatedTrafficLights}}>
                    {{t "related-traffic-light.crud.add"}}
                  </AuButton>
                </AuToolbarGroup>
              </AuToolbar>
            </menu.general>
          </s.menu>
          <s.content as |c|>
            <c.header>
              <th class="data-table__header-title">
                {{t "traffic-light-concept.attr.code"}}
              </th>
              <th class="data-table__header-title">
                {{t "traffic-light-concept.attr.image-header"}}
              </th>
              <th class="data-table__header-title">
                {{t "traffic-light-concept.attr.definition"}}
              </th>
              <th>
                <span class="au-u-hidden-visually">
                  {{t "related-traffic-light.crud.delete"}}
                </span>
              </th>
            </c.header>
            <c.body as |relatedTrafficLightConcept|>
              <td>
                {{relatedTrafficLightConcept.trafficLightConceptCode}}
              </td>
              <td>
                <img
                  class="au-c-thumbnail"
                  src={{relatedTrafficLightConcept.image}}
                  alt=""
                  role="presentation"
                />
              </td>
              <td>
                <p class="max-w-prose">
                  {{relatedTrafficLightConcept.definition}}
                </p>
              </td>
              <td class="w-px au-u-padding-right-small">
                <AuButton
                  @icon="bin"
                  @alert={{true}}
                  @skin="secondary"
                  @hideText={{true}}
                  {{on
                    "click"
                    (perform
                      this.removeRelatedTrafficLight relatedTrafficLightConcept
                    )
                  }}
                >
                  {{t "related-traffic-light.crud.delete"}}
                </AuButton>
              </td>
            </c.body>
          </s.content>
        </AuDataTable>
      </div>
    </div>
  </div>
  {{#if this.isAddingRelatedRoadSigns}}
    <div class="au-o-grid__item au-u-2-5@medium">
      <div
        class="au-c-body-container au-c-action-sidebar"
        {{auto-focus ".au-c-action-sidebar__header"}}
      >
        <div class="au-o-box au-c-action-sidebar__header" tabindex="0">
          <AuToolbar class="au-u-margin-bottom-small">
            <AuToolbarGroup>
              <AuHeading @level="2" @skin="3">
                {{t "related-road-sign.crud.add"}}
              </AuHeading>
            </AuToolbarGroup>
            <button
              type="button"
              class="au-c-close au-c-close--large"
              {{on "click" this.toggleAddRelatedRoadSigns}}
            >
              <AuIcon @icon="cross" @size="large" />
              <span class="au-u-hidden-visually">
                {{t "utility.close"}}
              </span>
            </button>
          </AuToolbar>
          <AuContent @skin="small">
            <AuLabel>
              {{t "related-road-sign.attr.category"}}
            </AuLabel>
            <PowerSelect
              @allowClear={{true}}
              @searchEnabled={{true}}
              @noMatchesMessage={{t "road-sign-concept.crud.no-data"}}
              @searchField="label"
              @options={{@model.roadSignCategories}}
              @selected={{this.category}}
              @onChange={{perform this.handleCategorySelection}} as |category|
            >
              {{category.label}}
            </PowerSelect>
          </AuContent>
        </div>
        <div class="au-c-body-container au-c-body-container--scroll">
          {{#if this.category}}
            {{#each
              (sort-by-road-sign-code
                this.categoryRoadSigns
              ) as |relatedRoadSignByCategory|
            }}
              <SidebarRoadSign
                @imageUrl={{relatedRoadSignByCategory.image}}
                @code={{relatedRoadSignByCategory.roadSignConceptCode}}
                @meaning={{relatedRoadSignByCategory.meaning}}
                @onAdd={{perform this.addRelatedRoadSign relatedRoadSignByCategory}}
                @addText={{t "related-road-sign.crud.add-one"}}
                class="au-c-action-sidebar__item"
              />
            {{/each}}
          {{/if}}
        </div>
      </div>
    </div>
  {{/if}}
  {{#if this.isAddingRelatedRoadMarkings}}
    <div class="au-o-grid__item au-u-2-5@medium">
      <div
        class="au-c-body-container au-c-action-sidebar"
        {{auto-focus ".au-c-action-sidebar__header"}}
      >
        <div class="au-o-box au-c-action-sidebar__header" tabindex="0">
          <AuToolbar class="au-u-margin-bottom-small">
            <AuToolbarGroup>
              <AuHeading @level="2" @skin="3">
                {{t "related-road-marking.crud.add"}}
              </AuHeading>
            </AuToolbarGroup>
            <button
              type="button"
              class="au-c-close au-c-close--large"
              {{on "click" this.toggleAddRelatedRoadMarkings}}
            >
              <AuIcon @icon="cross" @size="large" />
              <span class="au-u-hidden-visually">
                {{t "utility.close"}}
              </span>
            </button>
          </AuToolbar>
          <div class="au-c-data-table__search">
            <AuInput
              @value={{this.relatedRoadMarkingCodeFilter}}
              placeholder={{t "related-road-marking.filter.code"}}
              @icon="search"
              @iconAlignment="right"
              {{on "input" this.setRelatedRoadMarkingCodeFilter}}
              {{auto-focus}}
            />
          </div>
        </div>
        <div class="au-c-body-container au-c-body-container--scroll">
          {{#each
            (sort-by-road-marking-code
              this.roadMarkings
            ) as |relatedRoadMarking|
          }}
            <SidebarRoadSign
              @imageUrl={{relatedRoadMarking.image}}
              @code={{relatedRoadMarking.roadSignConceptCode}}
              @meaning={{relatedRoadMarking.definition}}
              @onAdd={{perform this.addRelatedRoadMarking relatedRoadMarking}}
              @addText={{t "related-road-marking.crud.add-one"}}
              class="au-c-action-sidebar__item"
            />
          {{/each}}
          {{#if this.category}}
            {{#each
              (sort-by-road-marking-code
                this.categoryRoadMarkings
              ) as |relatedRoadMarkingByCategory|
            }}
              <SidebarRoadMarking
                @imageUrl={{relatedRoadMarkingByCategory.image}}
                @code={{relatedRoadMarkingByCategory.roadMarkingConceptCode}}
                @meaning={{relatedRoadMarkingByCategory.meaning}}
                @onAdd={{
                  perform this.addRelatedRoadMarking relatedRoadMarkingByCategory
                }}
                @addText={{t "related-road-marking.crud.add-one"}}
                class="au-c-action-sidebar__item"
              />
            {{/each}}
          {{/if}}
        </div>
      </div>
    </div>
  {{/if}}
  {{#if this.isAddingRelatedTrafficLights}}
    <div class="au-o-grid__item au-u-2-5@medium">
      <div
        class="au-c-body-container au-c-action-sidebar"
        {{auto-focus ".au-c-action-sidebar__header"}}
      >
        <div class="au-o-box au-c-action-sidebar__header" tabindex="0">
          <AuToolbar class="au-u-margin-bottom-small">
            <AuToolbarGroup>
              <AuHeading @level="2" @skin="3">
                {{t "related-traffic-light.crud.add"}}
              </AuHeading>
            </AuToolbarGroup>
            <button
              type="button"
              class="au-c-close au-c-close--large"
              {{on "click" this.toggleAddRelatedTrafficLights}}
            >
              <AuIcon @icon="cross" @size="large" />
              <span class="au-u-hidden-visually">
                {{t "utility.close"}}
              </span>
            </button>
          </AuToolbar>
          <div class="au-c-data-table__search">
            <AuInput
              @value={{this.relatedTrafficLightCodeFilter}}
              placeholder={{t "related-traffic-light.filter.code"}}
              @icon="search"
              @iconAlignment="right"
              {{on "input" this.setRelatedTrafficLightCodeFilter}}
              {{auto-focus}}
            />
          </div>
        </div>
        <div class="au-c-body-container au-c-body-container--scroll">
          {{#each
            (sort-by-traffic-light-code
              this.trafficLights
            ) as |relatedTrafficLight|
          }}
            <SidebarRoadSign
              @imageUrl={{relatedTrafficLight.image}}
              @code={{relatedTrafficLight.roadSignConceptCode}}
              @meaning={{relatedTrafficLight.definition}}
              @onAdd={{perform this.addRelatedTrafficLight relatedTrafficLight}}
              @addText={{t "related-traffic-light.crud.add-one"}}
              class="au-c-action-sidebar__item"
            />
          {{/each}}

          {{#if this.category}}
            {{#each
              (sort-by-traffic-light-code
                this.categoryTrafficLights
              ) as |relatedTrafficLightByCategory|
            }}
              <SidebarTrafficLight
                @imageUrl={{relatedTrafficLightByCategory.image}}
                @code={{relatedTrafficLightByCategory.TrafficLightConceptCode}}
                @meaning={{relatedTrafficLightByCategory.meaning}}
                @onAdd={{
                  perform this.addRelatedTrafficLight relatedTrafficLightByCategory
                }}
                @addText={{t "related-traffic-light.crud.add-one"}}
                class="au-c-action-sidebar__item"
              />
            {{/each}}
          {{/if}}
        </div>
      </div>
    </div>
  {{/if}}
  {{outlet}}
</div>
