{{page-title (t "traffic-light-concept.details")}}
<BreadcrumbsItem as |linkClass|>
  <LinkTo
    @route="traffic-light-concepts.traffic-light-concept"
    @model={{@model.mainConcept.id}}
    class={{linkClass}}
  >
    {{@model.mainConcept.trafficLightConceptCode}}
  </LinkTo>
</BreadcrumbsItem>

<AuToolbar @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">
      {{t "traffic-light-concept.details"}}
    </AuHeading>
  </Group>
</AuToolbar>
<AuToolbar @size="medium" as |Group|>
  <Group class="au-c-toolbar__group--row">
    <ul class="au-o-grid">
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <img
          class="au-c-thumbnail"
          alt=""
          role="presentation"
          src={{@model.mainConcept.image}}
        />
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>
          {{t "traffic-light-concept.attr.code"}}
        </AuLabel>
        <p>
          {{@model.mainConcept.TrafficLightConceptCode}}
        </p>
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>
          {{t "traffic-light-concept.attr.meaning"}}
        </AuLabel>
        <p>
          {{@model.mainConcept.meaning}}
        </p>
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <ContentCheck @concept={{@model.mainConcept}} />
      </li>
    </ul>
  </Group>
</AuToolbar>
<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuLink
      @skin="button"
      @route="traffic-light-concepts.edit"
      @model={{@model.mainConcept.id}}
    >
      {{t "traffic-light-concept.crud.edit"}}
    </AuLink>
    <AuButton
      @skin="secondary"
      @alert={{true}}
      {{on "click" (fn (mut this.isOpen) true)}}
    >
      {{t "traffic-light-concept.crud.delete"}}
    </AuButton>

    <AuModal
      @modalTitle={{t "utility.confirmation.title"}}
      @modalOpen={{this.isOpen}}
      @closeModal={{fn (mut this.isOpen) false}} as |Modal|
    >
      <Modal.Body>
        <p>
          {{t "utility.confirmation.body"}}
        </p>
      </Modal.Body>
      <Modal.Footer>
        <AuButton
          @alert={{true}}
          {{on
            "click"
            (perform this.removeTrafficLightConcept @model.mainConcept)
          }}
        >
          {{t "traffic-light-concept.crud.delete"}}
        </AuButton>
        <AuButton
          @skin="secondary"
          {{on "click" (fn (mut this.isOpen) false)}}
        >
          {{t "utility.cancel"}}
        </AuButton>
      </Modal.Footer>
    </AuModal>
  </Group>
</AuToolbar>
<div class="au-o-box">
  {{outlet}}
</div>
