{{page-title (t "trafficLightConcept.details")}}

<BreadcrumbsItem as |linkClass|>
  <LinkTo
    @route="traffic-light-concepts.traffic-light-concept"
    @model={{@model.trafficLightConcept.id}}
    class={{linkClass}}
  >
    {{@model.trafficLightConcept.trafficLightConceptCode}}
  </LinkTo>
</BreadcrumbsItem>

<div class="au-o-grid au-o-grid--flush au-o-grid--fixed">
  <div
    class="au-o-grid__item {{
      if
      this.showSidebar
      "au-u-3-5@medium au-u-visible-from@medium"
      "au-u-1-1@medium"
    }}"
  >
    <div class="au-c-body-container au-c-body-container--scroll">
      <AuToolbar @size="large">
        <AuToolbarGroup>
          <AuHeading @skin="2">
            {{t "trafficLightConcept.details"}}
          </AuHeading>
        </AuToolbarGroup>
      </AuToolbar>
      <AuToolbar @size="medium">
        <AuToolbarGroup class="au-c-toolbar__group--row">
          <ul class="au-o-grid">
            <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
              <img
                class="au-c-thumbnail au-c-thumbnail--full"
                alt=""
                role="presentation"
                src={{@model.trafficLightConcept.image}}
              />
            </li>
            <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
              <AuLabel>
                {{t "trafficLightConcept.attr.code"}}
              </AuLabel>
              <p>
                {{@model.trafficLightConcept.trafficLightConceptCode}}
              </p>
            </li>
            <li class="au-o-grid__item au-u-1-2 au-u-1-3@medium">
              <AuLabel>
                {{t "trafficLightConcept.attr.definition"}}
              </AuLabel>
              <p>
                {{@model.trafficLightConcept.definition}}
              </p>
            </li>
            <li class="au-o-grid__item au-u-1-2 au-u-1-3@medium">
              <AuLabel>
                {{t "trafficLightConcept.attr.meaning"}}
              </AuLabel>
              <p>
                {{@model.trafficLightConcept.meaning}}
              </p>
            </li>
          </ul>
        </AuToolbarGroup>
      </AuToolbar>
      <AuToolbar @border="bottom" @size="large">
        <AuToolbarGroup>
          <AuLink
            @skin="button"
            @route="traffic-light-concepts.edit"
            @model={{@model.trafficLightConcept.id}}
          >
            {{t "trafficLightConcept.crud.edit"}}
          </AuLink>
          <AuButton
            @skin="secondary"
            @alert={{true}}
            {{on "click" (fn (mut this.isOpen) true)}}
          >
            {{t "trafficLightConcept.crud.delete"}}
          </AuButton>
          <AuModal
            @modalTitle={{t "utility.confirmation.title"}}
            @modalOpen={{this.isOpen}}
            @closeModal={{fn (mut this.isOpen) false}} as |Modal|
          >
            <Modal.Body>
              <p>
                {{t "utility.confirmation.body"}}
              </p>
            </Modal.Body>
            <Modal.Footer>
              <AuButton
                @alert={{true}}
                {{on
                  "click"
                  (fn
                    this.removeTrafficLightConcept @model.trafficLightConcept
                  )
                }}
              >
                {{t "trafficLightConcept.crud.delete"}}
              </AuButton>
              <AuButton
                @skin="secondary"
                {{on
                  "click"
                  (fn (mut this.isOpen) false)
                }}
              >
                {{t "utility.cancel"}}
              </AuButton>
            </Modal.Footer>
          </AuModal>
        </AuToolbarGroup>
      </AuToolbar>
      <div
        class="au-c-body-container au-c-body-container--scroll au-c-body-container--tables"
      >
        <InstructionsTable
          @templates={{@model.trafficLightConcept.templates}}
          @toggleInstructions={{this.toggleInstructions}}
          @removeTemplate={{this.removeTemplate}}
          @editInstruction={{this.editInstruction}}
        />
        <AuDataTable
          @content={{
            sort-by-traffic-light-code
            @model.trafficLightConcept.relatedTrafficLightConcepts
          }}
          @fields="Image Meaning Code"
          @noDataMessage={{t "trafficLightConcept.crud.noData"}}
          as |s|
        >
          <s.menu as |menu|>
            <menu.general>
              <AuToolbar class="au-o-box">
                <AuToolbarGroup>
                  <AuHeading @level="2" @skin="3">
                    {{t "trafficLightConcept.attr.relatedTrafficLight"}}
                  </AuHeading>
                </AuToolbarGroup>
                <AuToolbarGroup>
                  <AuButton {{on "click" this.toggleAddRelatedTrafficLights}}>
                    {{t "relatedTrafficLight.crud.add"}}
                  </AuButton>
                </AuToolbarGroup>
              </AuToolbar>
            </menu.general>
          </s.menu>
          <s.content as |c|>
            <c.header>
              <th class="data-table__header-title">
                {{t "trafficLightConcept.attr.code"}}
              </th>
              <th class="data-table__header-title">
                {{t "trafficLightConcept.attr.imageHeader"}}
              </th>
              <th class="data-table__header-title">
                {{t "trafficLightConcept.attr.definition"}}
              </th>
              <th>
                <span class="au-u-hidden-visually">
                  {{t "relatedTrafficLight.crud.delete"}}
                </span>
              </th>
            </c.header>
            <c.body as |relatedTrafficLightConcept|>
              <td>
                {{relatedTrafficLightConcept.trafficLightConceptCode}}
              </td>
              <td>
                <img
                  class="au-c-thumbnail"
                  src={{relatedTrafficLightConcept.image}}
                  alt=""
                  role="presentation"
                />
              </td>
              <td>
                <p class="max-w-prose">
                  {{relatedTrafficLightConcept.definition}}
                </p>
              </td>
              <td class="w-px au-u-padding-right-small">
                <AuButton
                  @icon="bin"
                  @alert={{true}}
                  @skin="secondary"
                  @hideText={{true}}
                  {{on
                    "click"
                    (fn
                      this.removeRelatedTrafficLight relatedTrafficLightConcept
                    )
                  }}
                >
                  {{t "relatedTrafficLight.crud.delete"}}
                </AuButton>
              </td>
            </c.body>
          </s.content>
        </AuDataTable>
      </div>
      <ContentCheck @concept={{@model.trafficLightConcept}}/>
    </div>
  </div>
  {{#if this.isAddingRelatedTrafficLights}}
    <div class="au-o-grid__item au-u-2-5@medium">
      <div
        class="au-c-body-container au-c-action-sidebar"
        {{auto-focus ".au-c-action-sidebar__header"}}
      >
        <div class="au-o-box au-c-action-sidebar__header" tabindex="0">
          <AuToolbar class="au-u-margin-bottom-small">
            <AuToolbarGroup>
              <AuHeading @level="2" @skin="3">
                {{t "relatedTrafficLight.crud.add"}}
              </AuHeading>
            </AuToolbarGroup>
            <button
              type="button"
              class="au-c-close au-c-close--large"
              {{on "click" this.toggleAddRelatedTrafficLights}}
            >
              <AuIcon @icon="cross" @size="large" />
              <span class="au-u-hidden-visually">
                {{t "utility.close"}}
              </span>
            </button>
          </AuToolbar>
          <div class="au-c-data-table__search">
            <input
              value={{this.relatedTrafficLightCodeFilter}}
              placeholder={{t "relatedTrafficLight.filter.code"}}
              class="au-c-input au-c-input--block"
              {{on "input" this.setRelatedTrafficLightCodeFilter}}
              {{auto-focus}}
            />
            <span class="au-c-data-table__search-icon">
              <AuIcon @icon="search" @size="large" />
            </span>
          </div>
        </div>
        <div class="au-c-body-container au-c-body-container--scroll">
          {{#each
            (sort-by-traffic-light-code
              this.trafficLights
            ) as |relatedTrafficLight|
          }}
            <SidebarRoadSign
              @imageUrl={{relatedTrafficLight.image}}
              @code={{relatedTrafficLight.roadSignConceptCode}}
              @meaning={{relatedTrafficLight.definition}}
              @onAdd={{fn this.addRelatedTrafficLight relatedTrafficLight}}
              @addText={{t "relatedTrafficLight.crud.addOne"}}
              class="au-c-action-sidebar__item"
            />
          {{/each}}

          {{#if this.category}}
            {{#each
              (sort-by-traffic-light-code
                this.categoryTrafficLights
              ) as |relatedTrafficLightByCategory|
            }}
              <SidebarTrafficLight
                @imageUrl={{relatedTrafficLightByCategory.image}}
                @code={{relatedTrafficLightByCategory.TrafficLightConceptCode}}
                @meaning={{relatedTrafficLightByCategory.meaning}}
                @onAdd={{
                  fn this.addRelatedTrafficLight relatedTrafficLightByCategory
                }}
                @addText={{t "relatedTrafficLight.crud.addOne"}}
                class="au-c-action-sidebar__item"
              />
            {{/each}}
          {{/if}}
        </div>
      </div>
    </div>
  {{/if}}
  {{#if this.isAddingInstructions}}
    <AddInstruction
      @toggleInstructions={{this.toggleInstructions}}
      @addInstruction={{this.addInstruction}}
      @resetInstruction={{this.resetInstruction}}
      @newDescription={{this.newDescription}}
      @updateInstruction={{this.updateInstruction}}
      @editedTemplate={{this.editedTemplate}}
    />
  {{/if}}
</div>
