{{page-title
  (t "traffic-light-concept.details" label=@model.trafficLightConcept.label)
}}

<BreadcrumbsItem as |linkClass|>
  <LinkTo
    @route="traffic-light-concepts.traffic-light-concept"
    @model={{@model.trafficLightConcept.id}}
    class={{linkClass}}
  >
    {{t "traffic-light-concept.details" label=@model.trafficLightConcept.label}}
  </LinkTo>
</BreadcrumbsItem>

<SidebarContainer>
  <:sidebar>
    <h2 class="au-u-hidden-visually">{{t "utility.properties"}}</h2>
    <div class="au-o-box">
      <div
        class="au-u-margin-top-large au-u-margin-bottom-large au-u-text-center"
      >
        <img
          class="au-c-thumbnail au-c-thumbnail--full"
          alt=""
          src={{@model.trafficLightConcept.image.file.downloadLink}}
        />
      </div>

      <dl class="au-o-flow">
        <div>
          <dt class="au-u-h5 au-u-medium">
            {{t "utility.validation-status"}}
          </dt>
          <dd class="au-u-muted">
            <ValidationStatus @valid={{@model.trafficLightConcept.valid}} />
            <div class="au-u-margin-top-small">
              <ContentCheck @concept={{@model.trafficLightConcept}} />
            </div>
          </dd>
        </div>
        <div>
          <dt class="au-u-h5 au-u-medium">
            {{t "utility.ar-plichtig"}}
          </dt>
          <dd class="au-u-muted">
            <ArPlichtigStatus @status={{@model.trafficLightConcept.arPlichtig}} />
          </dd>
        </div>
        <div>
          <dt class="au-u-h5 au-u-medium">
            {{t "road-sign-concept.attr.label"}}
          </dt>
          <dd class="au-u-muted">
            {{@model.trafficLightConcept.label}}
          </dd>
        </div>
        <div>
          <dt class="au-u-h5 au-u-medium">
            {{t "road-sign-concept.attr.meaning"}}
          </dt>
          <dd class="au-u-muted">
            {{@model.trafficLightConcept.meaning}}
          </dd>
        </div>
        <div>
          <dt class="au-u-h5 au-u-medium">
            {{t "utility.start-date"}}
          </dt>
          <dd class="au-u-muted">
            {{human-friendly-date @model.trafficLightConcept.startDate locale=this.intl.primaryLocale}}
          </dd>
        </div>
        <div>
          <dt class="au-u-h5 au-u-medium">
            {{t "utility.end-date"}}
          </dt>
          <dd class="au-u-muted">
            {{human-friendly-date @model.trafficLightConcept.endDate locale=this.intl.primaryLocale}}
          </dd>
        </div>
      </dl>
    </div>
  </:sidebar>
  <:content>
    {{outlet}}
  </:content>
</SidebarContainer>